/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cookie-warning-banner-view {
	@extend .global-views-message;
	@extend .global-views-message-info;
}

.cookie-warning-banner-view-close-button {
	@extend .global-views-message-button;
}