{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div id="back-to-top" class="global-views-back-to-top">
	<a href="#" data-action="back-to-top">
		<i class="global-views-back-to-top-icon"></i>
		{{translate 'Back to Top'}}
	</a>
</div>



{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
