{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}


<div class="global-views-showing-current {{extraClass}}">
	<p>{{translate 'Showing $(0) - $(1) of $(2)' firstItem lastItem totalItems}} {{order_text}}</p>
</div>




{{!----
Use the following context variables when customizing this template: 
	
	orderText (String)
	firstItem (Number)
	lastItem (Number)
	totalItems (Number)

----}}
