/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Bridge Theme */

body{
    @extend %scroll-y;
    font-size:$sc-font-size-base;
}

// Font styles
//
// Markup:
// <h1>H1 heading</h1><br/>
// <h2>H2 heading</h2><br/>
// <h3>H3 heading</h3><br/>
// <h4>H4 heading</h4><br/>
// <h5>H5 heading</h5><br/>
// <p>Lorem ipsum dolor sit amet</p>
// <p><strong>Lorem ipsum dolor sit amet</strong></p>
// <p><small>Lorem ipsum dolor sit amet</small></p>
// <p><a href="#">Lorem ipsum dolor sit amet</a></p>
//
// Styleguide 2.2.1

h1,
h2,
h3,
h4,
h5 {
    color: $sc-color-theme-header;
    font-family: $sc-theme-secondary-font;
    font-weight:$sc-font-weight-light;
    text-transform: uppercase;
}
h1 {
    font-size: $sc-font-size-xxl;
    line-height: 1.2;

    @media (min-width: $screen-sm-min){
        font-size: $sc-font-size-xxxl;
    }
}
h2 {
    font-size: $sc-font-size-xl;

    @media (min-width: $screen-sm-min){
        font-size: $sc-font-size-xxl;
    }
}
h3 {
    font-size: $sc-font-size-l;

    @media (min-width: $screen-sm-min){
        font-size: $sc-font-size-xl;
    }
}
h4 {
    font-size: $sc-font-size-m;

    @media (min-width: $screen-md-min) {
        font-size: $sc-font-size-l;
    }
}
h5 {
    font-size: $sc-font-size-s;

    @media (min-width: $screen-md-min) {
        font-size: $sc-font-size-m;
    }
}
p {
    font-size: $sc-font-size-base;
    color: $sc-color-copy;
    line-height: 1.6;
}
small {
    font-size: $sc-font-size-xs;
    color: $sc-color-copy;
}
b {
    font-weight: $sc-font-weight-bold;
    color: $sc-color-copy;
}


// Titles styles
//
// .xsmall-title    - Product Titles XSmall & Product Titles XSmall navigatable
// .small-title     - Product Titles Small & Product Titles Small navigatable
// .middle-title    - Product Titles Medium & Product Titles Medium navigatable
// .large-title     - Product Titles Large & Product Titles Large navigatable
//
// Markup:
// <div class="xsmall-title">Lorem ipsum dolor sit amet</div>
// <div class="small-title">Lorem ipsum dolor sit amet</div>
// <div class="middle-title">Lorem ipsum dolor sit amet</div>
// <div class="large-title">Lorem ipsum dolor sit amet</div>
//
// Styleguide 2.2.2

.large-title{
    @extend h1;
    font-size: 32px !important;
    @media (min-width: $screen-md-min) {
        font-size: 36px !important;
    }
}

.large-title-navigable{
    @extend h1;
}

.large-title-viewonly{
    @extend h1;
    color: $sc-color-copy;
}

.medium-title,
.medium-title-navigable {
    //@extend %secondary-font;
    //text-transform: uppercase;
    font-size: $sc-font-size-base + 1;
}

.medium-title-viewonly{
    //@extend %secondary-font;
    //text-transform: uppercase;
    font-size: $sc-font-size-base + 1;
    color: $sc-color-copy;
}

.small-title{
    font-size: $sc-font-size-base;
    font-weight:$sc-font-weight-semibold;
}

.small-title-viewonly{
    font-size: $sc-font-size-base;
    font-weight:$sc-font-weight-semibold;
}

.small-title-navigable{
    font-size: $sc-font-size-base;
    font-weight:$sc-font-weight-semibold;
    color:$sc-color-theme;
}

.small-title-navigable:hover{
    color:$sc-color-link-hover;
    text-decoration:none;
}

.xsmall-title{
    font-size:$sc-font-size-base;
    color: $sc-color-copy;
    font-weight:$sc-font-weight-normal;
    text-transform: capitalize;
}

.xsmall-title-navigable{
    font-size:$sc-font-size-base;
    font-weight:$sc-font-weight-normal;
    text-transform: capitalize;
}

.xsmall-title-navigable:hover{
    text-decoration:underline;
}

.xsmall-title-viewonly{
    font-size:$sc-font-size-base;
    font-weight:$sc-font-weight-normal;
    text-transform: capitalize;
}

//  Price styles
//
// .old-price       - Old price
// .small-price     - Small price
// .middle-price    - Middle price
// .large-price     - Large price
//
// Markup:
// <div class="old-price">$100</div>
// <div class="small-price">$100</div>
// <div class="middle-price">$100</div>
// <div class="large-price">$100</div>
//
// Styleguide 2.2.3

.large-price{
    @extend h1;
    font-weight: $sc-font-weight-light;
}

.middle-price{
    font-size: $sc-font-size-base + 1;
}

.small-price{
    font-size: $sc-font-size-base - 1;
}

.old-price{
    font-size: $sc-font-size-base * 0.7;
    color: $sc-color-theme;
    text-decoration:line-through;
}

// SKU
//
// Markup:
// <p>
//     <span class="sc-sku-label">SKU: </span>
//     <span class="sc-sku-value">FARIDA D8-X OP ACOUSTIC GUITAR</span>
// </p>
//
// Styleguide 2.2.4

// Edited for Bridge Theme
.sc-sku-label {
    font-weight: $sc-font-weight-bold;
    padding-right: $sc-padding-lv1;
}

.sc-sku-value {
    font-weight: $sc-font-weight-normal;
}

// Labels
//
// Markup:
// <span class="sc-label">Color: </span><span class="sc-value">Blue</span>
//
// Styleguide 2.2.5

.sc-label {
    color: $sc-color-copy-light;
    font-size: $sc-font-size-s;
}

.sc-value {
    color: $sc-color-copy-dark;
    font-size: $sc-font-size-s;
}

.sc-highlighted {
    color: $sc-color-primary;
}

.sc-mobile-label {
    @media (min-width: $screen-sm-min){
        display: none;
    }
}