/*
    © 2017 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

%scroll-y{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

// avoid using BS mixin cause wont generate "-webkit-transform"
@mixin transition-transform($duration...) {

    -webkit-transition: -webkit-transform $duration;
    -moz-transition: -moz-transform $duration;
    -o-transition: -o-transform $duration;
    transition: transform $duration;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

//used for select arrow down
@mixin angle-down-background($color){
  $color-local: remove-hash-from-color($color);
  background-image:url("data:image/svg+xml;utf8,<svg width='2000px' height='2000px' fill='%23#{$color-local}' xmlns='http://www.w3.org/2000/svg'><path d='M1075 352q0 -13 -10 -23l-50 -50q-10 -10 -23 -10t-23 10l-393 393l-393 -393q-10 -10 -23 -10t-23 10l-50 50q-10 10 -10 23t10 23l466 466q10 10 23 10t23 -10l466 -466q10 -10 10 -23z'/></svg>");
}


@function remove-hash-from-color($color) {
  @return str-slice(ie-hex-str($color), 4);
}

//All placeholders equal
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


// Skewed buttons, nav etc for theme
@mixin skew-before($color,$distance,$height,$size){
    position:relative;

    &::before {
        content:"";
        position:absolute;
        left:$distance;
        top:0;
        z-index:1;
        display:block;
        width:0;
        height:0;
        border-top:$height solid transparent;
        border-left:0px solid transparent;
        border-bottom:0 solid $color;
        border-right:$size solid $color;
    }
}
//.example { @include skew-before(#cc0099,-13px,54px,14px); }

@mixin skew-after($color,$distance,$height,$size,$zindex){
    position:relative;

    &::after{
        content:"";
        position:absolute;
        right:$distance;
        top:0;
        z-index:$zindex;
        display:block;
        width:0;
        height:0;
        border-top:0 solid $color;
        border-left:$size solid $color;
        border-bottom:$height solid transparent;
        border-right:0 solid transparent;
    }
}
//.example  { @include skew-after(#cc0099,-13px,54px,14px,1); }

@mixin removeSkew(){
    &::before, &::after { display:none; }
}
//.example  { @include removeSkew(none); }