/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.product-details-full {}

.product-details-full-content {
	@media (min-width: $screen-md-min) {
		margin-top: $sc-margin-lv5;
	}
}

.product-details-full-main {
	.product-views-price-lead {
		@extend .large-price;
	}
	.product-views-price-old {
		font-size:$sc-font-size-base;
	}
}

.product-details-full-divider {

	margin: $sc-margin-lv5 0;
	height:1px;
	background-color: $sc-color-theme-background;
	clear:both;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.product-details-full-divider-desktop {
	display: none;
	@extend .product-details-full-divider;
	@media (min-width: $screen-md-min) {
		margin-top:20px;
		border: none;
		display: block;
	}
}

.product-details-full-main-content {
	@extend .container-fluid;
	@extend .row;
	@media (min-width: $screen-md-min) {
        margin-right: 0;
    }
}

.product-details-full-content-header {
    @extend .col-md-6;
	@extend .col-lg-5;
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}

	@media (min-width: $screen-md-min) {
		float: right !important;
	}
}

.product-details-full-rating {
	margin-top: $sc-margin-lv1;
	margin-bottom: $sc-margin-lv4;

	.global-views-star-rating {
		float: none;
	}
}

.product-details-full-image-gallery-container{
	margin-bottom: 0;

	@media (min-width: $screen-md-min) {
		margin-bottom: $sc-margin-lv8;
	}
}

.product-details-full-gallery-prev-icon, .product-details-full-gallery-next-icon{
	position: absolute;
	top: 40%;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	font-size: 35px;
	color:$sc-color-tertiary;
	text-align: center;
	line-height: 1;
	@extend .fa;
}
.product-details-full-gallery-prev-icon:focus, .product-details-full-gallery-next-icon:focus {
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px transparentize($sc-theme-color-overlay, 1-0.075),0 0 8px transparentize($sc-color-link, 1-0.6);
	box-shadow:inset 0 1px 1px transparentize($sc-theme-color-overlay, 1-0.075),0 0 8px transparentize($sc-color-link, 1-0.6);
}

.product-details-full-gallery-prev-icon{
	left: 30px;
    @extend %fa-angle-left;
    @extend .button-quaternary !optional;
}

.product-details-full-gallery-next-icon{
	right:10px;
    @extend %fa-angle-right;
    @extend .button-quaternary !optional;
}

.product-details-full-carousel-next{
	@extend .button-tertiary;
	@extend .button-small;
	margin-left:$sc-margin-lv2;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	right:0px;
    top:50%;
    padding: $sc-margin-base 13px;
	font-size: 25px;
}

.product-details-full-carousel-prev{
	@extend .button-tertiary;
	@extend .button-small;
	cursor:hand;
	position:absolute;
	left:0px;
    top:30%;
    padding: $sc-padding-base 13px;
	font-size: 25px;
}
.product-details-full-carousel-next.disabled,
.product-details-full-carousel-prev.disabled {
	display: none;
}
.control-text{
	display:none;
}

.product-details-full-price {
	margin-top:$sc-margin-lv2;
}

.product-details-full-price .item-views-price-lead {
	@extend .large-price;
}

.product-details-full-sku-container {
	margin-top: $sc-margin-lv6;
    margin-bottom: $sc-margin-lv1;
	color: $sc-color-senary;
}

.product-details-full-actions {
    margin-bottom: $sc-margin-lv2;
    margin-top: $sc-margin-lv2;
}

.product-details-full-add-to-cart-help{
	@extend .message-info;
	margin-top: $sc-margin-lv3;
}

.product-details-full-add-to-cart-help-icon{
	@extend .fa;
	@extend %fa-info-circle;
	margin-right: $sc-margin-lv1;
}

.product-details-full-actions-container {
    margin-left: -$sc-margin-lv2;
    margin-right: -$sc-margin-lv2;
    @extend .clearfix;

    .product-details-full-add-to-cart {
		position: static;
		padding-left: $sc-padding-lv2;
		padding-right: $sc-padding-lv2;
	    margin-top: $sc-margin-lv3;
		@media (min-width: $screen-lg-min) {
			width: 70%;
		}
	}

	.product-details-full-add-to-wishlist {
	    width: 100%;
	    display: inline-block;
	    position: static;
	    padding-left: $sc-padding-lv2;
	    padding-right: $sc-padding-lv2;
	    @media (min-width: $screen-sm-min) {
	        width: 50%;
	    }
	    @media (min-width: $screen-lg-min) {
	        width: 35%;
	    }
	}

	.cart-add-to-cart-button-container {
		padding-left: $sc-padding-lv2;
		padding-right: $sc-padding-lv2;
		@media (min-width: $screen-sm-min) {
			width: 100%;
		}
		@media (min-width: $screen-lg-min) {
			width: 70%;
		}
	}

	.cart-add-to-cart-button-button {
		@extend .button-primary;
	    @extend .button-large;
		@media (min-width: $screen-sm-min) {
			width: 100%;
		}
	}
}

.product-details-full-social-share {
	// @extend .message-box;
	// @extend .message-box-info;
	margin-bottom:$sc-margin-lv4;
}

.product-details-full-price-message {
    @extend .message;
 }

.product-details-full-price-msg-description {
	@extend .message-info;
	margin-top: $sc-margin-lv2;
    margin-bottom: $sc-margin-lv2;
}

.product-details-full-price-login-to-see-price {
	font-weight: normal;
}


// @media (min-width: $screen-md-min) {

// 	.product-details-full-image-gallery-container {
// 		float: left;
// 	}
// }

// .pdp-item-more-info-content {
// 	background: $sc-color-theme-background;

// 	@media (min-width: $screen-sm-min) {
// 		background: transparent;
// 		overflow: auto;
// 	}
// }

.product-details-full-action {
	display: none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}
.product-details-full-main-bottom-banner {
	margin-bottom: $sc-margin-lv4;
}

.product-details-full-rating-header {
	.global-views-star-rating-area {
		margin-right: $sc-margin-lv1;
	}
	.global-views-star-rating i {
		font-size: 20px;
	}
}


.product-details-full-main-content-left {
	@extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-offset-1;
	float:left;
	min-height:1px;
}

.product-details-full-main-content-right {
	@extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-5;
	min-height:1px;
	float:right;
	clear:right;
}

.product-details-full-actions-addtowishlist {
    width: 100%;
    display: inline-block;
    position: static;
    padding-left: $sc-padding-lv2;
    padding-right: $sc-padding-lv2;
    @media (min-width: $screen-sm-min) {
        width: 50%;
    }
    @media (min-width: $screen-lg-min) {
        width: 35%;
    }
}

// .product-details-full-actions-addtowishlist,
// .product-details-full-actions-addtoquote {
// 	@extend .col-sm-6;
// }

.product-details-full-social-sharing {}
.product-details-full-header{}
.product-details-full-banner-top{}
.product-details-full-banner-top-details{}
.product-details-full-content-header-title{
    font-size: $sc-font-size-xxxxl;
    color: $sc-color-theme;
}
.product-details-full-banner-summary-bottom{}
.product-details-full-banner-details-bottom{}
.product-details-full-content-related-items{}
.product-details-full-content-correlated-items{}
.product-details-full-sku-value{}
.product-details-full-add-to-cart-help-text{}
.product-details-full-add-to-cart-form{}
.product-details-full-rating-header-rating{}
.product-details-full-info{}
