/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited For Horizon Theme

.global-views-pagination {
	float: right;
}

.global-views-pagination-next-icon{
	@extend .icon-angle-right;
}

.global-views-pagination-prev-icon{
	@extend .icon-angle-left;
}

.global-views-pagination-links{
	@extend .pagination-links;
}

.global-views-pagination-prev{
	@extend .pagination-prev;
}

.global-views-pagination-prev-disabled{
	@extend .pagination-prev-disabled;
}

.global-views-pagination-disabled{
	@extend .pagination-disabled;
}

.global-views-pagination-links-number{
	@extend .pagination-links-number;
	a {
        color: $sc-color-theme;
    }
}

.global-views-pagination-active{
	@extend .pagination-active;
}

.global-views-pagination-next-disabled{
	@extend .pagination-next-disabled;
}

.global-views-pagination-next{
	@extend .pagination-next;
}

.global-views-pagination-count{
	@extend .pagination-count;
	color: #a0a7ae;
}

.global-views-pagination-links-compact{}
.global-views-pagination-links-number,
.global-views-pagination-next,
.global-views-pagination-prev {
    background-color: $sc-theme-color-background;
    border-left: 1px solid $sc-color-tertiary;
}
