/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.item-details-size-chart-link {
    @media (max-width: $screen-sm-min) {
        margin-top: $sc-margin-lv4;
        display: block;
    }
}

.size-chart {
    @extend .container-fluid;
    h2 {
        margin-bottom: $sc-margin-lv2;
    }
    h4, h5 {
        margin: $sc-margin-lv2 0 $sc-margin-base 0;
    }
    p {
        line-height: 1.2;
    }
    button:focus {
        outline: 0;
    }
}

.size-chart-content {
    @extend .row;
}

.size-chart-text {
    @extend .col-md-9;
    margin-bottom: $sc-margin-lv4;
}

.size-chart-image {
    @extend .col-md-3;
    margin-bottom: $sc-margin-lv4;
    img {
        @extend .center-block;
    }
}

.size-chart-show-unit-buttons {
    margin: $sc-margin-lv2 0;
}

.size-chart-unit-button {
    @extend .button-secondary;
    @extend .button-small;
}

.size-chart-unit-button-active {
    @extend .button-tertiary;
    @extend .button-small;
    &:hover {
        background-color: $sc-color-secondary !important;
        color: $sc-color-secondary !important;
    }
}

.size-chart-table-responsive, /* needed for legacy */
.size-chart-table-wrapper {
    @extend .table-responsive;
}

.size-chart-table {
    @extend .table;
    @extend .table-striped;
    & > tbody > tr:hover {
        color: #FFFFFF;
        background-color: $sc-color-secondary;
    }
    & thead {
        text-transform: uppercase;
    }
}