{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<button class="order-wizard-msr-package-details-actions-remove-button" data-action="remove-item" data-item-id="{{lineId}}">
	{{translate 'Remove from Shipment'}}
</button>
<button class="order-wizard-msr-package-details-actions-move-button" data-action="move-item" style="display: none;">
	{{translate 'Move'}}
</button>



{{!----
Use the following context variables when customizing this template: 
	
	lineId (String)

----}}
