/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-login-description{
	margin-top: $sc-margin-lv4;
	margin-bottom: $sc-margin-lv4;
}

.login-register-login-form-controls-group{
	margin-top: $sc-margin-lv4;
}

.login-register-login-form-label {}

.login-register-login-form-required {
	@extend .input-required;
}

.login-register-login-form-input {
	@extend .input-large;
}

.login-register-login-submit {
	@extend .button-large;
	@extend .button-primary;
}

.login-register-login-forgot {

	display:inline-block;
	margin-top: $sc-margin-lv4;

	@media (min-width: $screen-sm-min) {
		margin-top: 0;
		margin-left: $sc-margin-lv2;
	}
}

.login-register-login-form-messages {
	margin-top: $sc-margin-lv4;

	.global-views-message-error {
		@extend .message-error;
		margin-bottom: 0;
	}

	.global-views-message-button {
		display: none;
	}
}

.login-register-login-form-messages-timeout {
	@extend .global-views-message;
	@extend .global-views-message-error;
}

.login-register-login-form-controls-group {
	@extend .login-register-register-form-controls-group;
}


.login-register-login-form-controls {
	@extend .login-register-register-form-controls !optional;
}

.login-register-login-register-now{}
.login-register-login-title{}
.login-register-login-required{}
.login-register-login-form-fieldset{}
