/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-register-form-description{
	margin-top: $sc-margin-lv4;
	margin-bottom: $sc-margin-lv4;
}

.login-register-register-form-controls-group{
	margin-top: $sc-margin-lv4;
}

.login-register-register-form-controls{
}

.login-register-register-form-label {}

.login-register-register-form-required{
	@extend .input-required;
}

.login-register-register-form-input{
	@extend .input-large;
}

.login-register-register-form-submit{
	@extend .button-large;
	@extend .button-primary;
}

.login-register-register-form-messages{
	margin-top: $sc-margin-lv4;

	.global-views-message-error {
		@extend .message-error;
		margin-bottom: 0;
	}

	.global-views-message-button {
		display: none;
	}
}

.login-register-register-form-optional{
}

.login-register-register-form-help-block{
}

.login-register-register-form{
}

.login-register-register-required{
}