/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-reset-password-body {

	background-color: $sc-color-theme-background;
	margin-top: $sc-margin-lv4;
	margin-right: - $sc-margin-lv3;
	margin-left:  - $sc-margin-lv3;
	padding:$sc-padding-lv8 $sc-padding-lv4;

	@media (min-width: $screen-sm-min){
		margin-right: 0;
		margin-left:  0;
		padding: $sc-padding-lv8;
	}
}

.login-register-reset-password-form{
	margin-top: $sc-margin-lv2;
}
.login-register-reset-password-description{
	margin-top: $sc-margin-lv4;
}

.login-register-reset-password-control-group{
	margin-top: $sc-margin-lv4;
}

.login-register-reset-password-control-label {}

.forgot-password-form-required{
	@extend .input-required;
}

.login-register-reset-password-input{
	@extend .input-large;
}

.login-register-reset-password-submit{
	@extend .button-large;
	@extend .button-primary;
}

.login-register-reset-password-sign-in{
	display:inline-block;
	margin-top: $sc-margin-lv4;

	@media (min-width: $screen-sm-min){
		margin-top: 0;
		margin-left: $sc-margin-lv2;
	}
}

.login-register-reset-password-forgot-password-form-required{
	@extend .forgot-password-form-required;
}

.login-register-reset-password-title{}
.login-register-reset-password-form{}
.login-register-reset-password-controls{}
