/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.error-management-generic-logout-modal-content{
@extend .error-management-logged-out-modal-content !optional;
}
.error-management-generic-logout{
	@extend .error-management-logged-out !optional;
}
.error-management-generic-logout-warning-icon{
	@extend error-management-logged-out !optional;
}
.error-management-generic-logout-close-button{
		@extend .button-primary;
		@extend .button-medium;
}