/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

html,
body {
	font-family: $sc-theme-primary-font;
	font-weight: $sc-font-weight-light;
	background-color: $sc-theme-color-body-background;
    color: $sc-color-copy;
    //font-size: floor($sc-base-font-size * 0.94);
	font-size: $sc-font-size-base;
}

html, body {
	min-height:100%;
	height: auto;
}

body,
html,
div,
article,
aside,
section,
figure,
nav,
h1, h2, h3, h4, h5, h6,
p, pre, blockquote, ul, ol, dl, address, a, input, textarea, button, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

address{
	font-style:normal;
}

ul, li {
	list-style: none;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
}

a {
	color: $sc-color-link;
	text-decoration: none;
	cursor:pointer;
	cursor:hand;
}

a:hover,
a:focus,
a:active {
	color: $sc-color-link-hover;
	text-decoration: none;
}

[data-toggle="dropdown"]:hover, [data-toggle="dropdown"]:focus{
	color: $sc-color-copy;
}

.open > [data-toggle="dropdown"]{
	color: $sc-color-copy-dark;
}

hr{
	height: 1px;
	border: 0;
	background-color: $sc-color-theme-border-light;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $sc-theme-secondary-font;
}

input:hover,
input:focus,
input:active,
button:hover,
button:focus,
button:active {
    outline: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar{
	width:10px;
	height:10px;
}
::-webkit-scrollbar-thumb{
	background:0 0;
	background-color:transparentize($sc-neutral-shade-600, 1-0.25);
	border:2px solid transparent;
	border-radius:10px;
	background-clip:padding-box;
}
::-webkit-scrollbar-thumb:hover{
	background-color:transparentize($sc-neutral-shade-600, 1-0.5);
}
::-webkit-scrollbar-track{
	background-color:transparentize($sc-neutral-shade-600, 1-0.05);
}
