/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Standard variables edited for Bridge Theme */

// color picker
$picker-large: 40px;
$picker-medium: 25px;
$picker-small: 20px;
$picker-xsmall: 10px;

//New color picker
$picker-color-large: 40px;
$picker-color-medium: 25px;
$picker-color-small: 15px;
$picker-color-xsmall: $picker-color-small;

// images
$img-large: 150px;
$img-medium: 100px;
$img-small: 60px;

//target size
$sc-target-size: 50px; //for height of items in nav
$sc-target-size-mobile:40px;

$sc-flyout-arrow-height: 7px;
$sc-flyout-arrow-shadow-height: $sc-flyout-arrow-height - 1;

$sc-border-radius: 0;

$sc-animation-base-duration: 300ms;


/* Start Bridge Theme specific */

/* SITE-WIDE */

/* COLORS */

/*
 - These colors are used generally around the site for borders, backgrounds, text
*/
// For more color variables, see _qs-colors.scss
 
/* Only used in the top nav, as the background color */
// see variables > _qs-colors.scss
 
/* Link color, headings and some border colors */
// see variables > _qs-colors.scss
 
/* Copy */
// see variables > _qs-colors.scss
 
/* Buttons */
// see atoms > _qs-buttons.scss
 
/* FONTS */
$sc-theme-primary-font: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sc-theme-secondary-font: "Rubik", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 
%secondary-font {
    font-family: $sc-theme-secondary-font;
    font-weight: $sc-font-weight-light;
}
 
/* SIZING */
$sc-theme-cell-img-height: 210px; // image size on merchandising zones, related items etc
$sc-theme-cell-img-width: 210px;
$sc-theme-skew-distance: 0px; // MUST INCLUDE PX, EVEN IF 0! distance of slant on buttons and nav
$sc-theme-border-radius: 0px; // curve radius on all container divs and buttons
 
/* SPACING */
/* For left/right padding */
$sc-theme-mobile-padding: 25px;
$sc-theme-desktop-padding: 60px;
 
 
////////////////////////////////////////////////////////////////////////////////
 
 
/* HEADER */
$sc-main-nav-height: 72px; // was $sc-target-size;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px;
$sc-sidebar-size: 246px;
 
$sc-theme-header-height: 147px;
$sc-theme-header-simplified-height: 72px;
 
$sc-theme-navlinks-bgr-color: $sc-color-tertiary;
$sc-theme-navlinks-separator-color: $sc-color-theme;
 
/* Category Navigation */
$sc-theme-nav-font-size: 14px;
$sc-theme-nav-color: $sc-color-theme-top-header-background-color;
 
/* Header Right Hand Menu Links i.e. login, register */
$sc-theme-header-link-color: $sc-neutral-shade-0;
$sc-theme-header-link-color-hover: $sc-color-copy;
 
/* Navigation Tools (Icons) */
$sc-theme-icon-size: 20px;
$sc-theme-icon-color: $sc-neutral-shade-0;
$sc-theme-icon-bgr-color: $sc-color-theme-top-header-background-color;
$sc-theme-icon-bgr-hover-color: $sc-color-link;
$sc-theme-icon-bgr-active-color: $sc-color-theme-top-header-background-color-active;
$sc-theme-cart-icon-color: $sc-neutral-shade-0;
 
 
////////////////////////////////////////////////////////////////////////////////
 
 
/* HOME */

//Home Slide Theme
$sc-color-slide-background: $sc-color-theme-background-light;
 
/* Carousel */
$sc-theme-carousel-title-size: 36px;
$sc-theme-carousel-text-size: 18px;
$sc-theme-carousel-text-color: $sc-neutral-shade-0; 
$sc-theme-carousel-button-font-size: 18px;
$sc-theme-carousel-button-text-color: $sc-neutral-shade-0;
$sc-theme-carousel-button-bgr-color: $sc-color-secondary;
$sc-theme-carousel-button-bgr-hover-color: $sc-color-link;
$sc-theme-carousel-content-width: 560px;
 
/* Infoblocks */
$sc-theme-infoblock-height-mobile: 200px;
$sc-theme-infoblock-height-desktop: 250px;
$sc-theme-infoblock-content-width: 200px;
$sc-theme-infoblock-large-content-width: 250px; //used only on the 5th infoblock when 5 infoblocks total
$sc-theme-infoblock-title-underline-color: $sc-color-link;
$sc-theme-infoblock-title-underline-hover-color: $sc-color-copy;
$sc-theme-infoblock-background-image-zoom: 120%; //user hovers over infoblock and background size increases by this amount
$sc-theme-infoblock-highlight-color: $sc-theme-icon-bgr-active-color; //user hovers over infoblock and coloured overlay applied
$sc-theme-infoblock-title-size: 16px;
$sc-theme-infoblock-text-size: 24px;
$sc-theme-infoblock-large-title-size: $sc-theme-infoblock-text-size;
$sc-theme-infoblock-large-text-size: 36px;
$sc-theme-infoblock-link-color: $sc-neutral-shade-0;
 
 
////////////////////////////////////////////////////////////////////////////////
 
 
/* FOOTER */
$sc-theme-footer-heading-color: $sc-neutral-shade-0;
$sc-theme-footer-link-color: $sc-color-theme-dark;
$sc-theme-footer-link-color-hover: $sc-neutral-shade-0;
$sc-theme-footer-social-icon-color: $sc-neutral-shade-0;
$sc-theme-footer-social-icon-color-hover: $sc-color-secondary;
$sc-theme-footer-social-icon-size: 26px;
 
/* Upper Level */
$sc-theme-upper-footer-color: $sc-neutral-shade-0;
$sc-theme-upper-footer-bgr-color: $sc-color-theme-dark;
$sc-footer-submit-color: $sc-color-copy; //secondary button if no color set
 
/* Lower Level */
$sc-theme-footer-font-size: 14px;
$sc-theme-lower-footer-color: $sc-color-theme-dark;
$sc-theme-lower-footer-bgr-color: $sc-color-copy;
$sc-theme-lower-footer-link-color: $sc-color-theme-dark;
$sc-theme-lower-footer-link-color-hover: $sc-neutral-shade-0;

////////////////////////////////////////////////////////////////////////////////

//TODO: FIND OUT
$sc-color-range-off: #dcdcdc; // neutral color, so can leave
$sc-color-range-on: $sc-color-primary;

// Placeholder Colors
$sc-color-placeholder: #aab0b3;

//Color picker
$sc-picker-white-border: $sc-color-theme;

//Quantity value
$sc-color-quantity-value: $sc-color-theme;

// MISC
$sc-pusher-bg: $sc-neutral-shade-0;
$sc-color-overlay: #000;
$sc-color-gallery-icon-control: lighten($sc-color-secondary, 30);
$sc-color-span-spinner-add-or-sub: $sc-color-theme;
$sc-color-typeahead-plugin-dropdown-menu: $sc-color-theme;
$sc-color-focus: $sc-color-link;
$sc-color-input-state-error-shadow: desaturate($sc-color-error, 10%);

// End Bridge Theme specific
 