/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.payment-wizard-confirmation-module {
	display: block;
	padding: $sc-padding-lv7;
	background: $sc-color-success-background;
	margin-bottom: $sc-margin-lv6;
}
.payment-wizard-confirmation-module-title {
	color: $sc-color-success;
	margin: 0 0 $sc-margin-lv2;
}
.payment-wizard-confirmation-module-title:before {
	content: '\f058';
  font-family: 'FontAwesome';
  margin-right: $sc-margin-lv2;
}
.payment-wizard-confirmation-module-body {
	color: $sc-color-success;
}
.payment-wizard-confirmation-module-download,
.payment-wizard-confirmation-module-payment {
	@extend .button-large;
	@extend .button-secondary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
}
.payment-wizard-confirmation-module-download {
	margin-right: $sc-margin-lv3;
}

.payment-wizard-summary-total-label{
	text-transform:uppercase;
	font-weight:$sc-font-weight-semibold;
}

.payment-wizard-summary-total-value{
	text-transform:uppercase;
	font-weight:$sc-font-weight-semibold;
	@extend .summary-grid-right;
}