/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.payment-wizard-step-title{
	margin-bottom: $sc-margin-lv4;
}

.payment-wizard-step-content-wrapper{
	@extend .row;
}

.payment-wizard-step-content-main{
	@extend .col-xs-12;
	@extend .col-sm-8;
	.list-header-view-filters {
		padding: 0;
	}
}

.payment-wizard-step-content-secondary{
	@extend .col-xs-12;
	@extend .col-sm-4;
	float: right;
	margin-bottom: $sc-margin-lv4;

}

.payment-wizard-step-actions{
	@extend .col-xs-12;
	@extend .col-sm-8;
}

.payment-wizard-step-button-container{
	@extend .wizard-step-button-container;
}

.payment-wizard-step-button-back{
	@extend .wizard-step-button-back;
}

.payment-wizard-step-button-continue{
	@extend .wizard-step-button-continue
}

.payment-wizard-step-content-wrapper{
	.order-wizard-address-module-show-addresses-container{
		@extend .box-column;
	}
}