/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.payment-wizard-layout-button-back {
}

.payment-wizard-layout-button-back-icon {
}

.payment-wizard-layout-header{
	@extend .wizard-header;
}

.payment-wizard-layout-header-title{}
.payment-wizard-layout-content{}