/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.payment-wizard-invoice-subject-date-overdue{
	@extend .invoice-date-overdue;
}

.payment-wizard-invoice-subject-icon-flag{
	@extend .invoice-date-overdue-icon;
}

.payment-wizard-invoice-subject-text-success{
}