/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-empty {

}

.facets-empty-title {

}

.facets-empty-merchandising-zone {
    margin-bottom: $sc-margin-lv3;
    margin-top: $sc-margin-lv3;
}