/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.product-list-lists-header{
	@include clearfix();
	border-top: $sc-theme-border-light;
	border-bottom: $sc-theme-border-light;
	padding-top: $sc-padding-lv3;
	padding-bottom: $sc-padding-lv3;
}

.product-list-lists-title{
	float: left;
	margin-bottom: $sc-margin-lv2;

	@media (min-width: $screen-sm-min){
		margin-bottom: 0;
		line-height: 45px;
		height: 45px;
	}
}

.product-list-lists-button-add{
	@extend .button-medium;
	@extend .button-secondary;
	float: right;

}

.product-list-lists-button-back {
	@extend .button-back;
}

.product-list-lists-button-back-icon {
	@extend .button-back-icon;
}

.product-list-lists-details{
	@extend .product-list-list-details;
}

.productlist-list-lists{}
.product-list-lists-message{}
.product-list-lists-wrapper{}
.product-list-lists-subtitle{}
