/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-paymentmethod-external-module-row {
	@extend .row;
}

.order-wizard-paymentmethod-external-module-column-left {
	@extend .col-xs-12;
	@extend .col-sm-4;
}

.order-wizard-paymentmethod-external-module-column-right {
	@extend .col-xs-12;
	@extend .col-sm-8;
}

.order-wizard-paymentmethod-external-module-image {}