/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-paymentmethod-invoice-module {

}
.order-wizard-paymentmethod-invoice-module-row {
	@extend .clearfix;
	width: 100%;
	margin-bottom: $sc-margin-lv3;
}

.order-wizard-paymentmethod-invoice-module-terms {
	float: left;
	width: 50%;
}

.order-wizard-paymentmethod-invoice-module-terms-label {
	@extend .sc-value;
	font-size: $sc-font-size-m;
	font-weight: $sc-font-weight-semibold;
}

.order-wizard-paymentmethod-invoice-module-terms-value {
	@extend .sc-label;
}

.order-wizard-paymentmethod-invoice-module-balance {
	float: right;
	width: 50%;
}

.order-wizard-paymentmethod-invoice-module-balance-label {
	@extend .sc-value;
	font-size: $sc-font-size-m;
	font-weight: $sc-font-weight-semibold;
}

.order-wizard-paymentmethod-invoice-module-balance-value {
	@extend .sc-label;
	font-size: $sc-font-size-m;
}

.order-wizard-paymentmethod-invoice-module-purchase-order-optional {
	@extend .input-optional;
	font-weight: $sc-font-weight-normal;
}

.order-wizard-paymentmethod-invoice-module-conditions {
	@extend .sc-label;
}