/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-paymentmethod-selector-module {
	@extend .box-column;

	.creditcard-edit-form {
	  clear: both;
	}
	.creditcard-edit-form-securitycode {
		padding: 0;
	}
}

.order-wizard-paymentmethod-selector-module-header {
	margin-bottom: $sc-margin-lv3;
	color: $sc-color-theme-900;
}

.order-wizard-paymentmethod-selector-module-options {
	@extend .input-large;
	margin-bottom: $sc-margin-lv2;
	padding: $sc-padding-lv2;
	width: 100%;

	@media (min-width: $screen-md-min) {
		width: 300px;
	}
}

.order-wizard-paymentmethod-selector-module-payment-method-selector-content{}