/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-rating-by-star {
    display: inline-block;
    width: 100%;
    clear: both;
    padding: 0;
    margin-bottom: $sc-margin-lv2;

    @media (min-width: $screen-sm-min){
        display: block;
    }
}
.global-views-rating-by-star-label {
    @extend .col-sm-2;
    @extend .col-md-2;
    @extend .col-xs-3;
    padding:0;
    color:$sc-color-copy-dark;

    @media (min-width: $screen-sm-min){
        padding: 0 $sc-padding-lv3;
    }
}
.global-views-rating-by-star-second-label {
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .col-xs-4;
    padding-right:0;
    color:$sc-color-copy-dark;

    @media (min-width: $screen-sm-min){
        padding: 0 $sc-padding-lv3;
    }
}
.global-views-rating-by-star-percentage-area {
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .col-xs-5;
    padding:0;

    @media (min-width: $screen-sm-min){
        padding: 0 $sc-padding-lv3;
    }
}
.global-views-rating-by-star-percentage-area-progress-bar {
    @extend .progress;
    border-radius:0px;
    background-color:$sc-color-theme-background;
    margin-bottom: 0;

    @media (min-width: $screen-sm-min){
    margin-bottom: $sc-margin-lv4;
    }
}
.global-views-rating-by-star-percentage-area-progress-bar-filled {
    @extend .progress-bar;
    background-color:$sc-color-theme-900;
}
.global-views-rating-by-star-label-percentage {
    color: $sc-color-secondary;
    width: 35px;
    display: none;

    @media (min-width: $screen-sm-min){
        display: inline-block;
    }
}

.global-views-rating-by-star-link{}
.global-views-rating-by-star-label-count{}