/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-confirmation {
	padding-top: 0;
}

.global-views-confirmation-footer {
	margin-top: $sc-margin-lv3;
}

.global-views-confirmation-confirm-button {
	@extend .button-primary;
	@extend .button-medium;
}

.global-views-confirmation-cancel-button {
	@extend .button-positioning-stack2next;
	@extend .button-secondary;
	@extend .button-medium;
}

.global-views-confirmation-body{}