/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-states-group-label {}

.global-views-states-group-input,
.global-views-states-group-select {
    @extend .input-large
}

.global-views-states-optional-label {
	@extend .input-optional;
	font-weight: $sc-font-weight-normal;
	display: inline;
}

.global-views-states-input-required{
	@extend .input-required;
}

.global-views-states-group-form-controls{}