/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Standard variables edited for Horizon Theme */

// color picker
$picker-large: 40px;
$picker-medium: 25px;
$picker-small: 20px;
$picker-xsmall: 10px;

//New color picker
$picker-color-large: 40px;
$picker-color-medium: 25px;
$picker-color-small: 15px;
$picker-color-xsmall: $picker-color-small;

// images
$img-large: 150px;
$img-medium: 100px;
$img-small: 60px;

//target size
$sc-target-size:44px;
$sc-target-size-mobile:40px;

$sc-flyout-arrow-height: 7px;
$sc-flyout-arrow-shadow-height: $sc-flyout-arrow-height - 1;

$sc-border-radius: 0; // was 6px;

$sc-animation-base-duration: 300ms;

/* Start Horizon Theme specific */

/* SITE-WIDE */

/* COLORS */
$sc-theme-color-body-background: #292c2f; // body background color, home merch background color
$sc-theme-color-content-background: $sc-neutral-shade-0; // main content background color i.e. .main, .layout-container
$sc-theme-color-background: #eff6f9;
$sc-theme-color-overlay: #000; // used with 'transparentize' on header and search
$sc-theme-color-quantity-value: desaturate(lighten($sc-color-secondary, 42), 20); // Quantity value

/* FONTS */
$sc-theme-primary-font: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* SIZING */
$sc-theme-site-max-width: 1600px;


////////////////////////////////////////////////////////////////////////////////


/* HEADER */
/* Moved from header scss */
$sc-main-nav-height: 44px;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px;
$sc-secondary-menu-height: 55px;
$sc-sidebar-size: 246px;

$sc-theme-main-nav-mobile-height: 60px;
$sc-theme-secondary-menu-height: 85px;
$sc-theme-logo-top: 62px;
$sc-theme-category-menu-height: 300px;
$sc-theme-category-menu-level2-anchor-height: 0;
$sc-theme-category-menu-padding: 25px;
$sc-theme-category-menu-level2-width: 20%;
$sc-theme-main-nav-color: $sc-color-copy-dark; // transparentize version used for upper nav area
$sc-theme-header-menu-cart-dropdown-hover: saturate(lighten($sc-color-secondary, 4), 4);

////////////////////////////////////////////////////////////////////////////////


/* HOME */

/* img and carousel height */
$sc-theme-home-section-height: 550px;
$sc-theme-home-section-height-mobile: 300px;

/* CTA sections - common styling on Video, Carousel and Infoblocks */
$sc-theme-home-cta-background-color: transparentize($sc-color-copy-dark, 0.1);
$sc-theme-home-cta-width: 340px;
$sc-theme-home-cta-title-size-mobile: $sc-font-size-xxl; // was $sc-h2-font-size;
$sc-theme-home-cta-title-size: $sc-font-size-xxxl; // was $sc-h1-font-size;
$sc-theme-home-cta-title-color: $sc-color-tertiary;
$sc-theme-home-cta-text-color: $sc-color-theme;
$sc-theme-home-cta-link-color: $sc-color-primary;

/* Top Hero Promotion */
$sc-theme-hero-content-width: 20%;

/* Infoblocks */
$sc-theme-infoblock-height-mobile: $sc-theme-home-section-height-mobile;
$sc-theme-infoblock-height-desktop: $sc-theme-home-section-height;

/* Carousel */
$sc-theme-carousel-content-width: 560px;
$sc-theme-carousel-title-size: $sc-font-size-xxxl; // was $sc-h1-font-size + 10px;


////////////////////////////////////////////////////////////////////////////////

/* FACETS */
$sc-theme-facets-padding: 0;

////////////////////////////////////////////////////////////////////////////////


/* FOOTER */
$sc-theme-footer-color: $sc-color-theme;
$sc-theme-footer-bgr-color: $sc-theme-color-background;

/* Multi-column Links */
$sc-theme-footer-column-heading-size: $sc-font-size-base; // was $sc-h5-font-size;
$sc-theme-footer-column-heading-color: $sc-color-quaternary;
$sc-theme-footer-column-link-size: 14px;
$sc-theme-footer-column-link-size-mobile: $sc-font-size-base; // was $sc-h5-font-size;
$sc-theme-footer-column-link-color: #416761;
$sc-theme-footer-column-link-color-hover: $sc-color-senary;

/* Newsletter Signup */
$sc-theme-footer-newsletter-size: $sc-font-size-base;
$sc-theme-footer-newsletter-color: $sc-color-quaternary;
$sc-theme-footer-input-border-color: $sc-theme-footer-column-link-color;
$sc-theme-footer-submit-color: $sc-color-quaternary;
$sc-theme-footer-submit-text-color: $sc-theme-footer-column-link-color;
$sc-theme-footer-submit-text-size: $sc-font-size-base;

/* Lower section with copyright and extra info */
$sc-theme-footer-text-color: $sc-theme-footer-column-link-color;

/* End Horizon Theme specific */
