<div class="my-extension-1-error">
    <div class="my-extension-1-error-header">
		<h1>Price Validation</h1>
    	<div id="main-banner" class="my-extension-1-error-main-banner"></div>
    </div>
    <div id="my-extension-1-error-content" class="my-extension-1-error-content">
    	{{{message}}}
    </div>
</div>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
