.header-logo-image{
  max-height: 55px;
}

.home-slide-caption{
  position: absolute;
}

.home-image-slider-list li{
  height: 400px;
}

.home-slide-image{
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}