/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.overview-profile-header {
    @extend .overview-shipping-header;
}
.overview-profile-header h4 {
    margin: $sc-margin-lv2 0;
}
.overview-profile-card {
    @extend .overview-shipping-card;
}
.overview-profile-card-content {
	@extend .overview-shipping-card-content;
}
.overview-profile-card-button-edit {
    @extend .overview-shipping-card-button-edit
}
.overview-profile-company, .overview-profile-name-title {
	font-weight: $sc-font-weight-bold;
}

.overview-profile-email{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.overview-profile-phone{}
