/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.quick-order {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: $sc-margin-lv5;
    border-bottom: $sc-theme-border-light;
    @extend .content-background;
}

.quick-order-divider {
	@extend .accordion-divider;
	margin-bottom: 7px;
}
.quick-order-expander-head {
	@extend .accordion-head;
	border-top: none;
}
.quick-order-expander-head-toggle {
	@extend .accordion-head-toggle;
}
.quick-order-expander-toggle-icon {
	@extend .accordion-toggle-icon;
}
.quick-order-expander-body {
	@extend .accordion-body;
	&.in {
		overflow: visible;
	}
}
.quick-order-expander-container {
	@extend .accordion-container;
	margin: 0;

	.quick-add-box {
		margin: 0;
	}
}
