/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.global-views-currency-selector{
	@extend .selector;
	margin: $sc-margin-lv2;
    @media (min-width: $screen-md-min) {
        margin: 0;
    }
}

.global-views-currency-selector-addon{
	@extend .selector-icon;
	border-color: $sc-theme-border-color;
    height: 50px;
    line-height: 47px;
    background-color: $sc-neutral-shade-0;
    border-top-left-radius: $sc-theme-border-radius;
    border-bottom-left-radius: $sc-theme-border-radius;
    @media (min-width: $screen-md-min) {
        border-color: $sc-theme-border-color-light;
        background-color: transparent;
    }
}

.global-views-currency-selector-select{
	@extend .selector-select;
	border-color: $sc-theme-border-color;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @media (min-width: $screen-md-min) {
        border-color: $sc-theme-border-color-light;
    }
}
