/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.order-wizard-cartitems-module{
	@extend .box-column;
    background-color: transparent;
    border-top: none;
    border-bottom: $sc-theme-border-light;
    @include border-radius(0);
    margin: 0 -$sc-margin-lv3 $sc-margin-lv4 -$sc-margin-lv3;
    padding: 0;
    @media (min-width: $screen-sm-min) {
        margin: 0 0 $sc-margin-lv4;
    }
}
.order-wizard-cartitems-module-accordion-head{
	@extend .accordion-head;
}
.order-wizard-cartitems-module-accordion-head-toggle{
	@extend .accordion-head-toggle;
	border: none;
}
.order-wizard-cartitems-module-accordion-toggle-icon{
	@extend .accordion-toggle-icon;
}
.order-wizard-cartitems-module-accordion-body{
	@extend .accordion-body;

	.item-view-cell-navigable-item-image{
		padding-left: 0;
		width: 25%;
	}
	.transaction-line-views-cell-navigable-item-quantity-label,
	.transaction-line-views-cell-navigable-item-unit-price-label,
	.transaction-line-views-cell-navigable-item-amount-label,
	.transaction-line-views-cell-navigable-item-quantity-label {
		display: inline-block;
		@media (min-width: $screen-md-min){
			display: none;
		}
	}
}

.lg2sm-first.order-wizard-cartitems-module-table {
	table-layout: fixed;

	.transaction-line-views-cell-navigable-item-quantity-label,
	.transaction-line-views-cell-navigable-item-unit-price-label,
	.transaction-line-views-cell-navigable-item-amount-label,
	.transaction-line-views-cell-navigable-item-quantity-label {
		display: inline;
	}

	.transaction-line-views-cell-navigable-item-quantity .transaction-line-views-cell-navigable-item-quantity-value {
		display: inline-block;
		text-align: left;
	}
}

.order-wizard-cartitems-module-accordion-container{
	padding: 0;
}
.order-wizard-cartitems-module-accordion-container-table-header {
	display: none;
	@media (min-width: $screen-md-min) {
		display: table-header-group;
		width: 100%;
	}
}
.order-wizard-cartitems-module-accordion-container-table-header-image {
	@extend .item-view-cell-navigable-item-image;
	font-size: $sc-font-size-m;
	font-weight: $sc-font-weight-semibold;
}
.order-wizard-cartitems-module-accordion-container-table-header-details {
	color: $sc-color-theme-400;
	font-size: $sc-font-size-m;
	font-weight: $sc-font-weight-semibold;
}
.order-wizard-cartitems-module-accordion-container-table-header-quantity,
.order-wizard-cartitems-module-accordion-container-table-header-totalprice,
.order-wizard-cartitems-module-accordion-container-table-header-amount {
	text-align: right;
}


.order-wizard-cartitems-module-shipment-table{
	@extend .table-flex-item-navigable;
}
.lg2sm-first.order-wizard-cartitems-module-table{
	.transaction-line-views-cell-navigable-item-unit-price,
	.transaction-line-views-cell-navigable-item-quantity,
	.transaction-line-views-cell-navigable-amount {
		text-align: left;
		font-family: $sc-theme-secondary-font;
	}
}
.order-wizard-cartitems-module-edit-cart-label{
	margin: 0;
	padding: 0 0 $sc-padding-lv4;
	border-bottom: none;
}
.order-wizard-cartitems-module-edit-cart-link{
	font-size:$sc-font-size-m;
}

.order-wizard-cartitems-module-products-scroll{
	@media (min-width: $screen-sm-min){
		max-height:570px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.item-view-cell-navigable-item-quantity-label {
		display: inline-block;
	}
	& .item-views-price-lead {
		color: $sc-color-primary;
	}
}
.order-wizard-cartitems-module-table{
	@extend .table-flex-item-navigable;
	& .transaction-line-views-cell-navigable {
	    td {
	        background-color: $sc-neutral-shade-0;
	        padding-top: $sc-padding-lv4;
	        padding-bottom: $sc-padding-lv4;
	        padding-right: $sc-padding-lv4;
	    }

	    td:first-child {
	        padding-left: $sc-padding-lv4;
	        padding-right:0;
	    }
	}
}
