/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.address-list {
    @extend .address-edit;
    h2{
        margin-bottom:$sc-margin-lv4;
        padding-left: $sc-padding-lv1;
    }
}
.address-list-default-addresses,
.address-list-other-addresses {
    .backbone-collection-view-row {
        margin-top: $sc-margin-lv6;

        &:nth-child(1) {
            margin-top: 0;
        }

        @media (max-width: $screen-sm-min) {
            & > div {
                margin-top: $sc-margin-lv6;

                &:nth-child(1) {
                    margin-top: 0;
                }
            }
        }
    }
	.backbone-collection-view-cell-span6 {
		margin-bottom: $sc-margin-lv6;
        padding-left: $sc-padding-lv1;
        @media (min-width: $screen-sm-min) {
            &:nth-child(even) {
                padding-left: $sc-padding-lv3;
            }
        }
        .address-details {
            border: none;
        }
	}
}
.address-list-button-container {
    margin: 0 0 $sc-margin-lv6 0;
}
.address-list-button-info-cards-new {
    @extend .button-info-cards-new
}
.address-list-button-back {
    @extend .button-back;
}
.address-list-button-back-icon {
    @extend .button-back-icon;
}
