{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<nav class="header-simplified-header">
	<div class="header-simplified-header-logo" data-view="Header.Logo"></div>
	<div id="banner-header-top" class="content-banner banner-header-top" data-cms-area="simplified_header_banner" data-cms-area-filters="global"></div>
</nav>



{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
