/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-confirmation-module {
	display: block;
	padding: 35px;
	background: $sc-color-success-background;
	border: 1px solid $sc-color-success-border;
	border-radius: $sc-border-radius;
	margin-bottom: $sc-margin-lv6;
}
.order-wizard-confirmation-module-title {
	color: $sc-color-success;
	margin: 0 0 10px;
}
.order-wizard-confirmation-module-body {
	color: $sc-color-success;
}
.order-wizard-confirmation-module-continue {
	@extend .button-large;
	@extend .button-secondary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
	margin-right: $sc-margin-lv4;
}

.order-wizard-confirmation-module-download-pdf {
	@extend .button-large;
	@extend .button-tertiary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
}