{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="menu-tree" data-type="menu-tree-root" data-view="MenuItems.Collection"></div>



{{!----
Use the following context variables when customizing this template: 
	
	menuItems (Array)

----}}
