<div class="my-extension-2">
	<button data-action="show-alert" class="my-extension-2-button">
		{{translate text}}
	</button>
</div>


{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
