.compare-items-hide-container {
  display: block;
  position: absolute;
  top: -30px;
  height: 30px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $sc-neutral-shade-base;
  background-color: $sc-color-theme-base;
  padding-top: $sc-padding-base;

  &:hover {
    cursor: pointer;
  }
}

.compare-items-title {
  color: $sc-neutral-shade-0;
  padding-right: $sc-padding-lv2;
  font-size: $sc-font-size-s;
  position: relative;
  top: -2px;
}

.compare-items-container-hide-button {
  @extend .fa;
  @extend %fa-angle-double-down;
  font-size: $sc-font-size-base;
  color: $sc-neutral-shade-0;

  &.transitions {
    transition: all 0.5s ease;
  }

  &.active {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }

  span {
    font-size: 0;
  }
}

.facets-facet-browse-added-for-comparison {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.5s ease;

  &.push-down {
    bottom: -120px;
  }
}

.compare-items-container {
  @extend .container;
  padding: $sc-padding-lv1 $sc-padding-lv3;

  @media (min-width: $screen-md-min) {
    padding-top: $sc-padding-lv2;
    padding-bottom: $sc-padding-lv2;
  }
}

.compare-items-products {
  @extend .row;
}

.compare-item-wrapper {
  @extend .col-xs-6;
  @extend .col-md-3;
  padding: 0 $sc-padding-lv1;
}

.compare-item {
  @extend .col-md-12;
  background-color: $sc-neutral-shade-base;
  height: 46px;
  margin-bottom: $sc-margin-lv1;
  padding: $sc-padding-lv1;

  @media (min-width: $screen-md-min) {
    position: relative;
    height: 100px;
    margin-bottom: $sc-margin-lv2;
    padding: $sc-padding-lv1 $sc-padding-lv2;
  }

  &.empty-cell {
    background-color: $sc-color-copy-dark;
  }
}

.addedfromcomparison-product-thumbnail {
  width: auto;
  max-height: 100%;
  width: auto\9;
  /* IE 8 */
  padding-right: $sc-padding-lv1;
  @media (min-width: $screen-md-min) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 65px;
    padding: 0;
  }
}

.addedfromcomparison-product-name {
  color: $sc-color-primary;
  font-size: $sc-font-size-base;
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: $screen-md-min) {
    font-size: $sc-font-size-base;
    padding: 0 $sc-padding-lv1 0 $sc-padding-base * 15;
    width: 95%;
  }
}

.addedfromcomparison-remove-button {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  background-color: transparent;
  height: 20px;
  width: 20px;
  overflow: hidden;
}

.addedfromcomparison-remove-button-icon {
  @extend .fa;
  @extend %fa-times-circle;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  color: $sc-color-theme-base;
}

.compare-item-buttons-container {
  @extend .row;
}

.addedfromcomparison-compare {
  text-align: right;
}

.addedfromcomparison-compare,
.addedfromcomparison-clear-all {
  @extend .col-xs-6;
  padding-left: $sc-padding-lv1;
  padding-right: $sc-padding-lv1;
  @media (min-width: $screen-md-min) {
    padding-left: $sc-padding-lv3;
    padding-right: $sc-padding-lv3;
  }
}

.compare-item-actions {
  @extend .col-sm-12;
  height: 30px;
  text-align: center;

  @media (min-width: $screen-md-min) {
    height: 40px;
  }
}

.addedfromcomparison-compare-button {
  @extend .button-small;
  @extend .button-primary;
}

.addedfromcomparison-clear-all-button {
  @extend .button-small;
  @extend .button-tertiary;
}

.addedfromcomparison-compare-button,
.addedfromcomparison-clear-all-button {
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: auto;
  }
}
