/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.header-simplified-main {
	@extend .container-fluid;
	background-color: $sc-color-theme-top-header-background-color;
	height: $sc-theme-header-simplified-height;
	& .header-main-container {
		@extend .container;
		background-color: transparent;
	}
	& .header-logo {
		margin-left: -15px !important;
	}
}
