/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.header-profile {
	background-color: $sc-theme-navlinks-bgr-color;
	@media (min-width: $screen-md-min){
		background-color: transparent;
	}
}

.header-profile-welcome-link,
.header-profile-login-link,
.header-profile-register-link,
.header-profile-loading-link {
	color: $sc-color-copy;
	@media (min-width: $screen-md-min){
		font-family: $sc-theme-secondary-font;
	    text-transform: uppercase;
	    font-size: $sc-font-size-s;
	    display: inline-block !important;
	    min-width: $sc-target-size;
	    height: $sc-target-size;
	    line-height: $sc-target-size;
	    color: $sc-theme-header-link-color !important;
	    text-align: center;
	    position: relative;
	    background-color: transparent;
	}
	&:hover {
		@media (min-width: $screen-md-min){
			color: $sc-color-copy !important;
		}
    }
}

.header-profile-welcome-user-icon {
	@media (min-width: $screen-md-min){
		display: none;
	}
}

.header-profile-welcome-carret-icon,
.header-profile-loading-icon {
	@extend %header-icon;
}

.header-profile-list-item {
	display: inline-block;
	margin: 0 $sc-margin-lv2 0 $sc-margin-lv3;
	@media (min-width: $screen-md-min){
		margin: 0 $sc-margin-lv2;
	}
}

.header-profile-list-item.open {
	& .header-profile-welcome-link {
		@extend %header-link:active;
	}
}

//////////////////////////////////////////////////////////
//login register

.header-profile-menu-login{
	color: $sc-color-theme;
}

.header-profile-menu-login-container{
	margin-right:$sc-margin-base;
}

.header-profile-menu-login li{
	display:inline-block;
}

.header-profile-login-icon{
	@extend .icon-sign-in;
}

.header-profile-register-icon{
	@extend .icon-user;
}

.header-profile-welcome-link,
.header-profile-login-link,
.header-profile-register-link,
.storelocator-accesspoints-headerlink-link-text,
.requestquote-accesspoints-headerlink-link,
.quickorder-accesspoints-headerlink-link {
    text-transform: uppercase;
	margin: 0 $sc-margin-lv2;
}

//////////////////////////////////////////////////////////
//my account menu
.header-profile-welcome-name{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	@media (min-width: $screen-md-min){
		display: inline;
	}
}

.header-profile-welcome-icon{
	@extend .icon-user;
	color: $sc-theme-header-link-color;
}

.header-profile-welcome-carret-icon{
	@extend .icon-angle-down;
	color: $sc-theme-header-link-color;
	padding-left: 7px;
}

.header-profile-welcome-name-wrapper-mobile {
	display: block;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.header-profile-menu-myaccount-container {
	@extend .header-menu-level-container;
	@media (min-width: $screen-md-min) {
		top: $sc-main-nav-height;
	}
	&>li {

	}
}

.header-profile-menu-myaccount-container {
	@extend .header-menu-level-container;
	z-index: 1002;
	&>li {
		@extend .container;
		min-height: 150px;
		overflow: auto;
		padding: $sc-padding-lv5;
		background-color: $sc-neutral-shade-0;
		border: 1px solid $sc-color-theme-border;
	}
}

.open .header-profile-welcome-link:before {
	position: absolute;
	top: 52px;
	left: 50%;
	margin-left: -7.5px;
	border-right: 7px solid transparent;
	border-bottom: 7px solid $sc-neutral-shade-0;
	border-left: 7px solid transparent;
	border-bottom-color: transparentize($sc-color-overlay, 1-0.2);
	content: '';
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.open .header-profile-welcome-link:after {
	position: absolute;
	top: 53px;
	left: 50%;
	margin-left: -6.5px;
	border-right: 6px solid transparent;
	border-bottom: 6px solid $sc-neutral-shade-0;
	border-left: 6px solid transparent;
	content: '';
	z-index: 9999;
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}


//////////////////////////////////////////////////////////

.header-profile-loading-icon{
	@extend .icon-cog;
}

// custom
.header-profile-login-list-icon {
	@media (min-width: $screen-md-min) {
		display: none !important;
	}
}
.header-profile-login-separator {
	@media (min-width: $screen-md-min) {
		display: none !important;
	}
}
