/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.header-logo {
	display: block;
	line-height: $sc-main-nav-height;
	height: $sc-main-nav-height;
	width: 180px;
	margin-left:-$sc-margin-lv2;

	@media (min-width: $screen-sm-min) {
		// width: 200px;
		line-height: 69px;
		margin:0px;
	}
}

.header-logo-image {
	vertical-align: middle;

	@media (min-width: $screen-md-min) {
		width: auto;
	}
}
.header-logo-sitename {}