/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.header-mini-cart-item-cell {
	margin-bottom: $sc-margin-lv4;
	clear: both;
	overflow: hidden;
}

.header-mini-cart-item-cell-image img {
	width: $img-small;
	vertical-align:middle;
	border: 1px solid $sc-color-theme;
}

.header-mini-cart-item-cell-image {
	@extend .col-xs-3;
	height: $img-small;
	line-height: $img-small;
	padding: 0px;
}

.header-mini-cart-item-cell-details {
	@extend .col-xs-9;
	&  {

	}
}

.header-mini-cart-item-cell-product-title {
	margin-bottom: $sc-margin-lv2;
}

.header-mini-cart-item-cell-product-price {
	margin-bottom: $sc-margin-lv2;
}

.header-mini-cart-item-cell-product-sku {
	margin-bottom: $sc-margin-lv2;
}

.header-mini-cart-item-cell-product-color {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-font-size-base;
}

.header-mini-cart-item-cell-product-size {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-font-size-base;
}

.header-mini-cart-item-cell-product-qty {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-font-size-base;
}

.header-mini-cart-item-cell-details .item-views-selected-option-label,
.header-mini-cart-item-cell-quantity-label{
	color: $sc-color-copy;
	font-weight: $sc-font-weight-bold;
}

.header-mini-cart-item-cell-quantity-value{
	@extend .sc-value;
}

.header-mini-cart-item-cell-title-navigable,
.header-mini-cart-item-cell-product-price {
	@extend .medium-title-navigable;
    font-size: 16px;
    font-weight: $sc-font-weight-light;
}