{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<ul class="facets-facet-categories-list {{#if isCollapsible}} collapse {{else}} in {{/if}}" {{#if hasListId}} id="{{listId}}" {{/if}}>
	<div data-view="Facets.FacetCategoryValues"></div>
</ul>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
