{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div id="{{facetHtmlId}}" class="facets-facet-categories-well" data-type="rendered-facet" data-facet-id="{{facetId}}">
	<h3 class="facets-facet-categories-title"></h3>
	<div class="facets-facet-categories-filters {{#if isCollapsible}} collapse {{else}} in {{/if}}">
		<div data-view="Facets.FacetCategoriesList"></div>		
	</div>
</div>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
