/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.reorder-items-actions-add-to-cart{
	@extend .button-primary;
	@extend .button-medium;
	width:auto;
}

.reorder-items-actions-add-to-cart-button-container{
	@media(min-width: $screen-sm-min){
		text-align: right;
	}
	@media (max-width: $screen-sm-min) {
        margin-top: $sc-margin-lv3;
    }
}
