/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.product-views-option-tile-container{}

.product-views-option-tile {
	@extend .clearfix;
	width: 100%;
    margin-top: $sc-margin-lv4;
    margin-bottom:$sc-margin-lv4;

    [data-validation-error="block"] {
  		display:table;
  		margin-top:$sc-margin-lv1;
  	}
}

.product-views-option-tile-label {
	text-transform:capitalize;
	font-weight: normal;
	font-family: $sc-theme-secondary-font;
	margin-bottom:$sc-margin-lv2;
	display: block;

	span {
		font-weight:$sc-font-weight-normal;
		color: $sc-theme-color-header;
        padding-left: $sc-padding-lv1;
	}
}

.product-views-option-tile-picker {
	@extend .picker-label;
	margin-bottom:$sc-margin-lv2;
}
.product-views-option-tile-input-picker {
	@extend .picker-input;
}

.product-views-option-tile-picker {
	@extend .picker-lg;
}

.product-views-option-tile-picker-small {
	@extend .picker-sm;
}


.product-views-option-tile-picker.active {
	@extend .picker-checked;
}
.product-views-option-tile-picker.muted {
	opacity:0.4;
}

.product-views-option-tile-anchor{}

.product-views-option-tile-label-required {
	@extend .input-required;
}
