/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.checkout-layout {
	@extend %sc-layout;
}

.checkout-layout-header {
	//@include box-shadow(3px 0px 6px $sc-color-secondary);
	margin-bottom: 0;
    background-color: $sc-theme-nav-color;

	@media (min-width: $screen-sm-min){
		margin-bottom: $sc-margin-lv8;
	}
}

.checkout-layout-content{
	@extend .container;
	@extend .content-background;
	@include border-radius($sc-theme-border-radius);
	padding-top: $sc-theme-desktop-padding;
    & .error-management-internal-error, .error-management-forbidden-error {
        padding-right: 0px;
        padding-left: 0px;
        width:auto;
    }
    & .contact-us-container {
        padding: 0;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
    }
}

.checkout-layout-footer {
	@extend %sc-footer !optional;
}

.checkout-layout-breadcrumb{
	@extend .container;
	@extend .content-background;
	padding-top: $sc-theme-desktop-padding !important;
	padding-left: 0 !important;
    font-family: $sc-theme-secondary-font;
    text-transform: uppercase;
	background-color: transparent !important;
}

.checkout-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}
