/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.cms-landing-page {
  @extend .container;
  @extend .content-background;
}

/*
    Custom Styles for SMT (Site Management Tools) Pages
*/

/* STARTS - Generic Styles for SMT Pages */
.cms-landing-page p {
    margin-bottom: $sc-margin-lv4;
}

.cms-landing-page ul,
.cms-landing-page li {
    list-style: disc;
    list-style-position: outside;
}

.cms-landing-page ul {
    margin-top: $sc-margin-lv2;
    margin-left: $sc-margin-lv6;
}

.cms-landing-page li {
    margin-bottom: $sc-margin-lv4;
}

.cms-landing-page blockquote {
    margin-left: $sc-margin-lv6;
    margin-bottom: $sc-margin-lv4;
}
/* ENDS - Generic Styles for SMT Pages */

/* STARTS - About Us SMT Page */
.cms-landing-page-about-us p {
    margin-bottom: $sc-margin-lv4;
}

.cms-landing-page-about-us .about-staff-title {
    @extend h1;
    text-align: left;
    margin-top: $sc-margin-lv6;

    @media (max-width: $screen-xs-min) {
        text-align: center;
    }
}

.about-us-staff-container {
    @media (max-width: $screen-xs-min) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
        padding-left: 10%;
        padding-right: 10%;
    }
}


.about-us-staff-container .row {
    margin-top: $sc-margin-lv4;
    margin-bottom: $sc-margin-lv4;
}
.about-us-staff-container .staff-employee-cell {
    @extend .col-xs-6;
    @extend .col-sm-6;
    @extend .col-md-3;

    @media (max-width: $screen-xs-min) {
        width: 100%;
    }

    @media (max-width: $screen-md-min) {
        margin-bottom: $sc-margin-lv4;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.about-us-staff-container .staff-employee-container {
    @extend .box;
    padding-top: $sc-padding-lv4;
    padding-bottom: $sc-padding-lv4;
    text-align: center;
    @include box-shadow(none !important);
}
.about-us-staff-container .staff-employee-container .staff-employee-details {
    margin-bottom: $sc-margin-lv1;
    padding-top: $sc-padding-lv3;

    h5 {
        color: $sc-theme-color;
    }
    p {
        color: $sc-color-primary;
    }
}

.about-us-bottom-content {
    margin-top: $sc-margin-lv8;
    margin-bottom: $sc-margin-lv8;
}

.about-us-bottom-content .about-us-bottom-content-link{
    @media (min-width: $screen-xs-min) {
        &:nth-child(odd) .about-us-bottom-content-col {
            margin-right: $sc-margin-lv2;
        }

        &:nth-child(even) .about-us-bottom-content-col {
            margin-left: $sc-margin-lv2;
        }
    }
}

.about-us-bottom-content .about-us-bottom-content-col {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include border-radius(4px);
    height: 200px;
    width: calc(50% - 10px);
    display: table;

    @media (max-width: $screen-xs-min) {
        width: 100%;
        margin-bottom: $sc-margin-lv4;
    }

    .about-us-bottom-content-text-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .about-us-bottom-content-text-info {
        text-align: center;
    }

    .about-us-bottom-content-text {
        font-family: $sc-theme-secondary-font;
        text-transform: uppercase;
        color: $sc-theme-infoblock-link-color;
        text-shadow: 2px 2px $sc-theme-color-shadow;
        letter-spacing: 1px;
        font-size: 46px;
        line-height: 1;

        @media (max-width: $screen-sm-min) {
            font-size: $sc-theme-infoblock-title-size-mobile;
        }
    }
}
/* ENDS - About Us SMT Page */

/* STARTS - Shop By Brand SMT Page */
.cms-landing-page-shop-by-brand {}

.cms-landing-page-shop-by-brand ul,
.cms-landing-page-shop-by-brand li {
    list-style: none !important;
}

.cms-landing-page-shop-by-brand ul {
    margin-left: 0 !important;
}

.cms-landing-page-shop-by-brand li {
    margin-bottom: 0 !important;
}

.cms-landing-page-shop-by-brand > div {
    margin-bottom: $sc-margin-lv8;
}

.cms-landing-page-shop-by-brand .featured-brands-container {
    margin-bottom: $sc-margin-lv4;
}
.cms-landing-page-shop-by-brand .featured-brands-col {
    @extend .col-xs-6;
    @extend .col-sm-3;
    @extend .col-md-3;
}

.cms-landing-page-shop-by-brand .brands-by-category {}

.cms-landing-page-shop-by-brand h2 {
    text-align: left !important;
    font-size: $sc-font-size-xxxl !important;
}

.cms-landing-page-shop-by-brand .brands-by-category-col {
    @extend .col-xs-6;
    @extend .col-sm-6;
    @extend .col-md-3;

    @media (max-width: $screen-xs-min) {
        width: 100%;
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        &:nth-child(odd) {
            clear: both;
        }
    }
}

.cms-landing-page-shop-by-brand .brands-by-category-list-title a {
    color: $sc-theme-color-header;
    font-size: 18px;
}

.cms-landing-page-shop-by-brand .all-brands-col {
    @extend .col-xs-6;
    @extend .col-sm-6;
    @extend .col-md-3;

    @media (max-width: $screen-xs-min) {
        width: 100%;
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        &:nth-child(odd) {
            clear: both;
        }
    }
}
/* ENDS - Shop By Brand SMT Page */

/* STARTS - Shop By Category SMT Page */
.cms-landing-page-shop-by-category {}

.cms-landing-page-shop-by-category h1 {
    margin-bottom: $sc-margin-lv4;
}

.cms-landing-page-shop-by-category > .row {
    @media (min-width: $screen-xs-min) {
        margin-bottom: $sc-margin-lv6;
    }
}

.cms-landing-page-shop-by-category .shop-by-category-col {
    @extend .col-xs-6;
    @extend .col-sm-6;
    @extend .col-md-6;

    @media (max-width: $screen-xs-min) {
        width: 100%;
    }
}

.cms-landing-page-shop-by-category img {
    width: 100%;

    @media (max-width: $screen-xs-min) {
        margin-bottom: $sc-margin-lv4;
    }
}
/* ENDS - Shop By Category SMT Page */


.cms-landing-page-row {
	@extend .row;
}
.cms-landing-page-row-full-col {
	@extend .col-md-12;
}
