{
	"translate": "{{translate 'hello $(0) $(1)' 'my' 'precious'}}",
	"formatCurrency": "{{formatCurrency '10000' '$'}}",
	"each1": "{{#each each1}}{{this}}{{/each}}",
	"each2": "{{#each each2}}{{a}}{{/each}}",
	"each3": "{{#each each3}}{{a}}{{/each}}",
	"highlightKeyword": "{{highlightKeyword 'hello world' 'world'}}",
	"objectToAtrributesData1": "{{objectToAtrributes objectToAtrributesData1}}"
}