/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.quote-to-salesorder-wizard-module-quotedetails {
	margin-bottom: $sc-margin-lv4;
}
.quote-to-salesorder-wizard-module-quotedetails-label {
	@extend .sc-label;
}
.quote-to-salesorder-wizard-module-quotedetails-value {}