/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Product Slider */
%product-slider {
    @extend .large-title;
    text-align: center;
    font-size: 2.13em;
}

/* Box styling */
/* Box around content, slider products, related items, recently viewed, pdp */
.box {
    background-color: $sc-neutral-shade-0;
    @include border-radius($sc-theme-border-radius);
    //@include box-shadow(0 6px 12px transparentize(black, 1-0.05));
}

/* Summit specific spacing and color */
.content-background {
    padding-left: $sc-theme-mobile-padding;
    padding-right: $sc-theme-mobile-padding;
    padding-top: $sc-padding-lv3;
    background-color: $sc-neutral-shade-0;
    border-radius: 0 0 $sc-theme-border-radius $sc-theme-border-radius;

    @media (min-width: $screen-md-min) {
        padding-left: $sc-theme-desktop-padding;
        padding-right: $sc-theme-desktop-padding;
    }
}
.facets-faceted-navigation-item-facet-group{
  border-bottom: 1px solid #f2f2f2;
}
/* Summit contactus */
.contact {
  h3{
    color: #8bc400;
    text-transform: uppercase;
    font-weight: bold;
    margin: 75px 0 30px 0;
    letter-spacing: 3px;
    font-size: 30px;
  }
  h5{
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 5px 0;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
  }
  p {
    margin: 0 0 5px 0;
    strong{
      text-transform: uppercase;
    }
    .special {
      max-width: 230px;
      margin-top: 2px;
    }
  }
  .column {
    padding: 0;
    margin: 10px 0 20px 0;
  }
  .line{
    border-bottom: 1px solid #c7ced2;
  }
  .newsletter-subscription-form-button-subscribe{
    border-radius: 100px;
  }
}
.contact-us-form-textarea{
  width: auto;
}
.contact-us-container{
  .container{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1140px;
  }
  .banner {
      float: left;
      width: 100%;
      background: rgba(0, 0, 0, 0.54);
      height: 200px;
      position: relative;
      overflow: hidden;


      h1 {

        strong {
         color: #8bc400;
         font-weight: bold;
        }
        background: rgba(0, 0, 0, 0.56);
        font-size: 30px;
        line-height: 45px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        color: #fff;
        float: left;
        margin: 5px 0 0 0;
        padding: 0 10px 3px 10px;
        clear: both;

      }
      .green {
        font-size: 40px;
        background: #8bc400;
        margin-top: 55px;
        line-height: 42px
        }
      .background {
        position: absolute;
        top: -107%;
        /* left: 35px; */
        height: 550px;
        width: 100%;
        z-index: 1;
        opacity: 0.5;
    }
  }
}
/* Summit CMS */
.single-page-title{
  	@media (min-width: $screen-md-min){
      position: relative;
      overflow: hidden;
      height: 410px;
      width: 106.3%;
      left: -3.2%;

    }
}
.toppagetitle{
    top: -55px;
    margin-bottom: -70px;
}
.four_column
{
      max-height: 423px;
      overflow: hidden;
    p {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      font-weight: 300;
      margin: 12px 0 24px 0;
      padding: 0 60px;
      text-align: center;
    }
    .left {
      @media (min-width: $screen-md-min){
          padding: 0 10px 0 0 !important;
      }

     }
     .right {
         @media (min-width: $screen-md-min) {
           padding: 0 0 0 10px !important;
        }
     }
    .single_column {
      padding: 0 10px;
      margin: 0 0 10px 0;
      text-align: center;
      a {
       text-decoration: none;
     }

     :hover .content_area .arrow {
      background-color: #8bc400;
      background-image: url(../img/Home/merchzone/white_arrow_large.png);
    }
     .image_container {
       height: 240px;
       overflow: hidden;
       background: #000;
     }
     .image_container img {
       float: left;
       transition: all 0.2s linear;
       width: 100%;
       height: auto;
       opacity: 0.7;
     }
     .image_container img {
       float: left;
       transition: all 0.2s linear;
       width: 100%;
       height: auto;
       opacity: 0.7;

     }
     .content_area {
       background: #fff;
       border: 1px solid #f2f2f2;
       padding: 50px 30px;
       position: relative;

       h4 {
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 20px 0;
        letter-spacing: 2px;
      }
       h5 {
         font-size: 15px;
         line-height: 22px;
         color: #000;
         font-weight: bold;
         margin: 0;
         letter-spacing: 1px;
       }
       p {
         font-size: 15px;
         line-height: 20px;
         color: #000;
         font-weight: 300;
         margin: 0;
         padding: 0;
       }
       .highlight {
         position: absolute;
         bottom: 0;
         left: 0;
         height: 9px;
         width: 100%;
         background: #8bc400;
         opacity: 0;
         transition: all 0.2s linear;
       }
       .arrow {
          background-color: #8bc400;
          background-image: url(../img/Home/merchzone/grey_arrow.png);
          background: #fff url(../img/Home/merchzone/grey_arrow.png) no-repeat center center;
          width: 50px;
          height: 50px;
          margin: -8px 0 0 -25px;
          -webkit-background-size: 17px 11px;
          border-radius: 100%;
          position: absolute;
          top: -19px;
          left: 50%;
          box-shadow: 0px 3px 5px 0px #d1d1d1;
          transition: all 0.2s linear;
      }
    }
  }
}
.shopping-layout-breadcrumb{
  margin-top: 35px;
}
/* Summit green arrow button */
.newsletter-subscription-form-button-subscribe {
    border-radius: 0;
    padding: 13px 65px 13px 35px;
    background-image: url(../img/Home/merchzone/black_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    -moz-background-size: 17px 12px;
    -o-background-size: 17px 12px;
    font-size: 15px;
    color: #000;
    /* border: 1px solid #8bc400; */
    border-radius: 100px;
    padding: 6px 22px;
    display: inline-block;
    /* background: #8bc400; */
    outline: 0;
    transition: all 0.2s linear;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 -25px;
     @media (min-width: $screen-md-min) {
       margin: auto;
     }
    }
.newsletter-subscription-form-button-subscribe:hover{
    background-color: #fff;
    color: #8bc400;
    border-color: #fff;
    background-image: url(../img/Home/merchzone/green_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    -moz-background-size: 17px 12px;
    -o-background-size: 17px 12px;
}
/* Summit green arrow button home slider*/
.home-slide-caption-button{
    padding: 13px 65px 13px 35px;
    background-image: url(../img/Home/merchzone/black_arrow.png);
    background-repeat: no-repeat;
    background-position: 140px center;
    background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    -moz-background-size: 17px 12px;
    -o-background-size: 17px 12px;
    font-size: 15px;
    color: #000;
    /* border: 1px solid #8bc400; */
    border-radius: 100px;
    /* padding: 6px 22px; */
    display: inline-block;
    /* background: #8bc400; */
    outline: 0;
    transition: all 0.2s linear;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 -25px;
}
/* poduct landing page */
$gold: #88bd2b;
single-page-title {
    background: url(../img/img-page-title.jpg) no-repeat bottom;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    padding: 15% 0 5%;
    position: relative;
}

.btn-video {
    display: block;
    width: 130px;
    height: 90px;
  //  border: 3px solid $gold;
  //  border-radius: 100%;
  //  background: #000;
    background-image: url(../img/Home/merchzone/youtubePlay.png);
    background-size: cover;
  /*  .icon-video {
        display: block;
        position: relative;

        &:before {
            width: 0;
            height: 0;
            display: block;
            border: 15px solid $gold;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-width: 34px;
            margin-top: 27px;
            margin-left: 28px;
            content: "";
        }

        &:after {
            display: block;
            border: 10px solid #fff;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-width: 25px;
            position: absolute;
            left: 31px;
            top: 5px;
            content: "";
        }
    }*/
}

.btn-gold {
    background: $gold;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    width: 80%;

}
.col-md-6{
  .thumbnail{
    width: 50%;
  }
}

[data-video-container] {
    position: relative;
    overflow: hidden;
    @media (min-width: $screen-md-min){
      height: 410px;
    }
    height:auto;

    .btn-video {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -45px;
        margin-top: -45px;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        @include translate3d(0, 100%, 0);
        @include transition(all 250ms ease-out 100ms);

        &.visible {
            opacity: 1;
            @include translate3d(0, 0, 0);
            @include transition(all 250ms ease-out 100ms);
        }
    }
}
/* image and text */
.promo-content{
  text-align: center;
}
.caption{
  color: #969595;
  overflow: hidden;

}
.img-responsive{
  float: left;
}
.fitcolumn{
  padding-right: 55px;
}
.col-md-6{
  .norigth{
    @media (min-width: $screen-md-min){
      margin-right:-15px;
      .textbox{
        margin-right: 15px;
      }
    }
  }
  p{
    color:#000;
  }
  a{
    color:#000;
  }
  .noleft{
    @media (min-width: $screen-md-min){
      margin-left:-15px;
      .textbox{
        margin-left:15px;
      }
    }
  }
  .grey{
    background-color: #dadcdd;

  }
  .white{
    background-color: #fff;
  }

  .black{
    background-color: #333;
    p{
      color:#fff;
    }
    a{
      color:#fff;
    }
  }
    .coverarea{
      .textbox{
        padding: 30px;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        p{
          text-align: center;
          font-size: 15px;
          font-weight: 300;
        }
        h3{
          font-size: 2.2rem;
          font-weight: 300;
        }
      }
    }
}
.imagehide{
  visibility: hidden;
  padding:0;
  margin-bottom: -11px;
}
.last-type{
  border-bottom: 1px solid #333;
  padding-left: 30px;
  margin: 20px;
}
.quote-list {
  .list-header-view-filters{
    display:none;
  }
}
.newsletterbox{
	float: left;
}
