/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-history-list-tracking-number-not-available {
	@extend .sc-value;
}

.order-history-list-tracking-number-label {
	@extend .sc-label;
	display:none;
	@media (min-width: $screen-md-min) {
		display: inline;
	}
}
.order-history-list-tracking-number-not-available-label {
	@extend .sc-label;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.order-history-list-tracking-number-available-label {
	@extend .sc-label;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}
.order-history-list-tracking-number-control {
	position: relative;
	text-align:left;
	@media (min-width: $screen-sm-min) {
		text-align:right;
	}

	.dropdown-backdrop{
		display:none;
	}
}

.order-history-list-tracking-number-control-button {
	@extend .sc-flyout-control;
}

.order-history-list-tracking-number-control-toggle-icon {
	@extend .sc-flyout-toggle-icon;
}

.order-history-list-tracking-number-control-numbers {
	@extend .sc-flyout-content;
}

.order-history-list-tracking-number-control-numbers-link {
	font-size:14px; 
}