/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.overview-shipping-header {
  display: inline-block;
}
.overview-shipping-header h4 {
  margin: $sc-margin-lv2 0;
}
.overview-shipping-card {
  @extend .info-card;
  width: 100%;
}
.overview-shipping-card .address-details {
  border: 0;
  padding: 0;
}
.overview-shipping-card-content {
	@media (min-width: $screen-sm-min) {
		min-height: 200px;
    overflow: auto;
	}
}
.overview-shipping-card-button-edit {
  @extend .button-edit;
  margin-top: $sc-margin-lv3;
}