{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="order-wizard-paymentmethod-external-module-row">
	<div class="order-wizard-paymentmethod-external-module-column-left">
		<img class="order-wizard-paymentmethod-external-module-image" src="{{imageUrl}}" alt="{{name}}">
	</div>
	<div class="order-wizard-paymentmethod-external-module-column-right">
		<p>{{description}}</p>
	</div>
</div>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
