/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.main, .layout-container {
	min-height: 100%;
	height: auto;
	width: 100%;

	background-color: $sc-theme-color-content-background;

    @media (min-width: $sc-theme-site-max-width) {
        max-width: $sc-theme-site-max-width;
        margin: 0 auto;
    }

    @media (min-width: $screen-md-min) {
        height: auto; // do not use on mobile scrollbar
    }
}

%sc-layout {
	min-height: 100%;
}

%sc-footer {
}

.layout-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
