{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<p class="quote-to-salesorder-wizard-module-quotedetails">
	<span class="quote-to-salesorder-wizard-module-quotedetails-label">{{translate 'From Quote #: '}}</span>
	<a href="/quotes/{{quoteId}}" class="quote-to-salesorder-wizard-module-quotedetails-value">{{quoteTranId}}</a>
</p>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
