{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

{{#if showBreadcrumb}}
  <header class="quote-to-salesorder-wizard-layout-header">
    <div data-view="Wizard.StepNavigation"></div>
  </header>
{{/if}}
<div id="wizard-content" class="quote-to-salesorder-wizard-layout-content"></div>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
