<div class="cms-landing-page-about-us">

    <h1>About Our Company</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum lorem sit.</p>

    <p>Fusce finibus pharetra malesuada. Duis ullamcorper ultricies velit, eu interdum urna cursus vitae. Suspendisse pretium dolor eu cursus consequat. Quisque posuere finibus ligula, vel volutpat urna vestibulum sed. Aenean hendrerit risus at dui tempor, quis iaculis sem interdum. Curabitur sit amet imperdiet dolor. Integer efficitur nisi lacus, non ornare nulla molestie ac. Aliquam fermentum viverra justo, ut condimentum lectus blandit a. Suspendisse ac velit at massa laoreet tincidunt. Aenean pellentesque ipsum quam, rutrum pulvinar felis facilisis ut. Phasellus sed turpis pretium, eleifend metus sed, imperdiet augue.</p>

    <!-- OUR STAFF BEGINS -->
    <h2 class="about-staff-title">Our Staff</h2>
    <div class="about-us-staff-container">
        <div class="row">
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Arlyn Johnson</h5>
                        <p>General Manager</p>
                    </div>
                </div>
            </div>
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Brian Johnson</h5>
                        <p>Merchandise Manager</p>
                    </div>
                </div>
            </div>
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Jenny Savoy</h5>
                        <p>Merchandise Specialist</p>
                    </div>
                </div>
            </div>
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Johnathan Bravo</h5>
                        <p>HR Coordinator</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Arlyn Johnson</h5>
                        <p>General Manager</p>
                    </div>
                </div>
            </div>
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Brian Johnson</h5>
                        <p>Merchandise Manager</p>
                    </div>
                </div>
            </div>
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Jenny Savoy</h5>
                        <p>Merchandise Specialist</p>
                    </div>
                </div>
            </div>
            <div class="staff-employee-cell">
                <div class="staff-employee-container">
                    <img src="/assets/cms/about-us-staff-placeholder.png" alt="Employee Name - Job Title" />
                    <div class="staff-employee-details">
                        <h5>Johnathan Bravo</h5>
                        <p>HR Coordinator</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR STAFF ENDS -->

    <!-- ABOUT US BOTTOM CONTENT BEGINS -->
    <div class="about-us-bottom-content">
        <div class="row">
            <div class="about-us-bottom-content-col">
                <a href="#">
                    <img src="/assets/cms/summit-about-us-our-history.jpg" alt="About Us - Our History" />
                </a>
            </div>
            <div class="about-us-bottom-content-col">
                <a href="#">
                    <img src="/assets/cms/summit-about-us-our-values.jpg" alt="About Us - Our Values" />
                </a>
            </div>
        </div>
    </div>
    <!-- ABOUT US BOTTOM CONTENT ENDS -->
</div>
