<div class="cms-landing-page-shop-by-brand">
    <!-- FEATURED BRANDS SECTION BEGINS -->
    <div class="featured-brands-container">
        <h1>Featured brands</h1>
        <div class="row">
            <div class="featured-brands-col">
                <img src="/assets/cms/brands-logo-placeholder.png" alt="BRAND NAME HERE" />
            </div>
            <div class="featured-brands-col">
                <img src="/assets/cms/brands-logo-placeholder.png" alt="BRAND NAME HERE" />
            </div>
            <div class="featured-brands-col">
                <img src="/assets/cms/brands-logo-placeholder.png" alt="BRAND NAME HERE" />
            </div>
            <div class="featured-brands-col">
                <img src="/assets/cms/brands-logo-placeholder.png" alt="BRAND NAME HERE" />
            </div>
        </div>
    </div>
    <!-- FEATURED BRANDS SECTION ENDS -->

    <!-- BRANDS BY CATEGORY BEGINS -->
    <div class="brands-by-category">
        <h2>Brands by category</h2>
        <div class="row">

            <div class="brands-by-category-col">
                <ul>
                    <li class="brands-by-category-list-title">
                        <a href="#">Kitchen &amp; dining</a>
                    </li>
                    <li>
                        <a href="#">Bakeware</a>
                    </li>
                    <li>
                        <a href="#">Coffee, tea, &amp; espresso</a>
                    </li>
                    <li>
                        <a href="#">Cookware</a>
                    </li>
                    <li>
                        <a href="#">Cutlery &amp; knife accessories</a>
                    </li>
                    <li>
                        <a href="#">Dining &amp; entertaining</a>
                    </li>
                    <li>
                        <a href="#">Food service equipment</a>
                    </li>
                    <li>
                        <a href="#">Home brewing &amp; wine making</a>
                    </li>
                    <li>
                        <a href="#">Kitchen &amp; table linens</a>
                    </li>
                    <li>
                        <a href="#">Kitchen utensils &amp; gadgets</a>
                    </li>
                </ul>
            </div>
            <div class="brands-by-category-col">
                <ul>
                    <li class="brands-by-category-list-title">
                        <a href="#">Furniture</a>
                    </li>
                    <li>
                        <a href="#">Rugs</a>
                    </li>
                    <li>
                        <a href="#">Bedroom furniture</a>
                    </li>
                    <li>
                        <a href="#">Living room furniture</a>
                    </li>
                    <li>
                        <a href="#">Home office furniture</a>
                    </li>
                    <li>
                        <a href="#">Kid's furniture</a>
                    </li>
                    <li>
                        <a href="#">Home entertainment furniture</a>
                    </li>
                    <li>
                        <a href="#">Home bar furniture</a>
                    </li>
                    <li>
                        <a href="#">Entryway furniture</a>
                    </li>
                    <li>
                        <a href="#">Lounge &amp; recreation furniture</a>
                    </li>
                </ul>
            </div>
            <div class="brands-by-category-col">
                <ul>
                    <li class="brands-by-category-list-title">
                        <a href="#">Bedding &amp; Bath</a>
                    </li>
                    <li>
                        <a href="#">Sheets &amp; pillowcases</a>
                    </li>
                    <li>
                        <a href="#">Comforters &amp; sets</a>
                    </li>
                    <li>
                        <a href="#">Decorative pillows</a>
                    </li>
                    <li>
                        <a href="#">Mattress pads</a>
                    </li>
                    <li>
                        <a href="#">Pillows</a>
                    </li>
                    <li>
                        <a href="#">Shower curtains</a>
                    </li>
                    <li>
                        <a href="#">Bath rugs</a>
                    </li>
                    <li>
                        <a href="#">Bathroom accessories</a>
                    </li>
                    <li>
                        <a href="#">Towels</a>
                    </li>
                </ul>
            </div>
            <div class="brands-by-category-col">
                <ul>
                    <li class="brands-by-category-list-title">
                        <a href="#">Appliances</a>
                    </li>
                    <li>
                        <a href="#">Parts &amp; accessories</a>
                    </li>
                    <li>
                        <a href="#">Vacuum cleaners</a>
                    </li>
                    <li>
                        <a href="#">Floor care</a>
                    </li>
                    <li>
                        <a href="#">Kitchen small applicances</a>
                    </li>
                    <li>
                        <a href="#">Compact refrigerators</a>
                    </li>
                    <li>
                        <a href="#">Air purifiers</a>
                    </li>
                    <li>
                        <a href="#">Washers &amp; dryers</a>
                    </li>
                    <li>
                        <a href="#">Beverage refrigerators</a>
                    </li>
                    <li>
                        <a href="#">Ironing products</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- BRANDS BY CATEGORY ENDS -->

    <!-- ALL BRANDS BEGINS -->
    <div class="all-brands">
        <h2>All brands</h2>
        <div class="row">
            <div class="all-brands-col">
                <ul>
                    <li><a href="#">Brand 1</a></li>
                    <li><a href="#">Brand 2</a></li>
                    <li><a href="#">Brand 3</a></li>
                    <li><a href="#">Brand 4</a></li>
                    <li><a href="#">Brand 5</a></li>
                    <li><a href="#">Brand 6</a></li>
                    <li><a href="#">Brand 7</a></li>
                    <li><a href="#">Brand 8</a></li>
                    <li><a href="#">Brand 9</a></li>
                    <li><a href="#">Brand 10</a></li>
                    <li><a href="#">Brand 11</a></li>
                    <li><a href="#">Brand 12</a></li>
                    <li><a href="#">Brand 13</a></li>
                    <li><a href="#">Brand 14</a></li>
                    <li><a href="#">Brand 15</a></li>
                    <li><a href="#">Brand 16</a></li>
                    <li><a href="#">Brand 17</a></li>
                    <li><a href="#">Brand 18</a></li>
                    <li><a href="#">Brand 19</a></li>
                    <li><a href="#">Brand 20</a></li>
                    <li><a href="#">Brand 21</a></li>
                    <li><a href="#">Brand 22</a></li>
                    <li><a href="#">Brand 23</a></li>
                    <li><a href="#">Brand 24</a></li>
                    <li><a href="#">Brand 25</a></li>
                    <li><a href="#">Brand 26</a></li>
                    <li><a href="#">Brand 27</a></li>
                    <li><a href="#">Brand 28</a></li>
                    <li><a href="#">Brand 29</a></li>
                    <li><a href="#">Brand 30</a></li>
                </ul>
            </div>
            <div class="all-brands-col">
                <ul>
                    <li><a href="#">Brand 1</a></li>
                    <li><a href="#">Brand 2</a></li>
                    <li><a href="#">Brand 3</a></li>
                    <li><a href="#">Brand 4</a></li>
                    <li><a href="#">Brand 5</a></li>
                    <li><a href="#">Brand 6</a></li>
                    <li><a href="#">Brand 7</a></li>
                    <li><a href="#">Brand 8</a></li>
                    <li><a href="#">Brand 9</a></li>
                    <li><a href="#">Brand 10</a></li>
                    <li><a href="#">Brand 11</a></li>
                    <li><a href="#">Brand 12</a></li>
                    <li><a href="#">Brand 13</a></li>
                    <li><a href="#">Brand 14</a></li>
                    <li><a href="#">Brand 15</a></li>
                    <li><a href="#">Brand 16</a></li>
                    <li><a href="#">Brand 17</a></li>
                    <li><a href="#">Brand 18</a></li>
                    <li><a href="#">Brand 19</a></li>
                    <li><a href="#">Brand 20</a></li>
                    <li><a href="#">Brand 21</a></li>
                    <li><a href="#">Brand 22</a></li>
                    <li><a href="#">Brand 23</a></li>
                    <li><a href="#">Brand 24</a></li>
                    <li><a href="#">Brand 25</a></li>
                    <li><a href="#">Brand 26</a></li>
                    <li><a href="#">Brand 27</a></li>
                    <li><a href="#">Brand 28</a></li>
                    <li><a href="#">Brand 29</a></li>
                    <li><a href="#">Brand 30</a></li>
                </ul>
            </div>
            <div class="all-brands-col">
                <ul>
                    <li><a href="#">Brand 1</a></li>
                    <li><a href="#">Brand 2</a></li>
                    <li><a href="#">Brand 3</a></li>
                    <li><a href="#">Brand 4</a></li>
                    <li><a href="#">Brand 5</a></li>
                    <li><a href="#">Brand 6</a></li>
                    <li><a href="#">Brand 7</a></li>
                    <li><a href="#">Brand 8</a></li>
                    <li><a href="#">Brand 9</a></li>
                    <li><a href="#">Brand 10</a></li>
                    <li><a href="#">Brand 11</a></li>
                    <li><a href="#">Brand 12</a></li>
                    <li><a href="#">Brand 13</a></li>
                    <li><a href="#">Brand 14</a></li>
                    <li><a href="#">Brand 15</a></li>
                    <li><a href="#">Brand 16</a></li>
                    <li><a href="#">Brand 17</a></li>
                    <li><a href="#">Brand 18</a></li>
                    <li><a href="#">Brand 19</a></li>
                    <li><a href="#">Brand 20</a></li>
                    <li><a href="#">Brand 21</a></li>
                    <li><a href="#">Brand 22</a></li>
                    <li><a href="#">Brand 23</a></li>
                    <li><a href="#">Brand 24</a></li>
                    <li><a href="#">Brand 25</a></li>
                    <li><a href="#">Brand 26</a></li>
                    <li><a href="#">Brand 27</a></li>
                    <li><a href="#">Brand 28</a></li>
                    <li><a href="#">Brand 29</a></li>
                    <li><a href="#">Brand 30</a></li>
                </ul>
            </div>
            <div class="all-brands-col">
                <ul>
                    <li><a href="#">Brand 1</a></li>
                    <li><a href="#">Brand 2</a></li>
                    <li><a href="#">Brand 3</a></li>
                    <li><a href="#">Brand 4</a></li>
                    <li><a href="#">Brand 5</a></li>
                    <li><a href="#">Brand 6</a></li>
                    <li><a href="#">Brand 7</a></li>
                    <li><a href="#">Brand 8</a></li>
                    <li><a href="#">Brand 9</a></li>
                    <li><a href="#">Brand 10</a></li>
                    <li><a href="#">Brand 11</a></li>
                    <li><a href="#">Brand 12</a></li>
                    <li><a href="#">Brand 13</a></li>
                    <li><a href="#">Brand 14</a></li>
                    <li><a href="#">Brand 15</a></li>
                    <li><a href="#">Brand 16</a></li>
                    <li><a href="#">Brand 17</a></li>
                    <li><a href="#">Brand 18</a></li>
                    <li><a href="#">Brand 19</a></li>
                    <li><a href="#">Brand 20</a></li>
                    <li><a href="#">Brand 21</a></li>
                    <li><a href="#">Brand 22</a></li>
                    <li><a href="#">Brand 23</a></li>
                    <li><a href="#">Brand 24</a></li>
                    <li><a href="#">Brand 25</a></li>
                    <li><a href="#">Brand 26</a></li>
                    <li><a href="#">Brand 27</a></li>
                    <li><a href="#">Brand 28</a></li>
                    <li><a href="#">Brand 29</a></li>
                    <li><a href="#">Brand 30</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ALL BRANDS ENDS -->
</div>
