<div class="cms-landing-page-privacy-policy">

    <h1>NetSuite Privacy Policy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac risus rutrum, aliquet mauris ut, interdum ligula. Integer at dolor purus. Proin blandit aliquam nulla, vel tempus lectus. Sed pharetra, lectus quis aliquet aliquam, risus sapien gravida sapien, in consectetur erat metus at tortor. </p>

    <p>Effective Date: November 21, 2016<br>
    Nulla eu nisi libero. Donec aliquam in lectus eget venenatis. Fusce iaculis augue ac facilisis condimentum. Mauris vel quam id dui vestibulum luctus. Proin eu sapien dictum, maximus orci in, viverra massa. Integer in mauris vitae leo pulvinar lobortis at a est. Praesent rhoncus ante a nunc auctor, eu aliquam eros dignissim. Proin sed lectus nibh. Aenean sed rutrum nisi, eu molestie risus. Proin aliquet felis nisi, a tincidunt lorem sagittis quis. Suspendisse tortor sapien, venenatis eget sagittis non, vulputate ac diam.</p>

    <p>Nunc non felis urna. Phasellus fermentum sodales pharetra. Maecenas massa purus, dignissim sed venenatis id, ultricies sit amet ipsum. Nullam dignissim metus orci, malesuada placerat neque hendrerit sed. Aliquam semper purus at nibh venenatis faucibus. Vestibulum gravida orci non sem porttitor hendrerit ac mattis ligula. Donec nibh purus, semper at velit a, posuere condimentum leo. Curabitur commodo tincidunt ante a porta. Nunc sapien neque, lobortis at cursus id, convallis ut quam. Aliquam erat volutpat.</p>

    <p>Phasellus non dignissim arcu. Quisque tempus vehicula semper. Proin lobortis laoreet purus et scelerisque.</p>

    <h3>Scope</h3>
    <p>Ut consequat arcu ut quam eleifend tempor: </p>

    <blockquote>Duis pulvinar, elit a viverra lobortis, diam lorem lobortis dui, ac lacinia urna lectus quis enim. Sed varius eu sem et lacinia. Vestibulum volutpat facilisis mi non tincidunt. Fusce vel elit tortor. Quisque pellentesque nisi quis faucibus dignissim.</blockquote>

    <blockquote>Aliquam porttitor malesuada turpis congue tristique. Maecenas a sapien pharetra, tempor neque sed, lacinia nulla. Suspendisse ut enim eget felis imperdiet dictum. Fusce est lorem, finibus at sem a, sollicitudin vehicula orci. Suspendisse et leo augue. Proin finibus dolor quis magna semper, eget porta lorem convallis. Fusce in metus iaculis quam posuere eleifend ac eu lorem. Etiam ultrices sit amet justo eget faucibus. Sed placerat feugiat efficitur.</blockquote>

    <h3>Outside of Scope</h3>
    <p>Fusce blandit, lectus non bibendum sodales, risus turpis malesuada enim, vel gravida metus ante at eros. Vivamus quis tincidunt leo. Quisque ac aliquet lectus. Sed dictum ex a nibh malesuada venenatis. Praesent vitae pulvinar diam. Maecenas maximus eu nisl eu sollicitudin. Maecenas egestas sapien at ante volutpat, sit amet gravida dui venenatis. Praesent semper volutpat est, sagittis blandit nibh tincidunt vitae.</p>

    <h3>Types of data and collection methods</h3>
    <p>Aliquam erat volutpat. Sed ut ex viverra, volutpat mauris nec, pellentesque metus. Vivamus id placerat mauris. Vestibulum quis metus sodales, consequat metus nec, finibus dui. Suspendisse sem enim, commodo sit amet velit in, cursus sollicitudin neque. Etiam semper sem eget dui iaculis egestas. Proin dapibus in nulla sed rhoncus. Nullam ut diam leo. Aliquam erat volutpat. Nam porta a eros vel hendrerit. Nulla libero turpis, auctor ut maximus ac, molestie ac massa.</p>

    <p>Nulla eu nisi libero. Donec aliquam in lectus eget venenatis. Fusce iaculis augue ac facilisis condimentum. Mauris vel quam id dui vestibulum luctus. Proin eu sapien dictum, maximus orci in, viverra massa. Integer in mauris vitae leo pulvinar lobortis at a est. Praesent rhoncus ante a nunc auctor, eu aliquam eros dignissim. </p>

</div>
