<div class="cms-landing-page-shop-by-category">
    <h1>Shop By Category</h1>
    <div class="row">
        <div class="shop-by-category-col">
            <a href="#">
                <img src="/assets/cms/summit-category-image-1.png" alt="Category 1">
            </a>
        </div>
        <div class="shop-by-category-col">
            <a href="#">
                <img src="/assets/cms/summit-category-image-2.png" alt="Category 2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="shop-by-category-col">
            <a href="#">
                <img src="/assets/cms/summit-category-image-3.png" alt="Category 3">
            </a>
        </div>
        <div class="shop-by-category-col">
            <a href="#">
                <img src="/assets/cms/summit-category-image-4.png" alt="Category 4">
            </a>
        </div>
    </div>
</div>
