{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<a class="{{#if hasClass}} {{className}} {{else}}requestquote-accesspoints-headerlink-link{{/if}}" href="#" data-hashtag="#request-a-quote" data-touchpoint="customercenter" title="{{translate 'Request a Quote'}}">
	{{translate 'Request a Quote'}}
</a>



{{!----
Use the following context variables when customizing this template: 
	
	hasClass (Boolean)
	className (String)

----}}
