{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<p class="quick-order-empty-cart">
	{{translate 'Continue Shopping on our <a href="/" data-touchpoint="home">Home Page</a> or use the Quick Add below to add items to your cart.' }}
</p>



{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
