{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<a data-action="edit" class="payment-wizard-invoice-action-button {{#unless showAction}}hidden{{/unless}}" href="#" >
	{{#if isPayfull}}
		{{translate 'Edit Payment'}}
	{{else}}
		{{translate 'Partial Payment'}}
	{{/if}}
</a>



{{!----
Use the following context variables when customizing this template: 
	
	isPayfull (Boolean)
	showAction (Boolean)

----}}
