{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<section class="error-management-logged-out-modal-content">
	<div class="error-management-logged-out">
		<h4>
			<span class="error-management-logged-out-warning-icon"></span>
			{{labels.title}}
		</h4>
	    <p>{{labels.explanation}}</p>
	</div>
	<p>
	  	<a class="error-management-logged-out-close-button" href="#login">{{labels.login}}</a>
	</p>
</section>


{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
