/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.quick-order-divider {
	@extend .accordion-divider;
}
.quick-order-expander-head {
	@extend .accordion-head;
}
.quick-order-expander-head-toggle {
	@extend .accordion-head-toggle;
}
.quick-order-expander-toggle-icon {
	@extend .accordion-toggle-icon;
}
.quick-order-expander-body {
	@extend .accordion-body;
	&.in { 
		overflow: visible;
	}
}
.quick-order-expander-container {
	@extend .accordion-container;
	margin: 0;

	.quick-add-box {
		margin: 0;
	}
}
