/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit theme */

.shopping-layout {
	@extend %sc-layout;
}

.shopping-layout-header {
	//@include box-shadow(3px 0px 6px $sc-color-theme-400);
	margin-bottom: 0;
	background-color: transparent;
}

.shopping-layout-footer {
	@extend %sc-footer !optional;
}

.shopping-layout-breadcrumb {
	@extend .container;
	@extend .content-background;
	padding-top: $sc-theme-desktop-padding !important;
	padding-left: 0 !important;
    font-family: $sc-theme-secondary-font;
    text-transform: uppercase;
	background-color: transparent !important;
}

.shopping-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}

.shopping-layout-content{}
