/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.merchandising-zone-cell-template{
	.item-view-lead-price{
		text-align:center;
	}
	.item-views-price{
		text-align:center;
	}
	.item-views-related-item-rate{
		width:92px;
		margin:0 auto;
	}
	.item-relations-related-item-thumbnail{
		display:inline;
		min-height:120px;
		img{
			height:125px;
		}
	}
}