/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.requestquote-wizard-module-items-line-actions{}

.requestquote-wizard-module-items-line-actions-button-remove{
	@extend .button-tertiary;
	@extend .button-small;
	margin-bottom: $sc-margin-lv4;
}