/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Standard variables edited for Summit Theme */

// color picker
$picker-large: 40px;
$picker-medium: 25px;
$picker-small: 20px;
$picker-xsmall: 10px;

//New color picker
$picker-color-large: 40px;
$picker-color-medium: 25px;
$picker-color-small: 15px;
$picker-color-xsmall: $picker-color-small;

// images
$img-large: 160px;
$img-medium: 100px;
$img-small: 60px;

//target size
$sc-target-size: 50px; //for height of items in nav
$sc-target-size-mobile: 40px;

$sc-flyout-arrow-height: 7px;
$sc-flyout-arrow-shadow-height: $sc-flyout-arrow-height - 1;

$sc-border-radius: 0; //6px;

$sc-animation-base-duration: 300ms;

/* Start Summit Theme specific */

/* SITE-WIDE */

/* COLORS */

/* See variables > _colors.scss */

/*
 - These colors are added for the Summit theme for borders, backgrounds, text
 - They are used as a general color theme for the main content area
 */
$sc-theme-color: #cccccc;
$sc-theme-color-light: $sc-color-theme-base;
$sc-theme-color-lightest: #edf0f2;
$sc-theme-color-body-background: $sc-theme-color-lightest; // background color only

/* Link color, headings and some border colors */
$sc-theme-color-header: #658e00;//#1a78ba; // headings, tertiary button border and hover color
$sc-theme-border-color: $sc-theme-color-light; //border color against background color
$sc-theme-border-color-light: $sc-theme-color-lightest; // border color against content background color, facet display icons, .box-column background color
$sc-theme-border: 1px solid $sc-theme-border-color; // borders in footer
$sc-theme-border-light: 1px solid $sc-theme-border-color-light; // borders in main content area, under nav, in cart and checkout

/* Forms */
$sc-theme-input-color: #8bc400; //input border color and color, some button and button border colors

/* Drop Shadow */
$sc-theme-color-shadow: transparentize(black, 1-0.25); //button, carousel and infoblocks text shadow

/* Buttons */
/* See atoms > _buttons.scss */

/* FONTS */

$sc-theme-primary-font: 'Open Sans', sans-serif;//"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sc-theme-secondary-font: "Droid Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* SIZING */
$sc-theme-cell-img-height: $img-large; //160px; // image size on merchandising zones, related items etc
$sc-theme-cell-img-width: $img-large; //160px;
$sc-theme-border-radius: 0px; // curve radius on all container divs and buttons

/* SPACING */
/* For left/right padding */
$sc-theme-mobile-padding: 25px;
$sc-theme-desktop-padding: 35px;


////////////////////////////////////////////////////////////////////////////////


/* HEADER */
/* Moved from header scss */
$sc-main-nav-height: 72px;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px;
$sc-sidebar-size: 246px;
$sc-theme-header-height: 150px; // height of header which includes blue bar and navigation - used for padding when FIXED HEADER is ENABLED

/* Category Navigation */
$sc-theme-nav-font-size: 1vw;//14px;
$sc-theme-nav-color: #000;//#0B274E;
$sc-theme-nav-bgr-color: $sc-neutral-shade-0;

/* Header Right Hand Menu Links i.e. login, register */
$sc-theme-header-link-color: $sc-theme-color;
$sc-theme-header-link-color-hover: $sc-color-link-hover;

/* Navigation Tools (Icons) */
$sc-theme-icon-size: 20px;
$sc-theme-icon-color: #87ba2e;
$sc-theme-cart-icon-color: #336633;


////////////////////////////////////////////////////////////////////////////////


/* HOME */

/* Carousel */
$sc-theme-carousel-title-size-desktop: 50px;
$sc-theme-carousel-title-size-mobile: 35px;
$sc-theme-carousel-text-size: 19px;
$sc-theme-carousel-text-color: $sc-neutral-shade-0;
$sc-theme-carousel-button-font-size: 18px;
$sc-theme-carousel-button-text-color: $sc-neutral-shade-0;
$sc-theme-carousel-button-bgr-color: $sc-color-secondary;
$sc-theme-carousel-button-bgr-hover-color: #336633;

/* Infoblocks */
$sc-theme-infoblock-height-mobile: 160px;
$sc-theme-infoblock-height-desktop: 250px;
$sc-theme-infoblock-content-padding: 40px;
$sc-theme-infoblock-highlight-color: #000; //user hovers over infoblock and coloured overlay applied
$sc-theme-infoblock-title-size-desktop: 50px;
$sc-theme-infoblock-title-size-mobile: 28px;
$sc-theme-infoblock-text-size: 20px;
$sc-theme-infoblock-link-color: $sc-neutral-shade-0;


////////////////////////////////////////////////////////////////////////////////


/* FOOTER */

$sc-theme-footer-submit-color: $sc-color-secondary;
$sc-theme-footer-font-size: 14px;
$sc-theme-footer-heading-color: $sc-theme-color;
$sc-theme-upper-footer-link-color: $sc-color-link;
$sc-theme-upper-footer-link-color-hover: $sc-color-link-hover;
$sc-theme-lower-footer-link-color: $sc-theme-color;
$sc-theme-lower-footer-link-color-hover: $sc-color-link-hover;
$sc-theme-lower-bgr-color: $sc-theme-nav-color;
$sc-theme-footer-social-icon-color: $sc-color-secondary;
$sc-theme-footer-social-icon-size: 26px;

/* Error Pages */
$sc-theme-error-height-mobile: 100px;
$sc-theme-error-height-desktop: 400px;

/* End Summit Theme specific */
