/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.main, .layout-container {
	min-height: 100%;
	height: auto;
	width: 100%;
}

%sc-layout {
	min-height: 100%;
	// FIXED HEADER - CONFIGURABLE VIA CONFIGURATION RECORD
	#site-header.fixed-header {
        @media(min-width: $screen-md-min) {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1001;
        }
    }
	.theme-has-fixed-header {
        @media (min-width: $screen-md-min) {
            padding-top: $sc-theme-header-height;
        }
    }
}

%sc-footer {
}

.layout-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
