{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

{{! Edited for Bridge Theme }}

<div class="header-simplified-main">
    <div class="header-main-container">
        <div class="nav-header-logo" data-view="Header.Logo"></div>
    </div>
</div>

<div id="banner-header-top" class="content-banner banner-header-top" data-cms-area="simplified_header_banner" data-cms-area-filters="global"></div>
