/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-list-deletion-confirm{
	padding-top: 0;
}

.product-list-deletion-footer{
	margin-top: $sc-margin-lv3;
}

.product-list-deletion-button-delete-button{
	@extend .button-primary;
	@extend .button-medium;
}

.product-list-deletion-button-delete-cancel{
	@extend .button-positioning-stack2next;
	@extend .button-secondary;
	@extend .button-medium;
}

.product-list-deletion-body{}