/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-list-control-new-item-button-create{
	@extend .button-small;
	@extend .button-tertiary;
	margin:$sc-margin-lv3;
}
.product-list-control-new-item-add-new-list-form{
	display: none;
}

.product-list-control-new-item-add-new-list-input-container{
	padding: $sc-padding-lv3;
	padding-bottom: 0;
}

.product-list-control-new-item-add-new-list-input{

}

.product-list-control-new-item-add-new-list-buttons{}
