.itemBadge-view-container, .itembadges-relateditem, .product-details-quickview .itembadges-badge-container{
  width: 20%;
  position: absolute;
  top: 0;
}

.itembadges-badge-container{
  position: absolute;
  right:0;
  z-index: 10;
}

.item-details-gallery-prev-icon, .item-details-gallery-next-icon{
  z-index: 1;
}

.itembadges-badge{
  @extend .col-md-6;
  white-space: nowrap;
  color: $sc-color-secondary;
  font-size: $sc-font-size-base;
  padding: $sc-padding-base;
}

.itembadges-listitem, .itembadges-relateditem{
  right: 0;
}

.itembadges-itemdetail{
  right: 15px;
}

.itembadges-badge-row, .itembadges-image-row{
  @extend .row;
  margin: 0;
  display: none;
}

.itembadges-image-row{
  width: 100%;
  text-align: center;
}

.itembadges-show{
  display: block;
}