/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-views-option-text {
	width: 100%;
	margin-bottom:$sc-margin-lv4;

	[data-validation-error="block"]{
  		display:table;
  		margin-top:$sc-margin-lv1;
  	}
}

.product-views-option-text-label {}
.product-views-option-text-label-required {
	@extend .input-required;
}
.product-views-option-text-input {
	@extend .input-medium;
}

[data-action="sc-pushing"] .product-views-option-text-input {
    width: 100%;
}

.product-views-option-text-area {

}

.product-views-option-text-required-reference-container {
	padding:$sc-padding-lv3 0;
}
