<!--1st row top header  https://uicookies.com/demo/#x_corporation -->
<section class="single-page-title">
  <div class="main-video" data-video-container>
      <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/ES100Hero.png" alt=""/>
      <a href="#" data-action="show-video" data-video-url="https://www.youtube.com/embed/Z2EJhCWk0gU?autoplay=1" class="btn-video"><i class="icon-video"></i></a>
  </div>
</section>
<!-- end 1st row-->

<!-- 2nd  row  -->
<div class="container text-center fitpages">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="promo-content">
                        <h3>60</h3>

                        <p>Gallons on one charge</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="promo-content">
                        <h3>100</h3>

                        <p>100AH AGM BATTERY</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="promo-content">
                        <h3>227</h3>

                        <p>Bar PSI</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="promo-content">
                        <h3>204</h3>

                        <p>KG</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>

        </div>
        <!-- /.row -->

    </div>
<!-- end 2nd row-->
<!--  3rd row   -->
<div class="container fitpages">
        <div class="row">
            <div class="col-md-6">
                <div class="clearfix">
                    <a href="#"><img class="img-responsive thumbnail" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Investment</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="clearfix">
                    <a href="#"><img class="img-responsive thumbnail" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Planning</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row cms-content">
            <div class="col-md-6">
                <div class="clearfix">
                    <a href="#"><img class="img-responsive thumbnail" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Analysis</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="clearfix">
                    <a href="#"><img class="img-responsive thumbnail" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Banking</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- end 3rd row-->
    <!-- 4th row -->
    <div class="container fitpages">
           <div class="row">
               <div class="col-md-6 img-left">
                   <img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="">
               </div>
               <div class="col-md-6">
                   <div class="promo-block-wrapper clearfix">
                       <div class="promo-icon">
                           <i class="fa fa-line-chart"></i>
                       </div>
                       <div class="promo-content">
                           <h3>We teach you how to improve your business</h3>

                           <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet
                               dolore magna aliquam erat volutpat.</p>
                       </div>
                   </div>
                   <!-- /.promo-block-wrapper -->

                   <div class="promo-block-wrapper clearfix">
                       <div class="promo-icon">
                           <i class="fa fa-life-ring"></i>
                       </div>
                       <div class="promo-content">
                           <h3>We make the technology affordable for you</h3>

                           <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet
                               dolore magna aliquam erat volutpat.</p>
                       </div>
                   </div>
                   <!-- /.promo-block-wrapper -->

                   <div class="promo-block-wrapper clearfix">
                       <div class="promo-icon">
                           <i class="fa fa-calculator"></i>
                       </div>
                       <div class="promo-content last-type">
                           <h3>Seamlessly grow wireless human capital before turnkey.</h3>

                           <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet
                               dolore magna aliquam erat volutpat.</p>
                       </div>
                   </div>
                   <!-- /.promo-block-wrapper -->

               </div>
           </div>
       </div>
    <!-- end 4th row ---->

    <!--5th row  https://uicookies.com/demo/#x_corporation -->
    <section class="single-page-title">
        <div class="container text-center">
          <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/ES100Hero.png" alt=""/>
        </div>
    </section>
    <!-- end 5th row-->
