<div class="contact-us-container" style=" padding-left: 0; padding-right: 0; max-width: 100%;">
 <div class="banner left" style="margin:-6.5% -3% 3% -3.2%; width:106.4%;"><img src="/c.4026778/sca-dev-kilimanjaro/img/Contactus/sample_banner.jpg" class="background">
  <div class="container">
    <h1 class="green">Delivery Returns</h1>
  </div>
 </div>
<div>
<div class="std"><p><span style="color: #008000;"><strong>MEON Ltd.</strong></span></p>
    <p><span style="color: #008000;"><strong>Delivery Returns</strong></span></p>
    <p><strong><span style="color: #008000;"Delivery Times</span></strong></p>
    <p>All orders will be despatched in accordance to the delivery option chosen, provided that we have the items in stock. We will always let you know if a product is out of stock and confirm when we anticipate it to be available and despatched.</p>
    <p>We use a professional courier company to deliver our products and all items must be signed for, so please ensure that you are at the stated delivery address. Failure to sign for your goods will result in the items being returned to the depot and the courier company will leave a card stating their details and what to do next.</p>
    <p>There may be a charge for re-delivery and it is between you and the courier to arrange this. Meon Direct accepts no responsibility for failed deliveries.</p>
    <p>Items will not be left without a valid signature.</p>
    <p>If you have any queries about item delivery please contact the Meon Direct office on 0808 118 1922 or email&nbsp;<a href="mailto:info@meondirect.com"><span>info@meondirect.com</span></a></p>

    <p><strong><span style="color: #008000;">Delivery Areas</span></strong></p>
    <p>Meon Direct will deliver to any address in the UK. If you require delivery to an address outside of this, please email&nbsp;<a href="mailto:info@meondirect.com"><span>info@meondirect.com</span></a></p>
    <p>Customers in the Republic of Ireland and Northern Ireland should contact our respective Irish offices: </p>
    <p><span><b>Republic of Ireland</b> 01 840 7647</span></p>
    <p><span><b>Northern Ireland</b> 028 3085 0049</span></p>
    <p><span>Our Irish offices can be emailed at <a href="mailto:info@meonireland.com"><span>info@meonireland.com</span></a> .</span></p>

    <p><span style="color: #008000;"><strong>Delivery Costs</strong></span></p>
    <p>We calculate our delivery costs according to your delivery postcode. We try our best to ensure we are very competitive with other companies when it comes to delivery.</p>

    <p><span style="color: #008000;"><strong>Can I collect an Item?</strong></span></p>
    <p>Yes, we offer the option for you to collect purchased items from our warehouse, for no additional cost. You must use our adress for the delivery address (Meon, Railside, Northarbour Spur, Portsmouth, PO6 3TU). </p>

    <p><span style="text-decoration: underline;"><span style="color: #008000;"><strong>When can I collect?</strong></span></span></p>
    <p>To collect a purchased item, you must specify the date and time that you would like to collect it. Collection is not possible within 4 hours of purchase and our collection sevice is open Monday to Friday between 8 AM and 3 PM. Customers are unable to collect items outside of this time period.</p>

    <p><span style="color: #008000; text-decoration: underline;"><strong>Return of Goods</strong></span></p>
    <p>No goods (other than goods which reach the customers in unusable condition) may be returned without prior written consent of The Company.  Where the Company consents to such return, the goods must be received from the customer in good condition and the customer agrees to pay an administrative handing charge of 20% of the invoice value of the goods returned.  It is our normal practice to replace any merchandise which might reach customer in an unusable condition.  No handing charge will be made under these circumstances.  It would help if goods which are being returned to use for examination prior to replacement, are thoroughly cleaned and adequately packed before despatch.</p>

    <p><span style="color: #008000; text-decoration: underline;"><strong>RETURNS</strong></span></p>
    <p>Returns can only be accepted when approved by a member of Meon Ltd staff and returns note number given. Meon Ltd reserves the right to levy a 20% handling carriage charge on goods supplied in accordance with the customer’s order but subsequently returned, provided the goods are returned in good saleable condition and all packaging as new.</p>
    <p>Goods which are specially ordered, made to order, printed, badged or in any other way personalised are NOT returnable.</p>
    <p><span style="text-decoration: underline;"><strong><span style="color: #008000;">RETURNED GOODS8 RETURNED GOODS</span></strong></span></p>
    <p>All sales are final.  The company does not trade on a ‘sale or return’ basis.  We do accept returns subject to the following conditions.</p>
    <div style = "text-indent: 15px;">
      <p>1.      Proof of purchase (relevant LM number required).</p>
      <p>2.      <b>Returns Authorisation Note must be obtained prior to returning any goods; this includes items returned in person to our collection point.</b></p>
      <p>4.      All goods must be returned back to Meon by the customer in good condition, in original packaging, not damaged or opened.</p>
      <p>5.      Customer is to pay for any costs incurred with returning goods to Meon.</p>
      <p>6.      Meon retain the right to refuse credit on goods should the company deem them to be unsuitable for resale, and disposal may be charged for.</p>
      <p>7.      Goods which are specially ordered, made to order, printed or special aggregates will not be accepted back for returns under any circumstances.</p>
      <p>8.      Meon Ltd reserve the right to decline any returns if the requested return date is more than 28 days from date of purchase.</p>
      <p>9.      Meon reserve the right to restrict the credit to a maximum value of 10% of original order value (before re-stock charge).</p>
      <p>10.   Goods that reach the customer in unusable condition will of course be replaced and no handling charge will be made under these circumstances.</p>
    </div>
  </div>
 </div>
</div>
