<div class="contact-us-container" style=" padding-left: 0; padding-right: 0; max-width: 100%;">
 <div class="banner left" style="margin:-4% -3% 3% -3.2%; width:106.4%;"><img src="/c.4026778/sca-dev-kilimanjaro/img/Contactus/sample_banner.jpg" class="background">
  <div class="container">
    <h1 class="green">FAQ's</h1>
  </div>
 </div>
 <div>
   <div class="std"><p><i><br></i></p><p><font color="#008000"><b>Do I need to carry out any mechanical&nbsp;prep to a power-floated concrete floor before applying a coating or lines?</b></font></p><p>
   </p><p class="p1"><i>We certainly advise it as it will provide a better finish with excellent adhesion &amp; longer life. If it is not possible, there are primers which we recommend as the next best option</i></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>Will my Graco paint machine spray MMA products?</b></font></p><p class="p1">
   </p><p class="p1"><i>Only certain machines are suitable, so take further advice from sales team. We recommend the&nbsp;</i><a href="http://www.meondirect.com/LineLazer-5-250-982" target="_self">Graco 98:2</a><i>&nbsp;for &nbsp;MMA installations</i></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>Can I apply UltraLine onto concrete without primer?</b></font></p><p class="p1">
   </p><p class="p1"><i>We always recommend priming concrete before application of MMA products, for specific technical reasons. However, the UltraLine is a 'thick film' MMA and is widely used on external concrete areas without primer with very high success rates. Please refer to&nbsp;</i><a href="https://meonltd1.app.box.com/files/0/f/5675772869/1/f_46052491613" target="_self">Technical Data Sheet</a><i>&nbsp;for more information.</i></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>Is Patchmaster a permanent repair system?</b></font></p><p class="p1">
   </p><p class="p1"><i>Patchmaster is designed to be used as a temporary short-term repair solution, keeping roads open and preventing further damage, as untended potholes are a major safety risk and rapidly grow into a major defect.</i></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>Can I apply your products onto new asphalt or tarmacadam?</b></font></p><p class="p1">
   </p><p class="p1"><i>We always recommend allowing sufficient time for the surface to stabilise and for oxidisation to take place. It is difficult to put a timescale on this, as it is weather-dependent and varies between a few days in summer to several weeks or more in winter. There are ways of priming if coatings have to be applied immediately. You can see a list of our primers&nbsp;</i><a href="http://www.meondirect.com/Surface-Marking/Surface-Primers" target="_self">HERE</a></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>Are your products slip-resistant?</b></font></p><p class="p1">
   </p><p class="p1"><i>Yes, we do have products and additives which offer good slip resistance when applied correctly to suitable substrates. Typically SRV45 or more is considered suitable for medium risk areas such as walkways, rising to SRV65 or more for high risk areas such as High Friction Surfacing</i></p><p class="p1"><i><br></i></p><p class="p1"><font size="4" color="#000080"><b>DEKORGRIP</b></font></p><p class="p1">
   </p><p class="p1"><b><font size="4" color="#000080">Bound &nbsp; </font><font size="4" color="#003366">&nbsp; &nbsp; &nbsp;</font></b></p><p class="p1"><b><font color="#008000">How quickly can I use the surface after it’s laid? &nbsp;</font></b> &nbsp; &nbsp;&nbsp;</p><p class="p1">Pedestrians 12 hours, vehicles 24 hours (ideally)</p><p class="p1"><font color="#000080" size="4"><b>Bond</b></font></p><p class="p1"><b><font color="#008000">Is it Porous?&nbsp;</font></b></p><p class="p1">
   </p><p class="p1">No – if permeability is required, Bound surface should be chosen</p><p class="p1"><b style="background-color: rgb(255, 255, 255);"><font color="#000080" size="4">TreePit</font></b></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>What base do I need to lay tree pit on?</b></font></p><p class="p1">
   </p><p class="p1">50mm of compacted 10mm washed angular stone on geotextile membrane</p><p class="p1">
   </p><p class="p1"><font color="#000080" size="4"><b>Rubber Mulch</b></font></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>How long does rubber mulch last?</b></font></p><p class="p1">
   </p><p class="p1">Depends on level of traffic, but in high traffic areas colour could be worn off within 3-5 years</p><p class="p1">
   </p><p class="p1"><b style="background-color: rgb(255, 255, 255);"><font color="#000080" size="4">Crumb</font></b></p><p class="p1">
   </p><p class="p1"><font color="#008000"><b>How much does one bag cover?</b></font></p><p class="p1">
   </p><p class="p1">1.5m2 @ 20mm thick</p><p class="p1">
   </p><p class="p1"><b><font color="#000080" size="4">EcoGrid</font></b></p><p class="p1"><font color="#008000"><b>What aggregate do we use to lay EcoGrid on, and for the infill?</b></font></p><p class="p1">
   </p><p class="p1">5-10mm sharp angular stone for both – approx. 100kg/m2 required for 40mm thick grid</p><p class="p1">For more information on DekorGrip material please visit www.meonuk.com/DekorGrip</p>
   </div>
</div>
