<!--1st row top header  https://uicookies.com/demo/#x_corporation -->
<section class="single-page-title toppagetitle">
  <div class="main-video" data-video-container>
      <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/airport-image-mock.jpg" alt=""/>
     <a href="#" data-action="show-video" data-video-url="https://www.youtube.com/embed/tXAGZ3dmsQI?autoplay=1" class="btn-video"><i class="icon-video"></i></a>
  </div>
</section>
<!-- end 1st row-->
<!--  3rd row   -->
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="clearfix norigth">
                <a href="#"><img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>
            </div>
        </div>
        <div class="col-md-6">
          <div class="caption noleft black promo-content coverarea">
            <div class="textbox">
              <h3><a href="#">NO ENGINE NOISE</a></h3>

              <p>Do any job anytime, without disruptive engine noise</p>
              <h3><a href="#">NO ENGINE VIBRATION</a></h3>

              <p>Allows for perfect lines on all surfaces andreduces user fatigue.</p>
            </div>
            <!-- hidden image -->
            <div class= "noleft">
                <img class="img-responsive imagehide" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
            </div>
          </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <div class="caption norigth grey promo-content coverarea">
            <div class="textbox">
              <h3><a href="#">IDEAL FOR USE IN:</a></h3>
              <p>
                Factories and Warehouses – indoor striping
                Night time – where noise is a concern
                Internal carparks and garages
                External car parks and roadways
                Any job where battery-powered benefits are desired.
              </p>
            </div>
            <!-- hidden image -->
            <div class="norigth">
                <img class="img-responsive imagehide" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
            </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="noleft">
              <img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
          </div>
      </div>

    </div>
    <!-- .row -->
</div>
<!-- end 3rd row--><!--  3rd row   -->
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="clearfix norigth">
                <a href="#"><img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>
            </div>
        </div>
        <div class="col-md-6">
          <div class="caption noleft black promo-content coverarea">
            <div class="textbox">
              <h3><a href="#">NO ENGINE NOISE</a></h3>

              <p>Do any job anytime, without disruptive engine noise</p>
              <h3><a href="#">NO ENGINE VIBRATION</a></h3>

              <p>Allows for perfect lines on all surfaces andreduces user fatigue.</p>
            </div>
            <!-- hidden image -->
            <div class= "noleft">
                <img class="img-responsive imagehide" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
            </div>
          </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <div class="caption norigth grey promo-content coverarea">
            <div class="textbox">
              <h3><a href="#">IDEAL FOR USE IN:</a></h3>
              <p>
                Factories and Warehouses – indoor striping
                Night time – where noise is a concern
                Internal carparks and garages
                External car parks and roadways
                Any job where battery-powered benefits are desired.
              </p>
            </div>
            <!-- hidden image -->
            <div class="norigth">
                <img class="img-responsive imagehide" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
            </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="noleft">
              <img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
          </div>
      </div>

    </div>
    <!-- .row -->
</div>
<!-- end 3rd row-->
<!-- 2nd  row  -->
<div class="container text-center fitpages">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="promo-content">
                        <h3>60</h3>

                        <p>Gallons on one charge</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="promo-content">
                        <h3>100</h3>

                        <p>100AH AGM BATTERY</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="promo-content">
                        <h3>227</h3>

                        <p>Bar PSI</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="promo-content">
                        <h3>204</h3>

                        <p>KG</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>

        </div>
        <!-- /.row -->

    </div>
<!-- end 2nd row-->
