<!--1st row top header  https://uicookies.com/demo/#x_corporation -->
<section class="single-page-title toppagetitle">
  <div class="main-video" data-video-container>
      <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/ES100Hero.png" alt=""/>
      <a href="#" data-action="show-video" data-video-url="https://www.youtube.com/embed/Z2EJhCWk0gU?autoplay=1" class="btn-video"><i class="icon-video"></i></a>
  </div>
</section>
<!-- end 1st row-->
<!-- 2nd  row  -->
<div class="container text-center fitpages">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="promo-content">
                        <h3>60</h3>

                        <p>Gallons on one charge</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="promo-content">
                        <h3>100</h3>

                        <p>100AH AGM BATTERY</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="promo-content">
                        <h3>227</h3>

                        <p>Bar PSI</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="promo-content">
                        <h3>204</h3>

                        <p>KG</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>

        </div>
        <!-- /.row -->

    </div>
<!-- end 2nd row-->
<!--  3rd row   -->
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="clearfix norigth">
                <a href="#"><img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image"></a>
            </div>
        </div>
        <div class="col-md-6">
          <div class="caption noleft black promo-content coverarea">
            <div class="textbox">
              <h3><a href="#">NO ENGINE NOISE</a></h3>

              <p>Do any job anytime, without disruptive engine noise</p>
              <h3><a href="#">NO ENGINE VIBRATION</a></h3>

              <p>Allows for perfect lines on all surfaces andreduces user fatigue.</p>
            </div>
            <!-- hidden image -->
            <div class= "noleft">
                <img class="img-responsive imagehide" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
            </div>
          </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <div class="caption norigth grey promo-content coverarea">
            <div class="textbox">
              <h3><a href="#">IDEAL FOR USE IN:</a></h3>
              <p>
                Factories and Warehouses – indoor striping
                Night time – where noise is a concern
                Internal carparks and garages
                External car parks and roadways
                Any job where battery-powered benefits are desired.
              </p>
            </div>
            <!-- hidden image -->
            <div class="norigth">
                <img class="img-responsive imagehide" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
            </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="noleft">
              <img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="Image">
          </div>
      </div>

    </div>
    <!-- .row -->
</div>
<!-- end 3rd row-->
<!-- 4th row -->
<div>
       <div class="row">
           <div class="col-md-6 img-left">
             <div class="clearfix norigth">
               <img class="img-responsive" src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/E100block.png" alt="">
           </div>
         </div>
           <div class="col-md-6 fitcolumn">
               <div class="promo-block-wrapper clearfix">
                    <div class="promo-content last-type">
                       <h3>General</h3>

                       <p>
                         80 km/h max speed
                         52 kg curb weight
                         Up to 100 km range
                      </p>
                   </div>
               </div>
               <!-- /.promo-block-wrapper -->

               <div class="promo-block-wrapper clearfix">
                   <div class="promo-content last-type">
                       <h3>Battery</h3>

                       <p>
                         2.2 kWh capacity
                         Li-ion cells
                         Easy to remove and replace
                      </p>
                   </div>
               </div>
               <!-- /.promo-block-wrapper -->

               <div class="promo-block-wrapper clearfix">
                   <div class="promo-icon">
                       <i class="fa fa-calculator"></i>
                   </div>
                   <div class="promo-content last-type">
                       <h3>Suspension</h3>

                       <p>
                         Fox shocks
                         203 mm front travel
                         200 mm rear travel
                      </p>
                   </div>
               </div>
               <!-- /.promo-block-wrapper -->
               <!-- /.promo-block-wrapper -->

               <div class="promo-block-wrapper clearfix">
                   <div class="promo-content">
                       <h3>Display</h3>

                       <p>
                         LCD display
                      </p>
                   </div>
               </div>
               <!-- /.promo-block-wrapper -->

           </div>
       </div>
   </div>
<!-- end 4th row ---->
<!--5th row  https://uicookies.com/demo/#x_corporation -->
    <section class="single-page-title">
        <div class="text-center">
          <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/ES100Hero.png" alt=""/>
        </div>
    </section>
    <!-- end 5th row-->
    <!--7th row  https://uicookies.com/demo/#x_corporation -->
    <section>
        <div class="cd-product-viewer-wrapper" data-frame="16" data-friction="0.33">
	<div>
		<figure class="product-viewer">
			<img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/360img/img-loading.jpg" alt="Product Preview">
			<div class="product-sprite" data-image="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/360img/img-sprite.png"></div>
		</figure> <!-- .product-viewer -->

		<div class="cd-product-viewer-handle">
			<span class="fill"></span>
			<span class="handle">Handle</span>
		</div>
	</div> <!-- .cd-product-viewer-handle -->
</div> <!-- .cd-product-viewer-wrapper -->
    </section>

<!-- start Script -->
<script>
        jQuery(document).ready(function($){

	var productViewer = function(element) {
		this.element = element;
		this.handleContainer = this.element.find('.cd-product-viewer-handle');
		this.handleFill = this.handleContainer.children('.fill');
		this.handle = this.handleContainer.children('.handle');
		this.imageWrapper = this.element.find('.product-viewer');
		this.slideShow = this.imageWrapper.children('.product-sprite');
		this.frames = this.element.data('frame');
		//increase this value to increase the friction while dragging on the image - it has to be bigger than zero
		this.friction = this.element.data('friction');
		this.visibleFrame = 0;
		this.loaded = false;
		this.animating = false;
		this.xPosition = 0;
		this.loadFrames();
	}

	productViewer.prototype.loadFrames = function() {
		var self = this,
			imageUrl = this.slideShow.data('image'),
			newImg = $('<img/>');
		this.loading('0.5');
		//you need this to check if the image sprite has been loaded
		newImg.attr('src', imageUrl).load(function() {
			$(this).remove();
  			self.loaded = true;
  		}).each(function(){
  			image = this;
			if(image.complete) {
		    	$(image).trigger('load');
		  	}
		});
	}

	productViewer.prototype.loading = function(percentage) {
		var self = this;
		transformElement(this.handleFill, 'scaleX('+ percentage +')');
		setTimeout(function(){
			if( self.loaded ){
				//sprite image has been loaded
				self.element.addClass('loaded');
				transformElement(self.handleFill, 'scaleX(1)');
				self.dragImage();
				if(self.handle) self.dragHandle();
			} else {
				//sprite image has not been loaded - increase self.handleFill scale value
				var newPercentage = parseFloat(percentage) + .1;
				if ( newPercentage < 1 ) {
					self.loading(newPercentage);
				} else {
					self.loading(parseFloat(percentage));
				}
			}
		}, 500);
	}
	//draggable funtionality - credits to http://css-tricks.com/snippets/jquery/draggable-without-jquery-ui/
	productViewer.prototype.dragHandle = function() {
		//implement handle draggability
		var self = this;
		self.handle.on('mousedown vmousedown', function (e) {
	        self.handle.addClass('cd-draggable');
	        var dragWidth = self.handle.outerWidth(),
	            containerOffset = self.handleContainer.offset().left,
	            containerWidth = self.handleContainer.outerWidth(),
	            minLeft = containerOffset - dragWidth/2,
	            maxLeft = containerOffset + containerWidth - dragWidth/2;

	        self.xPosition = self.handle.offset().left + dragWidth - e.pageX;

	        self.element.on('mousemove vmousemove', function (e) {
	        	if( !self.animating) {
	        		self.animating =  true;
		        	( !window.requestAnimationFrame )
		        		? setTimeout(function(){self.animateDraggedHandle(e, dragWidth, containerOffset, containerWidth, minLeft, maxLeft);}, 100)
		        		: requestAnimationFrame(function(){self.animateDraggedHandle(e, dragWidth, containerOffset, containerWidth, minLeft, maxLeft);});
	        	}
	        }).one('mouseup vmouseup', function (e) {
	            self.handle.removeClass('cd-draggable');
	            self.element.off('mousemove vmousemove');
	        });

	        e.preventDefault();

	    }).on('mouseup vmouseup', function (e) {
	        self.handle.removeClass('cd-draggable');
	    });
	}

	productViewer.prototype.animateDraggedHandle = function(e, dragWidth, containerOffset, containerWidth, minLeft, maxLeft) {
		var self = this;
		var leftValue = e.pageX + self.xPosition - dragWidth;
	    // constrain the draggable element to move inside his container
	    if (leftValue < minLeft) {
	        leftValue = minLeft;
	    } else if (leftValue > maxLeft) {
	        leftValue = maxLeft;
	    }

	    var widthValue = Math.ceil( (leftValue + dragWidth / 2 - containerOffset) * 1000 / containerWidth)/10;
	    self.visibleFrame = Math.ceil( (widthValue * (self.frames-1))/100 );

	    //update image frame
	    self.updateFrame();
	    //update handle position
	    $('.cd-draggable', self.handleContainer).css('left', widthValue + '%').one('mouseup vmouseup', function () {
	        $(this).removeClass('cd-draggable');
	    });

	    self.animating = false;
	}

	productViewer.prototype.dragImage = function() {
		//implement image draggability
		var self = this;
		self.slideShow.on('mousedown vmousedown', function (e) {
	        self.slideShow.addClass('cd-draggable');
	        var containerOffset = self.imageWrapper.offset().left,
	            containerWidth = self.imageWrapper.outerWidth(),
	            minFrame = 0,
	            maxFrame = self.frames - 1;

	        self.xPosition = e.pageX;

	        self.element.on('mousemove vmousemove', function (e) {
	        	if( !self.animating) {
	        		self.animating =  true;
		        	( !window.requestAnimationFrame )
		        		? setTimeout(function(){self.animateDraggedImage(e, containerOffset, containerWidth);}, 100)
		        		: requestAnimationFrame(function(){self.animateDraggedImage(e, containerOffset, containerWidth);});
		        }
	        }).one('mouseup vmouseup', function (e) {
	            self.slideShow.removeClass('cd-draggable');
	            self.element.off('mousemove vmousemove');
	            self.updateHandle();
	        });

	        e.preventDefault();

	    }).on('mouseup vmouseup', function (e) {
	        self.slideShow.removeClass('cd-draggable');
	    });
	}

	productViewer.prototype.animateDraggedImage = function(e, containerOffset, containerWidth) {
		var self = this;
		var leftValue = self.xPosition - e.pageX;
        var widthValue = Math.ceil( (leftValue) * 100 / ( containerWidth * self.friction ));
        var frame = (widthValue * (self.frames-1))/100;
        if( frame > 0 ) {
        	frame = Math.floor(frame);
        } else {
        	frame = Math.ceil(frame);
        }
        var newFrame = self.visibleFrame + frame;

        if (newFrame < 0) {
            newFrame = self.frames - 1;
        } else if (newFrame > self.frames - 1) {
            newFrame = 0;
        }

        if( newFrame != self.visibleFrame ) {
        	self.visibleFrame = newFrame;
        	self.updateFrame();
        	self.xPosition = e.pageX;
        }

        self.animating =  false;
	}

	productViewer.prototype.updateHandle = function() {
		if(this.handle) {
			var widthValue = 100*this.visibleFrame/this.frames;
			this.handle.animate({'left': widthValue + '%'}, 200);
		}
	}

	productViewer.prototype.updateFrame = function() {
		var transformValue = - (100 * this.visibleFrame/this.frames);
		transformElement(this.slideShow, 'translateX('+transformValue+'%)');
	}

	function transformElement(element, value) {
		element.css({
			'-moz-transform': value,
		    '-webkit-transform': value,
			'-ms-transform': value,
			'-o-transform': value,
			'transform': value,
		});
	}

	var productToursWrapper = $('.cd-product-viewer-wrapper');
	productToursWrapper.each(function(){
		new productViewer($(this));
	});
});
</script>
    <!-- start Script -->
    <!-- end 7th row-->
