<div class="contact-us-container" style=" padding-left: 0; padding-right: 0; max-width: 100%;">
 <div class="banner left" style="margin:-4% -3% 3% -3.2%; width:106.4%;"><img src="/c.4026778/sca-dev-kilimanjaro/img/Contactus/sample_banner.jpg" class="background">
  <div class="container">
    <h1 class="green">Payment Options</h1>
  </div>
 </div>
 <div>
<div class="std">
    <p><em><strong>Payment Options</strong></em></p>
 </div>
</div>
