<!--1st row top header  https://uicookies.com/demo/#x_corporation -->
<div class ="cmssections">
<section class="single-page-title">
  <div class="main-video" data-video-container>
      <img src="c.4026778/assets/images/content/Facilities.jpg" alt=""/>
      <a href="#" data-action="show-video" data-video-url="https://www.youtube.com/embed/LrnyKYphwzs?autoplay=1" class="btn-video"><i class="icon-video"></i></a>
  </div>
</section>
</div>
<!-- end 1st row-->
<div class ="cmssections">
<div class="four_column">
  <div class=>
    <div class="row">
      <div class="col-xs-6 col-md-3 single_column left">
        <a href="/warehouse">
          <div class="image_container">
            <img src="c.4026778/assets/images/content/Distribution-and-Warehouse.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Line Marking</span>
      </h4>
            <p>Indoor and outdoor line marking equipment and paints</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>
                                          <div class="col-xs-6 col-md-3 single_column">
        <a href="/sports-surfaces">
          <div class="image_container">
            <img src="c.4026778/assets/images/content/Sports-Surfaces.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Surface Coating</span>
      </h4>
            <p>For internal or external surfaces</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>
      <div class="col-xs-6 col-md-3 single_column">
        <a href="/airports">
          <div class="image_container">
            <img src="/c.4026778/sca-dev-kilimanjaro/img/Home/merchzone/sample_industries_thumbnail_0.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Anti-skid</span>
      </h4>
            <p>Ideal for pedestrian areas or where a high Skid Resistance Value is required</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>
      <div class="col-xs-6 col-md-3 single_column right">
        <a href="/car-parks">
          <div class="image_container">
            <img src="c.4026778/assets/images/content/Car-Park.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">ThermoPlastics</span>
      </h4>
            <p>Easy to apply and durable paints</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>

    </div><!-- row -->
  </div>
</div>
<!--1st row top header  https://uicookies.com/demo/#x_corporation -->
<div>
<section class="single-page-title">
  <div class="main-video" data-video-container>
      <img src="c.4026778/assets/images/content/Dekorgrip-video.png" alt=""/>
      <a href="#" data-action="show-video" data-video-url="https://www.youtube.com/embed/_-_U-pk3WSc?autoplay=1" class="btn-video"><i class="icon-video"></i></a>
  </div>
</section>
</div>
<!-- end 1st row-->
<!--1st row top header  https://uicookies.com/demo/#x_corporation -->
<div>
<section class="single-page-title toppagetitle">
  <div class="main-video" data-video-container>
      <img src="c.4026778/assets/images/content/Spectrum-Meon-banner.jpg" alt=""/>
     <a href="#" data-action="show-video" data-video-url="https://www.youtube.com/embed/X_ltrXymI3A?autoplay=1" class="btn-video"><i class="icon-video"></i></a>
  </div>
</section>
</div>
</div>
<!-- end 1st row-->
