<div class="contact-us-container" style=" padding-left: 0; padding-right: 0; max-width: 100%;">
 <div class="banner left" style="margin:-4% -3% 3% -3.2%; width:106.4%;"><img src="/c.4026778/sca-dev-kilimanjaro/img/Contactus/sample_banner.jpg" class="background">
  <div class="container">
    <h1 class="green">MEON TERMS AND CONDITIONS</h1>
  </div>
 </div>
<div>
<div class="std"><p><span style="color: #008000;"><strong>MEON Ltd.</strong></span></p>
    <p><span style="color: #008000;"><strong>TERMS AND CONDITIONS OF SALE</strong></span></p>
    <p><em><strong>The buyer's attention is in particular drawn to the provisions of Condition 11.4.</strong></em></p>
    <p><strong><span style="color: #008000;">1. INTERPRETATION</span></strong></p>
    <p>1.1 The definitions and rules of interpretation in this condition apply in these conditions.</p>
    <p>Buyer: the person, firm or Company who purchases the Goods from the Seller.</p>
    <p>Seller: Meon Ltd. of Railside, Northarbour Spur, Portsmouth PO6 3TU.</p>
    <p>Contract: any contract between the Seller and the Buyer for the sale and purchase of the Goods, incorporating these conditions.</p>
    <p>Delivery Point: the place where delivery of the Goods is to take place under condition 4.</p>
    <p>Goods: any goods agreed in the Contract to be supplied to the Buyer by the Seller (including any part or parts of them).</p>
    <p>1.2 A reference to a particular law is a reference to it as it is in force for the time being taking account of any amendment, extension, application or re-enactment and includes any subordinate legislation for the time being in force made under it.</p>
    <p>1.3 Words in the singular include the plural and in the plural include the singular.</p>
    <p>1.4 A reference to one gender includes a reference to the other gender.</p>
    <p>1.5 Condition headings do not affect the interpretation of these conditions.</p>
    <p><strong><span style="color: #008000;">2. APPLICATION OF TERMS</span></strong></p>
    <p>2.1 Subject to any variation under condition 2.3 the Contract shall be on these conditions to the exclusion of all other terms and conditions (including any terms or conditions which the Buyer purports to apply under any purchase order, confirmation of order, specification or other document).</p>
    <p>2.2 No terms or conditions endorsed on, delivered with or contained in the Buyer's purchase order, confirmation of order, specification or other document shall form part of the Contract simply as a result of such document being referred to in the Contract.</p>
    <p>2.3 These conditions apply to all the Seller's sales and any variation to these conditions and any representations about the Goods shall have no effect unless expressly agreed in writing and signed by a partner of the Seller. The Buyer acknowledges that it has not relied on any statement, promise or representation made or given by or on behalf of the Seller which is not set out in the Contract. Nothing in this condition shall exclude or limit the Seller's liability for fraudulent misrepresentation.</p>
    <p>2.4 Each order or acceptance of a quotation for Goods by the Buyer from the Seller shall be deemed to be an offer by the Buyer to buy Goods subject to these conditions.</p>
    <p>2.5 No order placed by the Buyer shall be deemed to be accepted by the Seller until a written acknowledgement of order is issued by the Seller or (if earlier) the Seller delivers the Goods to the Buyer.</p>
    <p>2.6 The Buyer shall ensure that the terms of its order and any applicable specification are complete and accurate.</p>
    <p>2.7 Any quotation is given on the basis that no Contract shall come into existence until the Seller despatches an acknowledgement of order to the Buyer. Any quotation is valid for a period of 30 days only from its date, provided that the Seller has not previously withdrawn it.</p>
    <p><span style="color: #008000;"><strong>3. DESCRIPTION</strong></span></p>
    <p>3.1 The quantity and description of the Goods shall be as set out in the Seller's quotation or acknowledgement of order.</p>
    <p>3.2 All samples, drawings, descriptive matter, specifications and advertising issued by the Seller and any descriptions or illustrations contained in the Seller's catalogues or brochures are issued or published for the sole purpose of giving an approximate idea of the Goods described in them. They shall not form part of the Contract and this is not a sale by sample.</p>
    <p><span style="color: #008000;"><strong>4. DELIVERY</strong></span></p>
    <p>4.1 Unless otherwise agreed in writing by the Seller, delivery of the Goods shall take place at the Seller's place of business.</p>
    <p>4.2 The Buyer shall take delivery of the Goods within 30 days of the Seller giving it notice that the Goods are ready for delivery.</p>
    <p>4.3 Any dates specified by the Seller for delivery of the Goods are intended to be an estimate and time for delivery shall not be made of the essence by notice. If no dates are so specified, delivery shall be within a reasonable time.</p>
    <p>4.4 Subject to the other provisions of these conditions the Seller shall not be liable for any direct, indirect or consequential loss (all three of which terms include, without limitation, pure economic loss, loss of profits, loss of business, depletion of goodwill and similar loss), costs, damages, charges or expenses caused directly or indirectly by any delay in the delivery of the Goods (even if caused by the</p>
    <p>Seller's negligence), nor shall any delay entitle the Buyer to terminate or rescind the Contract unless such delay exceeds 180 days.</p>
    <p>4.5 If for any reason the Buyer fails to accept delivery of any of the</p>
    <p>Goods when they are ready for delivery, or the Seller is unable to deliver the Goods on time because the Buyer has not provided appropriate instructions, documents, licences or authorisations:</p>
    <p>4.5.1 Risk in the Goods shall pass to the Buyer (including for loss or damage caused by the Seller's negligence);</p>
    <p>4.5.2 The Goods shall be deemed to have been delivered; and</p>
    <p>4.5.3 The Seller may store the Goods until delivery, whereupon the Buyer shall be liable for all related costs and expenses (including, without limitation, storage and insurance).</p>
    <p>4.6 The Buyer shall provide at the Delivery Point and at its expense adequate and appropriate equipment and manual labour for unloading the Goods.</p>
    <p>4.7 If the Seller delivers to the Buyer a quantity of Goods of up to 5% more or less than the quantity accepted by the Seller, the Buyer shall not be entitled to object to or reject the Goods or any of them by reason of the surplus or shortfall and shall pay for such goods at the pro rata Contract rate.</p>
    <p>4.8 The Seller may deliver the Goods by separate instalments. Each separate instalment shall be invoiced and paid for in accordance with the provisions of the Contract.</p>
    <p>4.9 Each instalment shall be a separate Contract and no cancellation or termination of any one Contract relating to an instalment shall entitle the Buyer to repudiate or cancel any other Contract or instalment.</p>
    <p><span style="text-decoration: underline;"><span style="color: #008000;"><strong>5. NON-DELIVERY</strong></span></span></p>
    <p>5.1 The quantity of any consignment of Goods as recorded by the Seller on despatch from the Seller's place of business shall be conclusive evidence of the quantity received by the Buyer on delivery unless the Buyer can provide conclusive evidence proving the contrary.</p>
    <p>5.2 The Seller shall not be liable for any non-delivery of Goods (even if caused by the Seller's negligence) unless the Buyer gives written notice to the Seller of the non-delivery within 7 days of the date when the Goods would in the ordinary course of events have been received.</p>
    <p>5.3 Any liability of the Seller for non-delivery of the Goods shall be limited to replacing the Goods within a reasonable time or issuing a credit note at the pro rata Contract rate against any invoice raised for such Goods.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>6. RISK/TITLE</strong></span></p>
    <p>6.1 The Goods are at the risk of the Buyer from the time of delivery.</p>
    <p>6.2 Ownership of the Goods shall not pass to the Buyer until the Seller has received in full (in cash or cleared funds) all sums due to it in respect of the Goods and all other sums which are or which become due to the Seller from the Buyer on any account.</p>
    <p>6.3 Until ownership of the Goods has passed to the Buyer, the Buyer shall hold the Goods on a fiduciary basis as the Seller's bailee store the Goods (at no cost to the Seller) separately from all other goods of the Buyer or any third party in such a way that they remain readily identifiable as the Seller's property not destroy, deface or obscure any identifying mark or packaging on or relating to the Goods and maintain the Goods in satisfactory condition and keep them insured on the Seller's behalf for their full price against all risks to the reasonable satisfaction of the Seller. On request the Buyer shall produce the policy of insurance to the Seller.</p>
    <p>6.4 The Buyer may resell the Goods before ownership has passed to it solely on the following conditions any sale shall be effected in the ordinary course of the Buyer's business at full market value (and the Buyer shall hold such part of the proceeds of sale as representing the amount owed by the Buyer to the Seller on behalf of the Seller and the Buyer shall account to the Seller accordingly) and any such sale shall be a sale of the Seller's property on the Buyer's own behalf and the Buyer shall deal as principal when making such a sale.</p>
    <p>6.5 The Buyer's right to possession of the Goods shall terminate immediately if the Buyer has a bankruptcy order made against him or makes an arrangement or composition with his creditors, or otherwise takes the benefit of any statutory provision for the time being in force for the relief of insolvent debtors, or (being a body corporate) convenes a meeting of creditors (whether formal or informal), or enters into liquidation (whether voluntary or compulsory) except a solvent voluntary liquidation for the purpose only of reconstruction or amalgamation, or has a receiver and/or manager, administrator or administrative receiver appointed of its undertaking or any part thereof, or documents are filed with the court for the appointment of an administrator of the Buyer or notice of intention to appoint an administrator is given by the Buyer or its directors or by a qualifying floating charge holder (as defined in paragraph 14 of Schedule B1 to the Insolvency Act 1986), or a resolution is passed or a petition presented to any court for the winding-up of the Buyer or for the granting of an administration order in respect of the Buyer, or any proceedings are commenced relating to the insolvency or possible insolvency of the Buyer or the Buyer suffers or allows any execution, whether legal or equitable, to be levied on his/its property or obtained against him/it, or fails to observe or perform any of his/its obligations under the Contract or any other contract between the Seller and the Buyer, or is unable to pay its debts within the meaning of section 123 of the Insolvency Act 1986 or the Buyer ceases to trade or the Buyer encumbers or in any way charges any of the Goods.</p>
    <p>6.6 The Seller shall be entitled to recover payment for the Goods not withstanding that ownership of any of the Goods has not passed from the Seller.</p>
    <p>6.7 The Buyer grants the Seller, its agents and employees an irrevocable licence at any time to enter any premises where the Goods are or may be stored in order to inspect them, or, where the Buyer's right to possession has terminated, to recover them.</p>
    <p>6.8 Where the Seller is unable to determine whether any Goods are the goods in respect of which the Buyer's right to possession has terminated, the Buyer shall be deemed to have sold all goods of the kind sold by the Seller or other goods to an equal value to the Buyer in the order in which they were invoiced to the Buyer.</p>
    <p>6.9 On termination of the Contract, howsoever caused, the Seller's (but not the Buyer's) rights contained in this condition 6 shall remain in effect.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>7 PRICE</strong></span></p>
    <p>7.1 Unless otherwise agreed by the Seller in writing, the price for the Goods shall be the price set out in the Seller's price list published on the date of delivery or deemed delivery.</p>
    <p>7.2 The price for the Goods shall be exclusive of any value added tax and all costs or charges in relation to packaging, loading, unloading, carriage and insurance, all of which amounts the Buyer shall pay in addition when it is due to pay for the Goods.</p>
    <p><span style="text-decoration: underline;"><strong><span style="color: #008000;">8 RETURNED GOODS</span></strong></span></p>
    <p>8.1 The Seller does not trade on a ‘sale or return’ basis, all sales are considered as final and the Sellers invoice proof of purchase.</p>
    <p>8.2 The return of Goods purchased will therefore only be considered by the Seller subject to the following conditions. A copy of the relevant Sellers invoice and despatch note is presented as proof of purchase.</p>
    <p>8.2.2 A returns authorisation note is obtained from the Seller prior to the return of Goods</p>
    <p>8.1.3 The Seller reserves the right to levy a 20% handling charge on goods supplied correctly in accordance with the Buyer’s order.</p>
    <p>8.2.4 All Goods must be returned in good condition, unused, not damaged and in the original packaging.</p>
    <p>8.2.5 The Seller retains the right to refuse goods should they on receipt be deemed unsuitable for resale and the return of these goods to the Buyer will be subject to a carriage charge.</p>
    <p>8.2.6 Goods which are specially ordered non-stock items, or made to order, personalised, printed, or embroidered items correctly supplied as per the Buyer’s order will not be acceptable for return under any circumstances.</p>
    <p>8.2.7 Should the Seller arrange collection of goods for return and on arrival the Goods be unavailable, a surcharge will become payable.</p>
    <p>8.2.8 Returned Goods will only be accepted to a maximum of 5% of the Buyers annual spend with the Seller.</p>
    <p>8.2.9 Goods will not be accepted for return after 28 days from the date of purchase stated on the Sellers invoice.</p>
    <p>8.2.10 Goods that reach the Buyer in an unusable condition and reported as such at the time of delivery to the carrier, and to the Seller within 24 hours of receipt will be replaced without further charge.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>9 SPECIAL TRADING OFFERS</strong></span></p>
    <p>9.1 The Seller reserves the right to supply goods to their customers, suppliers and staff, at prices they themselves may deem appropriate in return for their services rendered and targets achieved in any trading year.</p>
    <p>9.2 The Seller also reserves the right at any time to make combined promotional offers of both products and goods at special prices at their own absolute discretion.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>10 PAYMENTS</strong></span></p>
    <p>10.1 Subject to condition 9.4, payment of the price for the Goods is due in pounds sterling (or euro’s where so invoiced) no later than 30 days net from the date of the Seller’s invoice.</p>
    <p>10.2 Time for payment shall be of the essence.</p>
    <p>10.3 No payment shall be deemed to have been received until the Seller has received cleared funds.</p>
    <p>10.4 All payments payable to the Seller under the Contract shall become due immediately on its termination despite any other provision.</p>
    <p>10.5 The Buyer shall make all payments due under the Contract in full without any deduction whether by way of set-off, counterclaim, discount, abatement or otherwise unless the Buyer has a valid court order requiring an amount equal to such deduction to be paid by the Seller to the Buyer.</p>
    <p>10.6 If the Buyer fails to pay the Seller any sum due pursuant to the Contract, the Buyer shall be liable to pay interest to the Seller on such sum from the due date for payment at the annual rate of 4% above the base lending rate from time to time of Barclays Bank Plc, accruing on a daily basis until payment is made, whether before or after any judgment. The Seller reserves the right to claim interest under the Late Payment of Commercial Debts (Interest) Act 1998.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>11 QUALITIES</strong></span></p>
    <p>11.1 Where the Seller is not the manufacturer of the Goods, the Seller shall endeavour to transfer to the Buyer the benefit of any warranty or guarantee given to the Seller.</p>
    <p>11.2 The Seller warrants that (subject to the other provisions of these conditions) on delivery, and for a period of 12 months from the date of delivery, the Goods shall be of satisfactory quality within the meaning of the Sale of Goods Act 1979 be reasonably fit for their purpose; and be reasonably fit for any particular purpose for which the Goods are being bought if the Buyer had made known that purpose to the Seller in writing and the Seller has confirmed in writing that it is reasonable for the Buyer to rely on the skill and judgement of the Seller.</p>
    <p>11.3 The Seller shall not be liable for a breach of the warranty in condition 10.2 unless the Buyer gives written notice of the defect to the Seller, and, if the defect is as a result of damage in transit to the carrier, within 5 days of the time when the Buyer discovers or ought to have discovered the defect and the Seller is given a reasonable opportunity after receiving the notice of examining such Goods and the Buyer (if asked to do so by the Seller) returns such Goods to the Seller's place of business at the Seller's cost for the examination to take place there.</p>
    <p>11.4 The Seller shall not be liable for a breach of the warranty in condition 10.2 if the Buyer makes any further use of such Goods after giving such notice or the defect arises because the Buyer failed to follow the Seller's oral or written instructions as to the storage, installation, commissioning, use or maintenance of the Goods or (if there are none) good trade practice or the Buyer alters or repairs such Goods without the written consent of the Seller.</p>
    <p>11.5 Subject to condition 10.3 and condition 10.4, if any of the Goods do not conform with (the warranty OR any of the warranties) in condition 10.2 the Seller shall at its option repair or replace such Goods (or the defective part) or refund the price of such Goods at the pro rata Contract rate provided that, if the Seller so requests, the Buyer shall, at the Seller's expense, return the Goods or the part of such Goods which is defective to the Seller.</p>
    <p>11.6 If the Seller complies with condition 10.5 it shall have no further liability for a breach of (the warranty OR any of the warranties) in condition 10.2 in respect of such Goods.</p>
    <p>11.7 Any Goods replaced shall belong to the Seller and any repaired or replacement Goods shall be guaranteed on these terms for the unexpired portion of the 12 month period.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>12 LIMITATION OF LIABILITY</strong></span></p>
    <p>12.1 Subject to conditions 4, 5 and 10 the following provisions set out the entire financial liability of the Seller (including any liability for the acts or omissions of its employees, agents and sub-contractors) to the Buyer in respect of any breach of these conditions any use made or resale by the Buyer of any of the Goods, or of any product incorporating any of the Goods and any representation, statement or tortious act or omission including negligence arising under or in connection with the Contract.</p>
    <p>12.2 All warranties, conditions and other terms implied by statute or common law (save for the conditions implied by section 12 of the Sale of Goods Act 1979) are, to the fullest extent permitted by law, excluded from the Contract.</p>
    <p>12.3 Nothing in these conditions excludes or limits the liability of the Seller for death or personal injury caused by the Seller's negligence under section 2(3), Consumer Protection Act 1987 for any matter which it would be illegal for the Seller to exclude or attempt to exclude its liability for fraud or fraudulent misrepresentation.</p>
    <p>12.4 Subject to condition 11.2 and condition 11.3: the Seller's total liability in contract, tort (including negligence or breach of statutory duty), misrepresentation, restitution or otherwise, arising in connection with the performance or contemplated performance of the Contract shall be limited to the Contract price, the Seller shall not be liable to the Buyer for (loss of profit), (loss of business), or (depletion of goodwill) in each case whether direct, indirect or consequential, or (any claims for consequential compensation whatsoever (howsoever caused) which arise out of or in connection with the Contract.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>13 ASSIGNMENT</strong></span></p>
    <p>13.1 The Seller may assign the Contract or any part of it to any person, firm or company.</p>
    <p>13.2 The Buyer shall not be entitled to assign the Contract or any part of it without the prior written consent of the Seller.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>14 FORCE MAJEURE</strong></span></p>
    <p>The Seller reserves the right to defer the date of delivery or to cancel the Contract or reduce the volume of the Goods ordered by the Buyer (without liability to the Buyer) if it is prevented from or delayed in the carrying on of its business due to circumstances beyond the reasonable control of the Seller including, without limitation, acts of God, governmental actions, war or national emergency, acts of terrorism, protests, riot, civil commotion, fire, explosion, flood, epidemic, lock-outs, strikes or other labour disputes (whether or not relating to either party's workforce), or restraints or delays affecting carriers or inability or delay in obtaining supplies of adequate or suitable materials, provided that, if the event in question continues for a continuous period in excess of 30 days, the Buyer shall be entitled to give notice in writing to the Seller to terminate the Contract.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>15 GENERAL</strong></span></p>
    <p>15.1 Each right or remedy of the Seller under the Contract is without prejudice to any other right or remedy of the Seller whether under the Contract or not.</p>
    <p>15.2 If any provision of the Contract is found by any court, tribunal or administrative body of competent jurisdiction to be wholly or partly illegal, invalid, void, voidable, unenforceable or unreasonable it shall to the extent of such illegality, invalidity, voidness, voidability, unenforceability or unreasonableness be deemed severable and the remaining provisions of the Contract and the remainder of such provision shall continue in full force and effect.</p>
    <p>15.3 Failure or delay by the Seller in enforcing or partially enforcing any provision of the Contract shall not be construed as a waiver of any of its rights under the Contract.</p>
    <p>15.4 Any waiver by the Seller of any breach of, or any default under, any provision of the Contract by the Buyer shall not be deemed a waiver of any subsequent breach or default and shall in no way affect the other terms of the Contract.</p>
    <p>15.5 The parties to the Contract do not intend that any term of the Contract shall be enforceable by virtue of the Contracts (Rights of Third Parties) Act 1999 by any person that is not a party to it.</p>
    <p>15.6 This Contract and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with English law, and the parties submit to the exclusive jurisdiction of the English courts.</p>
    <p><span style="color: #008000; text-decoration: underline;"><strong>16 COMMUNICATIONS</strong></span></p>
    <p>16.1 All communications between the parties about the Contract shall be in writing and delivered by hand or sent by pre-paid first class post or sent by fax (in case of communications to the Seller) to Railside, Northarbour Spur, Portsmouth, Hampshire PO6 3TU or such changed address as shall be notified to the Buyer by the Seller (in the case of the communications to the Buyer) to the registered office of the addressee (if it is a company) or (in any other case) to any address of the Buyer set out in any document which forms part of the Contract or such other address as shall be notified to the Seller by the Buyer.</p>
    <p>16.2 Communications shall be deemed to have been received, if sent by pre-paid first class post, two days (excluding Saturdays, Sundays and bank and public holidays) after posting (exclusive of the day of posting) or if delivered by hand, on the day of delivery or if sent by fax on a working day prior to 4.00 pm, at the time of transmission and otherwise on the next working day.</p>
    <p>16.3 Communications addressed to the Seller shall be marked for the attention of the directors of Meon Ltd.</p>
  </div>
 </div>
</div>
