{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<{{tag}} class="order-wizard-title" {{attributes}}>
	{{title}}
</{{tag}}>
{{#if showDetails}}
	<p>
		{{details}}
	</p>
{{/if}}



{{!----
Use the following context variables when customizing this template: 
	
	tag (String)
	attributes (String)
	details (String)
	title (String)
	showDetails (Boolean)

----}}
