<!--top header  https://uicookies.com/demo/#x_corporation -->
<section class="single-page-title">
    <div class="container text-center">
        <h2>Services</h2>
    </div>
</section>
<!-- end -->

<!-- text row -->
<div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Management Consulting</h3>

                        <p>Class aptent taciti estied aliquam ellus pers piciat unde omnis dolorem.</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Finance &amp; Grants</h3>

                        <p>Class aptent taciti estied aliquam ellus pers piciat unde omnis dolorem.</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Scientific &amp; Risk Assessment</h3>

                        <p>Class aptent taciti estied aliquam ellus pers piciat unde omnis dolorem.</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Corporate Finance</h3>

                        <p>Class aptent taciti estied aliquam ellus pers piciat unde omnis dolorem.</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>

        </div>
        <!-- /.row -->

    </div>
<!-- end -->

<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail clearfix">
                    <a href="#"><img class="img-responsive" src="img/img-offer-1.jpg" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Investment</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail clearfix">
                    <a href="#"><img class="img-responsive" src="img/img-offer-2.jpg" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Planning</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail clearfix">
                    <a href="#"><img class="img-responsive" src="img/img-offer-3.jpg" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Analysis</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail clearfix">
                    <a href="#"><img class="img-responsive" src="img/img-offer-4.jpg" alt="Image"></a>

                    <div class="caption">
                        <h3><a href="#">Banking</a></h3>

                        <p>Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat
                            tellus odio malesuada ex.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- section 2 column 1 big 1 devided -->
    <div class="container">
           <div class="row">
               <div class="col-md-6 img-left">
                   <img class="img-responsive" src="img/img-about.png" alt="">
               </div>
               <div class="col-md-6">
                   <div class="promo-block-wrapper clearfix">
                       <div class="promo-icon">
                           <i class="fa fa-line-chart"></i>
                       </div>
                       <div class="promo-content">
                           <h3>We teach you how to improve your business</h3>

                           <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet
                               dolore magna aliquam erat volutpat.</p>
                       </div>
                   </div>
                   <!-- /.promo-block-wrapper -->

                   <div class="promo-block-wrapper clearfix">
                       <div class="promo-icon">
                           <i class="fa fa-life-ring"></i>
                       </div>
                       <div class="promo-content">
                           <h3>We make the technology affordable for you</h3>

                           <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet
                               dolore magna aliquam erat volutpat.</p>
                       </div>
                   </div>
                   <!-- /.promo-block-wrapper -->

                   <div class="promo-block-wrapper clearfix">
                       <div class="promo-icon">
                           <i class="fa fa-calculator"></i>
                       </div>
                       <div class="promo-content last-type">
                           <h3>Seamlessly grow wireless human capital before turnkey.</h3>

                           <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet
                               dolore magna aliquam erat volutpat.</p>
                       </div>
                   </div>
                   <!-- /.promo-block-wrapper -->

               </div>
           </div>
       </div>
    <!-- end -->

    <!--bottom header  https://uicookies.com/demo/#x_corporation -->
    <section class="single-page-title">
        <div class="container text-center">
            <h2>Services</h2>
        </div>
    </section>
    <!-- end -->
