<div class="four_column">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3 single_column">
        <a href="/warehouse">
          <div class="image_container">
            <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/Warehouse-Indusrty-thumb_0.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Distribution &amp; Warehouse</span>
      </h4>
            <p>Providing cost effective, long lasting floor tape ...</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>
                                          <div class="col-xs-6 col-md-3 single_column">
        <a href="/sports-surfaces">
          <div class="image_container">
            <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/CourtCote-thumb.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Sports Surfaces</span>
      </h4>
            <p>With a special slip-resistant system, our court pa...</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>
                                          <div class="col-xs-6 col-md-3 single_column">
        <a href="/airports">
          <div class="image_container">
            <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/sample_industries_thumbnail_0.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Airports</span>
      </h4>
            <p>Meon specialise in runway marking for all major ai...</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>
                                          <div class="col-xs-6 col-md-3 single_column">
        <a href="/car-parks">
          <div class="image_container">
            <img src="/c.4026778_SB1/sca-dev-kilimanjaro/img/Home/merchzone/Retail%20and%20parking%20thumb.jpg">
          </div><!-- image_container -->
          <div class="content_area">
            <span class="arrow"></span>
            <h4><span class="field field--name-title field--type-string field--label-hidden">Retail and Car Parks</span>
      </h4>
            <p>Meon's superior line painting systems are the perf...</p>
            <span class="highlight"></span>
          </div><!-- content_area -->
        </a>
      </div>

    </div><!-- row -->
  </div>
</div>
