{{#if showLeadTime}}
<div class="item-details-dplt-container">
    <span class="item-details-dplt"> {{msgOutOfStock}}: </span>
    <span class="item-details-dplt-value" itemprop="sku">{{outOfStockDate}}</span>
</div>
{{/if}}
