{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="requestquote-wizard-module-quickadd">
	{{#if showTitle}}
		<h3 class="requestquote-wizard-module-quickadd-title">
			{{title}}
		</h3>
	{{/if}}
	
	<div data-type="alert-placeholder-module"></div>

	<div data-view="QuickAddView"></div>

</div>



{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
