/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Horizon Theme */

.product-line-sku-container {
	margin-bottom: $sc-margin-lv1;
	color: $sc-color-senary;
}
.product-line-sku-value {
	@extend .sc-sku-value;
	color: $sc-color-senary;
}
.product-line-sku-label {
	@extend .sc-sku-label;
	color: $sc-color-senary;
}
