/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Horizon Theme */

.recently-viewed-items {
	position:relative;
    h3{
        margin-bottom:$sc-margin-base * 8;
        text-align: center;
        text-transform: uppercase;
        font-weight: $sc-font-weight-normal;
    }

    & .bx-wrapper,
    & .bx-viewport {
        height: auto !important;
    }

	.bx-controls-direction{
		text-align:right;
		margin-bottom:$sc-margin-lv8;
	}
}

ul.recently-viewed-row-cell li{
	display:inline-block;
	margin-right: 1px;
}
