/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.transaction-line-views-selected-option-color {
    text-transform: uppercase;

    p {
        margin-bottom: $sc-margin-lv2;
    }
}
.transaction-line-views-selected-option-color-tiles-container{
    @extend .color-picker-xs;
    margin-bottom:$sc-margin-lv1;
    .items-views-selected-option-color-tile{
        span{
            cursor:default;
        }
    }

	.transaction-line-views-selected-option-color-tile-color
	{
		display: block;
	}
}

.transaction-line-views-selected-option-color-text{
    font-size:$sc-font-size-s;
    color: $sc-color-senary;
}

.transaction-line-views-selected-option-color-label{
    font-size:$sc-font-size-m;
}

.transaction-line-views-selected-option-color-label-text{
    @extend .sc-label;
    text-transform:capitalize;
}
