/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Horizon Theme */

.product-detail-to-quote-add-to-quote {
	@extend .col-sm-6;
	padding-left: $sc-padding-lv2;
	padding-right: $sc-padding-lv2;
	position: static;

    @media (min-width: $screen-lg-min) {
        width: 35% !important;
    }
}

.product-detail-to-quote-add-to-quote-button {
	@extend .button-tertiary;
    @extend .button-medium;
    margin-top: $sc-margin-lv3;
    margin-left: 0;
    font-weight: $sc-font-weight-semibold;
    border: 1px solid $sc-color-secondary;
    width: 100%;
    text-align:center;
    cursor:pointer;
    cursor:hand;
    padding: 0 $sc-padding-base;
    line-height: $sc-target-size-mobile - 4px; //to account for border
}

.product-detail-to-quote-loading {
	@extend .product-detail-to-quote-add-to-quote-button;
	@extend .product-detail-to-quote-add-to-quote-button:disabled;
	cursor: auto;
}

.quick-view-confirmation-modal .product-detail-to-quote-add-to-quote {
	padding-left: 0;
	padding-right: $sc-padding-lv3;
}
