/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Horizon Theme */

.order-wizard-submitbutton-container {
	@extend .col-xs-12;
	padding:0;
	margin-bottom:$sc-padding-base * 4;
	display:none;
	background: none !important;

	@media (min-width: $screen-sm-min) {
		display:block;
	}

}
.order-wizard-submitbutton-module-top{
	display: none;
}

.order-wizard-submitbutton-module-button{
	@extend .button-primary;
	@extend .button-large;
	@extend .button-generic;
}
