.back-in-stock-notification-placeholder {
    position: relative;
}
.back-in-stock-notification-show-form-button {
    @extend .button-secondary;
    @extend .button-medium;
}
.back-in-stock-notification-form-wrapper {
    padding: $sc-padding-lv3;
}
.back-in-stock-notification-message {
    margin-bottom: $sc-margin-lv3;
}
.back-in-stock-notification-message-success,
.back-in-stock-notification-message-error {
    display: none;
    padding: $sc-padding-lv3;
}
.back-in-stock-notification-message-success {
    background: $sc-color-success-background;
    color: $sc-color-success;
}
.back-in-stock-notification-message-error {
    background: $sc-color-error-background;
    color: $sc-color-error;
}
.back-in-stock-notification-control-wrapper {
    margin-bottom: $sc-margin-lv3;
}
.back-in-stock-notification-label {
    display: block;
    margin-bottom: $sc-padding-base;
}

.back-in-stock-notification-required {
    color: $sc-color-error;
}

.back-in-stock-notification-input {
    @extend .input-generic !optional;
    margin-bottom: $sc-padding-lv2;
}
.back-in-stock-notification-submit-button {
    @extend .button-secondary;
    @extend .button-small;
}
