/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.error-management-internal-error {
	@extend .container;
	@extend .content-background;
	min-height: $sc-theme-error-height-mobile;
	padding-bottom: $sc-padding-lv5 * 2;
    @media (min-width: $screen-md-min) {
        min-height: $sc-theme-error-height-desktop;
    }
}

.error-management-internal-error-header {}

.error-management-internal-error-main-banner {}

.error-management-internal-error-content {}
