/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.header-mini-cart {
	display: none;
	background: $sc-neutral-shade-0;
	width: 320px;
	padding: $sc-padding-lv4;
	position: absolute;
	z-index: 1002;
	right: 0;
	box-shadow: 0 6px 12px transparentize($sc-neutral-shade-600, 1-0.175);
	//border: 1px solid $sc-color-theme-border;
	@include border-radius($sc-theme-border-radius);

	&:before {
		position: absolute;
		top: -7px;
		right: 14px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-theme-color-lightest;
		border-left: 7px solid transparent;
		border-bottom-color: transparentize($sc-neutral-shade-600, 1-0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 15px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-neutral-shade-0;
		border-left: 6px solid transparent;
		content: '';
	}

}

.header-mini-cart {
	.items-views-selected-option-picker{
		display: none;
	}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
	}
}

.open .header-mini-cart {
	display: block;
}

.header-mini-cart-menu-cart-legend{
	@extend .header-menu-cart-legend;
}

.header-mini-cart-container {
	max-height: 411px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: $sc-margin-lv4;
}

.header-mini-cart-menu-cart-icon{
	@extend .header-menu-cart-icon;
	background-color: $sc-color-primary;
    @include border-radius($sc-theme-border-radius);
    line-height: 35px;
    min-width: 35px;
    @media(min-width: $screen-md-min){
        background-color: transparent;
        @include border-radius(0);
        line-height: 28px;
        min-width: 30px;
    }
}

.header-mini-cart-subtotal {
	font-family: $sc-theme-secondary-font;
	margin-bottom: $sc-margin-lv4;
	overflow: hidden;
}

.header-mini-cart-subtotal-amount {
	@extend .col-xs-8;
	text-align: right;
	padding: 0px;
	& span {
		color: $sc-color-primary;
	}
}

.header-mini-cart-subtotal-items {
	@extend .col-xs-4;
	padding: 0px;
	font-weight: $sc-font-weight-semibold;
	text-transform: uppercase;
}

.header-mini-cart-button-view-cart {
	@extend .button-secondary;
	@extend .button-medium;
	@extend .button-generic;
	width:100%;
	text-align:center;
}

.header-mini-cart-buttons {
	display: block;
	clear: both;
}

.header-mini-cart-button-checkout {
	@extend .button-primary;
	@extend .button-medium;
	@extend .button-generic;
	width:100%;
	text-align:center;
}

.header-mini-cart-buttons-left {
	@extend .col-xs-6;
	padding-left: 0px;
	padding-right: $sc-padding-lv1;
}

.header-mini-cart-buttons-right {
	@extend .col-xs-6;
	padding-right: 0px;
	padding-left: $sc-padding-lv1;
}

.header-mini-cart-menu-cart-link{
	@extend .header-menu-cart-link;
}

.header-mini-cart-menu-cart-link-enabled{
	@extend .header-menu-cart-link-enabled;
}

.header-mini-cart-empty{}
.header-mini-cart-summary-cart-ellipsis{}
