/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-line-stock-description-msg-description {
	@extend .stock-info-description;
	@extend .product-line-stock-msg;
}

.product-line-stock-description-icon-description {
	@extend .product-line-stock-icon;
	@extend .icon-info;
	color: $sc-color-theme-900;
}
