/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.reorder-items-actions-quantity-last-purchased{
	display:block;
	font-size:$sc-font-size-s;
	margin-bottom: $sc-margin-lv2;
}

.reorder-items-actions-quantity-label{
	font-weight:$sc-font-weight-bold;
	color:$sc-color-copy;
	font-size:$sc-font-size-m;
	line-height:40px;
	margin-right:$sc-margin-lv3;

	@media(min-width: $screen-sm-min){
		float: left;
	}
}

.reorder-items-actions-quantity-input {
	display: inline-flex;
}

.reorder-items-actions-quantity-input {
	input {
		@extend .quantity-input
	}
}

.reorder-items-actions-quantity-add {
	@extend .quantity-input-button-add;
}

.reorder-items-actions-quantity-remove {
	@extend .quantity-input-button-remove;
}

.reorder-items-actions-quantity-value{
	@extend .quantity-input;
}