/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.transaction-line-views-price-lead{
	@extend .large-price;
}

.transaction-line-views-price-old{
	@extend .old-price;
}

.transaction-line-views-price-login-to-see-prices-highlighted {
	margin-top: $sc-margin-lv2;
    margin-bottom: $sc-margin-lv2;
}

.transaction-line-views-price-message {
	font-weight: normal;
}

.transaction-line-views-price{}
.transaction-line-views-price-exact{}
.transaction-line-views-price-login-to-see-prices{}