/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.site-search {
	@extend .nav-search;
}

.site-search-content {
	@extend .nav-search-content;
}

.site-search-content-form {
}

.site-search-content-input {
	@extend .nav-search-content-input;
	.itemssearcher-input {
		border: none;
		@media (min-width: $screen-md-min) {
            border: 1px solid $sc-theme-input-color;
            border-top-left-radius: $sc-theme-border-radius;
            border-bottom-left-radius: $sc-theme-border-radius;
        }
	}
	.itemssearcher-input:focus{
		outline:none;
		outline-style:none;
		box-shadow:none;
		border-color:transparent;
	}
}

.site-search-input-icon {
	@extend .nav-search-input-icon;
	font-size: $sc-font-size-xxl;
}

.site-search-input-reset {
	@extend .nav-search-input-reset;
	right: 0;
	background-color: transparent;
}

.site-search-button-submit {
	@extend .nav-search-button-submit;
	border-radius: $sc-border-radius;
}

.site-search-button-close {
	@extend .nav-search-button-close;
}

.site-search-input-reset-icon {
	@extend .nav-search-input-reset-icon;
}
