<div class="main-title">
    <h1>About Our Suits</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="fit-image">
            <img src="/assets/cms-images/our-suits/About_Our_Suits_header_v1.png">
        </div>
    </div>
</div>
<!-- copy p -->
<script>
jQuery(function(){

    var from = $('.cfrom').html();

    var from2 = $('.cfrom-2').html();
    
    $('.cto').html(from);

    $('.cto-2').html(from2);

});

</script>

<!-- copy p -->
<!-- new row -->
<div class="row ">
      <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class ="cfrom"> 
                <p><h4>Meticulous Details</h4></p>
                           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis en
                eu tortor vehicula euismod. Maecenas convallis accumsan arcu, et dfs
                ultrices felis luctus quis. Suspendisse at eros sit amet arcu faucibus
                mollis. Donec dignissim magna dictum, sollicitudin mauris sed, tempor
                nisi. Donec libero ligula, tincidunt sit amet quam vel.
                </p>
                
                <p>Arcu, et ultrices felis luctus quis. Suspendisse at eros sit amet arcu
                faucibus mollis. Donec dignissim magna dictum, sollicitu, tempor nisi.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/our-suits/first-row-rigth_v1.png);background-size: cover;">
                <div class="shop-down">
                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP N&L’S SUITS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new row -->
<div class="eton-connection-story-section">
    <div class="story-title">
        <div><img src="/assets/cms-images/our-story-title.png" alt=""/></div>
        Our Story</div>
    <p>New & Lingwood is the quintessential English gentlemen’s outfitter. It was founded<br>150 years ago to cater to the scholars of Eton College, since then we have grown exponentially.</p>
    <a href="#" class="btn btn-gold">SHOP N&L’S SUITS</a>
</div>

<!-- new row -->
<div class="row">
    <div class="col-sm-4 eton-connection-box" style="padding-left: 15px;">
        <div class="suits-autom-box" style="background: url(/assets/cms-images/our-suits/second-row-left_v1.png);background-size: cover;">
            <div>
                <a href="#">
                    <div style="visibility:hidden">
                        <div class ="cto-2">
                        </div>   
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class ="cfrom-2 ">
            <div class="eton-connection-story-section" style="margin: 1px;min-height: 370px;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>“Once you have a New & Lingwood suit it is unlikely that another suit will
                fit quite as well or feel quite the same.”
                </p>
                <p>Nicholas Fugler</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box" style="padding-right: 15px;">
        <div class="suits-autom-box" style="background: url(/assets/cms-images/our-suits/second-row-rigth_v1.png);background-size: cover; ">
            <div>
                <a href="#">
                    <div style="visibility:hidden">
                        <div class ="cto-2">
                        </div>   
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- new row -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
    <div class="eton-box-size">
        <div class="info-container eton-box-size" style="background: url(/assets/cms-images/our-suits/3rd-row-left_v1.png);background-size: cover;">
            <div class="shop-down">
                <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP N&L’S SUITS</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/our-suits/3r-row-rigth_v1.png);background-size: cover;">
                <div class="shop-down">
                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP N&L’S SUITS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 eton-connection-box">
            <div class="fit-image autom-box">