<div class="main-title">
    <h1>Autumn Winter 2017</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="fit-image">
            <img src="/assets/cms-images/Autumn-Winter/Autumn-Header.png">
        </div>
    </div>
</div>
<!-- new row -->
<div class="row ">
    <div class="col-sm-6 ">
        <div class="eton-connection-story-section eton-box-size" style="width:102%;">
            <div>
                <div class ="cfrom-3"> 
                    
                    <p>From uniform essentials, house and society colours through to refined tailored attire, the store has something for gentlemen of all ages. Uniforms can be measured and prepared in either our Eton or London
                    stores, at your convenience.“This seasons collection lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula dolor sit amet, nsect etur euismod.”
                    </p>

                    <p>Nicholas Fugler
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/first-row-rigthv1.png);background-size: cover;">
                <div class="shop-down">
                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new row -->
<div class="row">
    <div class="col-sm-4 eton-connection-box">
            <div class="fit-image autom-box">
                <a href="#">
                    <img src="/assets/cms-images/Autumn-Winter/2nd-row-leftv1.png" alt=""/>
                </a>
            </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
            <div class="fit-image autom-box">
                <a href="#">
                    <img src="/assets/cms-images/Autumn-Winter/2nd-row-midlev1.png" alt=""/>
                </a>
            </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
            <div class="fit-image autom-box">
                <a href="#">
                    <img src="/assets/cms-images/Autumn-Winter/2nd-row-rigthv1.png" alt=""/>
                </a>
            </div>
    </div>
</div>
<!-- new row -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
    <div class="eton-box-size">
        <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/3rd-row-lefv1t.png);background-size: cover;">
            <div class="shop-down">
                <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/3rd-row-rigthv1.png);background-size: cover;">
                <div class="shop-down">
                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- new row -->

<div class="row">
    <div class="col-sm-4 box-cell" style="padding-left: 15px;">
        <div style="background: url(/assets/cms-images/Autumn-Winter/4th-row-left_v1.png);background-size: cover; ">
            <div style="visibility:hidden">
                <div class ="cto-3">
                </div>   
            </div>  
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div class ="cfrom-2">
            <div class="eton-connection-story-section">
                <div class="story-title">
                    <div><img src="/assets/cms-images/our-story-title.png" alt=""/></div>
                    Meet The Team At New & Lingwood
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.
                </p>

                <p><a href="#" class="btn btn-gold">CUSTOMER SERVICES TEAM</a></p>
                <p><a href="#" class="btn btn-gold">CREATIVE TEAM</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 box-cell" style="padding-right: 15px;">
        <div style="background: url(/assets/cms-images/Autumn-Winter/4th-row-rigth_v1.png);background-size: cover; ">
            <div style="visibility:hidden">
                <div class ="cto-3">
                </div>   
            </div>
        </div>
    </div>
</div>
<!-- copy p-->
<script>
jQuery(function(){

    var from = $('.cfrom').html();

    var from2 = $('.cfrom-2').html();

    var from3 = $('.cfrom-3').html();

    $('.cto').html(from);

    $('.cto-2').html(from2);

    $('.cto-3').html(from2);

    $('.cto-4').html(from3);
});

</script>

<!-- copy p -->

<!-- new row -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
    <div class="eton-box-size">
        <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/5th-row-left.png);background-size: cover;">
            <div class="shop-down">
                <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/5th-row-rigth.png);background-size: cover;">
                <div class="shop-down">
                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- new row -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
    <div class="eton-box-size">
        <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/5th-row-left.png);background-size: cover;">
            <div class="shop-down">
                <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Autumn-Winter/5th-row-rigth.png);background-size: cover;">
                <div class="shop-down">
                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">SHOP THE LOOK</a>
                </div>
            </div>
        </div>
    </div>
</div>

