<div class="main-title">
    <h1>Bespoke Shirts</h1>
</div>
<div class="main-video" data-video-container>
    <img src="/assets/cms-images/bespoke-shirts-image-video.jpg" alt=""/>
    <a href="#" data-action="show-video" data-video-url="https://player.vimeo.com/video/126520347" class="btn-video"><i class="icon-video"></i></a>
</div>
<div class="box">
    <h4 class="title">Stand out from the crowd</h4>
    <div class="row">
        <div class="col-sm-6">
            <p>One of life's genuine privileges and pleasures is having a suit tailor-made to one's own speci cations.</p>
            <p>At New & Lingwood, we have many years of experience in tailoring suits for some of the best-known and most in uential gentlemen in the world. The choice of fabric from some the world's best mills, and our extensive range of style options makes each piece unique.</p>
            <p>With our tailors' vast experience, you will be measured and guided through cloth and style selection. You will then be able to customise your suit with a plethora of choices, from pocket and cu  details to internal linings, traditional or tabbed collars,  at front or trouser pleats, belt loops or brace buttons.</p>
        </div>
        <div class="col-sm-6">
            <p>Perhaps you need extra internal pockets for pens and papers or some plus fours as an extra trouser option? All of this can be accommodated in your order.</p>
            <p>From the date of order and subject to your chosen cloth's availability, your suit will be ready for collection in 6-8 weeks. Once we receive it, we will call you to arrange to come and try on the  nished suit, jacket, coat or trousers. We can, if needed, then re ne the  t with slight alterations.</p>
            <p>Due to the personal nature of this service, we can't unfortunately o er it on our website but we hope you will come and experience it for yourself. Once you have, it is unlikely that another suit will  t quite as well or feel quite the same.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class="step-title">Step 1.</div>
            <div class="box-image">
                <img src="/assets/cms-images/step-1.jpg" alt=""/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices.</p>
        </div>
    </div>
    <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class="step-title">Step 2.</div>
            <div class="box-image">
                <img src="/assets/cms-images/step-2.jpg" alt=""/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 box-cell">
        <div class="box gray-box">
            <div class="step-title">Step 3.</div>
            <div class="box-image">
                <img src="/assets/cms-images/step-3.jpg" alt=""/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div class="box gray-box">
            <div class="step-title">Step 4.</div>
            <div class="box-image">
                <img src="/assets/cms-images/step-3.jpg" alt=""/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div class="box gray-box">
            <div class="step-title">Step 5.</div>
            <div class="box-image">
                <img src="/assets/cms-images/step-4.jpg" alt=""/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
