<!-- top Banner -->
<div class="main-title">
    <h1>Corporate</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="fit-image">
            <img src="/assets/cms-images/Corp/Corporate_header_v1.png">
        </div>
    </div>
</div>

<!-- top Banner -->

<div class="row ">   
    <div class="col-sm-6 eton-connection-box">
        <div class="eton-box-size">
            <div class="info-container eton-box-size" style="background: url(/assets/cms-images/Corp/1st-row-left_v1.png);background-size: cover;">
                <div class="info">
                    <div class="holder">
                        <div class="content">
                            <div class="wrap">
                                <div class="box-presentation">
                                    <h3>Download The Eton Uniform Checklist</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class ="cfrom-3"> 
                <p><h4>118 High Street, Eton</h4></p>
                           
                <p>Since 1865 New & Lingwood has proudly outfitted the students of Eton College. Our continuing commitment to that partnership can be seen in our newly refurbished store (118 High Street, Eton).</p>
                
                <p>From uniform essentials, house and society colours through to refined tailored attire, the store has something for gentlemen of all ages. Uniforms can be measured and prepared in either our Eton or London
                stores, at your convenience.
                </p>
        
                <p>Feel free to stop by our Eton store to meet our new manager, Jack Muggridge, or shoot us a line online if you have any questions.
                </p>
            </div>
        </div>
</div>
<!-- new row -->
<div class="row">
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/eton-connection-banner2.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h3>Download The Eton Uniform Checklist</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/eton-connection-banner3.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h3>Shop The Eton School Uniform</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/eton-connection-banner3.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h3>Shop The Eton School Uniform</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new row -->
<div class="row">  
    <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class ="cfrom-3"> 
                <p><h4>118 High Street, Eton</h4></p>
                           
                <p>Since 1865 New & Lingwood has proudly outfitted the students of Eton College. Our continuing commitment to that partnership can be seen in our newly refurbished store (118 High Street, Eton).</p>
                
                <p>From uniform essentials, house and society colours through to refined tailored attire, the store has something for gentlemen of all ages. Uniforms can be measured and prepared in either our Eton or London
                stores, at your convenience.
                </p>

                <p>Feel free to stop by our Eton store to meet our new manager, Jack Muggridge, or shoot us a line online if you have any questions.
                </p>
                <a href="#" class="btn btn-gold">VIEW OUR JOURNEY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class ="cfrom-3"> 
                <p><h4>118 High Street, Eton</h4></p>
                           
                <p>Since 1865 New & Lingwood has proudly outfitted the students of Eton College. Our continuing commitment to that partnership can be seen in our newly refurbished store (118 High Street, Eton).</p>
                
                <p>From uniform essentials, house and society colours through to refined tailored attire, the store has something for gentlemen of all ages. Uniforms can be measured and prepared in either our Eton or London
                stores, at your convenience.
                </p>

                <p>Feel free to stop by our Eton store to meet our new manager, Jack Muggridge, or shoot us a line online if you have any questions.
                </p>
                <a href="#" class="btn btn-gold">VIEW OUR JOURNEY</a>
            </div>
        </div>
    </div>
</div>
<!-- new row -->
<div class="eton-connection-story-section">
    <div class="story-title">
        <div><img src="/assets/cms-images/our-story-title.png" alt=""/></div>
        Our Story</div>
    <p>New & Lingwood is the quintessential English gentlemen’s outfitter. It was founded<br>150 years ago to cater to the scholars of Eton College, since then we have grown exponentially.</p>
    <a href="#" class="btn btn-gold">VIEW OUR JOURNEY</a>
</div>
    