<div class="main-title">
    <h3>Customer Services</h3>
</div>

<div class="tabs cms-horizontal-tabs">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#" data-target="#tab-delivery" aria-controls="tab-delivery" role="tab" data-toggle="tab">Delivery</a>
        </li>
        <li role="presentation">
            <a href="#" data-target="#tab-returns" aria-controls="tab-returns" role="tab" data-toggle="tab">Returns</a>
        </li>
        <li role="presentation">
            <a href="#" data-target="#tab-privacy" aria-controls="tab-privacy" role="tab" data-toggle="tab">Privacy & Cookies</a>
        </li>
        <li role="presentation">
            <a href="#" data-target="#tab-terms" aria-controls="tab-terms" role="tab" data-toggle="tab">Terms & Conditions</a>
        </li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active tab-delivery" id="tab-delivery">
            <div class="tab-section">
                <h4>Delivery</h4>
                <p>We aim to dispatch all goods within 5-7 working days of receipt of order. Deliveries are only despatched Monday to Friday. No goods will be sent out over the weekend or on UK Bank Holidays.</p>
            </div>
            <h4>Delivery Rates</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Carrier</th>
                        <th>Time</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>UK</td>
                        <td>Royal Mail</td>
                        <td>5 - 7 Business Days</td>
                        <td>£4.99</td>
                    </tr>
                    <tr>
                        <td>UK</td>
                        <td>Courier</td>
                        <td>1 - 2 Business Days</td>
                        <td>£9.99</td>
                    </tr>
                    <tr>
                        <td>EUROPE</td>
                        <td>Royal Mail</td>
                        <td>5 - 7 Business Days</td>
                        <td>£9.99</td>
                    </tr>
                    <tr>
                        <td>EUROPE</td>
                        <td>Courier</td>
                        <td>2 - 4 Business Days</td>
                        <td>£19.99</td>
                    </tr>
                    <tr>
                        <td>WORLD WIDE</td>
                        <td>Royal Mail</td>
                        <td>7 - 14 Business Days</td>
                        <td>£12.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane tab-returns" id="tab-returns">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h4>Returns</h4>
                    <p>You may return any goods within 30 days of your order receipt. For full details please read our terms and conditions. Please return goods to the address below.</p>
                    <p>If you have any further queries or would like to discuss any problems you may be having with any of our products please contact one of our team on +44(0) 20 7493 9621.</p>
                    <p>New & Lingwood<br>
                        53 Jermyn Street<br>
                        St James's<br>
                        London<br>
                        SW1Y 6LX</p>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane tab-privacy" id="tab-privacy">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h4>Privacy & Cookie</h4>
                    <p>This privacy policy sets out how New & Lingwood uses and protects any information that you give when you use this website. New & Lingwood is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identi ed when using this website, then you can be assured that it will only be used in accordance with this privacy statement. New & Lingwood may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>
                    <h4>What We Collect</h4>
                    <p>We may collect the following information:</p>
                    <ul>
                        <li>Name</li>
                        <li>Contact information including email addresse</li>
                        <li>Demographic information such as postcode, preferences and interests</li>
                        <li>Other information relevant to customer surveys and/or o ers</li>
                    </ul>
                    <p>For the exhaustive list of cookies we collect see the List of cookies we collect section.</p>
                    <h4>What We Do With The Information We Gather</h4>
                    <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
                    <ul>
                        <li>Internal record keeping.</li>
                        <li>We may use the information to improve our products and services.</li>
                        <li>We may periodically send promotional emails about new products, special o ers or other information which we think you may  nd interesting using the email address which you have provided.</li>
                        <li>From time to time, we may also use your information to contact you for market research purposes.<br> We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.</li>
                    </ul>
                    <h4>Security</h4>
                    <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
                    <h4>How We Use Cookies</h4>
                    <p>A cookie is a small  le which asks permission to be placed on your computer's hard drive. Once you agree, the  le is added and the cookie helps analyse web tra c or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
                    <p>We use tra c log cookies to identify which pages are being used. This helps us analyse data about web page tra c and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
                    <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you  nd useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
                    <h4>Links To Other Websites</h4>
                    <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
                    <h4>Controlling Your Personal Information</h4>
                    <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
                    <ul>
                        <li>Whenever you are asked to  ll in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</li>
                        <li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at info@newandlingwood.com</li>
                    </ul>
                    <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promo- tional information about third parties which we think you may  nd interesting if you tell us that you wish this to happen.</p>
                    <p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to New & Lingwood, 53 Jermyn Street, St James's, London, SW1Y 6LX.</p>
                    <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
                    <h4>List Of Cookies We Collect</h4>
                    <table class="cookies-table">
                        <thead>
                        <tr>
                            <th>COOKIE NAME</th>
                            <th>COOKIE DESCRIPTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>CART</td>
                            <td>The association with your shopping cart.</td>
                        </tr>
                        <tr>
                            <td>CATEGORY_INFO</td>
                            <td>Stores the category info on the page, that allows to display pages more quickly.</td>
                        </tr>
                        <tr>
                            <td>CUSTOMER</td>
                            <td>An encrypted version of your customer id with the store.</td>
                        </tr>
                        <tr>
                            <td>CUSTOMER_AUTH</td>
                            <td>An indicator if you are currently logged into the store.</td>
                        </tr>
                        <tr>
                            <td>CUSTOMER_INFO</td>
                            <td>An encrypted version of the customer group you belong to.</td>
                        </tr>
                        <tr>
                            <td>CUSTOMER_SEGMENT_IDS</td>
                            <td>Stores the Customer Segment ID</td>
                        </tr>
                        <tr>
                            <td>EXTERNAL_NO_CACHE</td>
                            <td>A flag, which indicates whether caching is disabled or not.</td>
                        </tr>
                        <tr>
                            <td>FRONTEND</td>
                            <td>You sesssion ID on the server.</td>
                        </tr>
                        <tr>
                            <td>GUEST-VIEW</td>
                            <td>Allows guests to edit their orders.</td>
                        </tr>
                        <tr>
                            <td>LAST_CATEGORY</td>
                            <td>The last category you visited.</td>
                        </tr>
                        <tr>
                            <td>LAST_PRODUCT</td>
                            <td>The most recent product you have viewed.</td>
                        </tr>
                        <tr>
                            <td>NEWMESSAGE</td>
                            <td>Indicates whether a new message has been received.</td>
                        </tr>
                        <tr>
                            <td>NO_CACHE</td>
                            <td>Indicates whether it is allowed to use cache.</td>
                        </tr>
                        <tr>
                            <td>PERSISTENT_SHOPPING_CART</td>
                            <td>A link to information about your cart and viewing history if you have asked the site.</td>
                        </tr>
                        <tr>
                            <td>STF</td>
                            <td>Information on products you have emailed to friends.</td>
                        </tr>
                        <tr>
                            <td>VIEWED_PRODUCT_IDS</td>
                            <td>The products that you have recently viewed.</td>
                        </tr>
                        <tr>
                            <td>WISHLIST</td>
                            <td>An encrypted list of products added to your Wishlist.</td>
                        </tr>
                        <tr>
                            <td>WISHLIST_CNT</td>
                            <td>The number of items in your Wishlist.</td>
                        </tr>
                        <tr>
                            <td>__utma, __utmb, __utmz, __utmv, __utmx</td>
                            <td>Information on your visit to the website for Google Analytics</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-terms" id="tab-terms">
            tab 3
        </div>
    </div>
</div>