    

<!-- top Banner -->
<div class="row">
    <div class="col-sm-12">
        <div class="fit-image">
            <!-- start hoptSpots -->
            <div class="eaton-hotSpots">             
               <div class="hotspot-demo-1-left">
                    <img src="/assets/cms-images/eton-connection-banner.jpg" />
                    <div class="spots">
                        <div id="spot-01">
                            <a class="spot">+</a>
                            <blockquote>VISIT ITEM PAGE
                                <span class="notch notch-right"></span>
                                <!-- image -->
                                 <div class="container-images">
                                    <div class="slot-3"><a href="http://nandl.production.na1.netsuitestaging.com/NewLingwood/shopping-local.ssp#/WOOL-GABARDINE-SINGLE-BREASTED-COAT" class="link-3">
                                        <div class="cont-image image-3"><img src="/core/media/media.nl?id=7979&amp;c=4449176&amp;h=d2899245e6f3bb89bdbf">
                                        </div><div class="cont-text text-3"> WOOL GABARDINE SINGLE-BREASTED </div></a>
                                    </div>
                                 </div>
                                <!-- image -->
                            </blockquote>
                        </div>
                        <div id="spot-02">
                            <a class="spot">+</a>
                            <blockquote>VISIT ITEM PAGE
                                <!--test item Image-->
                                <div class="container-images">  
                                    <div class="slot-1">
                                        <a href="http://nandl.production.na1.netsuitestaging.com/NewLingwood/shopping-local.ssp#/WOOL-COVERT-COAT_9" class="link-1">
                                        <div class="cont-image image-1">
                                            <img src="/core/media/media.nl?id=7977&amp;c=4449176&amp;h=332b7cfb3e9f400ff0c1">
                                        </div>
                                        <div class="cont-text text-1"> WOOL COVERT COAT 
                                        </div>
                                        </a>
                                    </div>
                                 </div>
                                <!--test item -->
                                <span class="notch notch-top"></span>
                            </blockquote>
                        </div>
                        <div id="spot-03">
                            <a class="spot">+</a>
                            <blockquote>VISIT ITEM PAGE
                                <!-- image -->
                                <div class="container-images">
                                    <div class="slot-2"><a href="http://nandl.production.na1.netsuitestaging.com/NewLingwood/shopping-local.ssp#/WOOL-COVERT-COAT" class="link-2"><div class="cont-image image-2"><img src="/core/media/media.nl?id=7978&amp;c=4449176&amp;h=58738959c11ab8ca1e54">
                                    </div>
                                    <div class="cont-text text-2"> WOOL COVERT COAT </div></a>
                                    </div>
                                </div>
                                <!-- image -->
                                <span class="notch notch-left"></span>
                            </blockquote>
                        </div>
                    </div>
                </div>             
            </div>

            <!-- end  hoptSpots -->
        </div>
    </div>
</div>
<!-- top Banner -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/eton-connection-banner2.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h3>Download The Eton Uniform Checklist</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/eton-connection-banner3.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h3>Shop The Eton School Uniform</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 eton-connection-box">
        <div class="gray-box">
            <div class="box-image">
                <img src="/assets/cms-images/eton-tail-coat.jpg" alt=""/>
            </div>
            <h3>Eton Tail Coat</h3>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="gray-box">
            <div class="box-image">
                <img src="/assets/cms-images/eton-shooting-eight-blazer.jpg" alt=""/>
            </div>
            <h3>Eton Shooting Eight Blazer</h3>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="gray-box">
            <div class="box-image">
                <img src="/assets/cms-images/classic-poplin-double-cuff.jpg" alt=""/>
            </div>
            <h3>Classic Poplin Double Cuff</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 eton-connection-box">
        <div class="fit-image">
            <img src="/assets/cms-images/eton-school-uniform.jpg" alt=""/>
        </div>
    </div>
    <div class="col-sm-6 eton-connection-box eton-school-uniform-box">
        <div class="gray-box clearfix">
            <div class="col-sm-6">
                <div class="box-presentation">
                    <h3>Eton School Uniform Trunk Packages</h3>
                    <p>Lorem ipsum dolor sit amet, consecr adipiscing elit. Nulla quis enim vehicula euismod.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-image">
                    <img src="/assets/cms-images/eton-school-uniform2.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="eton-connection-story-section">
    <div class="story-title">
        <div><img src="/assets/cms-images/our-story-title.png" alt=""/></div>
        Our Story</div>
    <p>New & Lingwood is the quintessential English gentlemen’s outfitter. It was founded<br>150 years ago to cater to the scholars of Eton College, since then we have grown exponentially.</p>
    <a href="#" class="btn btn-gold">VIEW OUR JOURNEY</a>
</div>

<div class="row social-section">
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/social-image-1.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <div class="icon-image">
                                    <img src="/assets/cms-images/icon-instagram.png" alt=""/>
                                </div>
                                <h3>118 Eton High St</h3>
                                <p>See inside our flagship store on Instagram.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/social-image-2.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <div class="icon-image">
                                    <img src="/assets/cms-images/icon-facebook.png" alt=""/>
                                </div>
                                <h3>The Eton Uniform</h3>
                                <p>Need outfit advice, ask us on Facebook.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="fit-image">
            <img src="/assets/cms-images/social-image-3.jpg" alt=""/>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/social-image-4.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <div class="icon-image">
                                    <img src="/assets/cms-images/icon-twitter.png" alt=""/>
                                </div>
                                <h3>Ongoing at Eton</h3>
                                <p>Read our thoughts and views on Twitter.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/social-image-5.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <div class="icon-image">
                                    <img src="/assets/cms-images/icon-pinterest.png" alt=""/>
                                </div>
                                <h3>Product Collections</h3>
                                <p>View and share our Eton collections on Pinterest.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>