<div class="row">
    <div class="box-cell">
        <div class="form-container">
            <h3>Schedule a Consultation</h3>
            <p>If you would like more information, please call our bespoke specialist on: 020 7493 9621 or complete the form below</p>
            <div class="row">
                <div class="col-sm-4">
                    <img class="form-image" src="/assets/cms-images/form-image.jpg" alt=""/>
                </div>
                <div class="col-sm-7">
                    <div class="form-bespoke">
                        <form method="post" action="https://forms.eu2.netsuite.com/app/site/crm/externalcasepage.nl?compid=4449176&formid=3&h=AACffht_pOSrOPMVlMfY4fLUrxnNezC-qFM%3D">

                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <div class="form-bespoke-first-name-group">
                                        <input type="text" id="firstname" name="firstname" placeholder="First Name*">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-bespoke-last-name-group">
                                        <input type="text" id="lastname" name="lastname" placeholder="Last Name*">
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <div class="form-bespoke-email-group">
                                        <input type="text" id="email" name="email" placeholder="Email*">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-bespoke-phone-group">
                                        <input type="text" id="phone" name="phone" placeholder="Phone*">
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <p class="form-legend">I would like to schedule a consultation on:</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-bespoke-date-time-group">
                                        <input type="date" id="scheduled_date" name="scheduled_date" placeholder="MM/DD/YYYY">
                                        <select id="scheduled_hour">
                                            <option value="10:00:00 am">10:00</option>
                                            <option selected="selected" value="11:00:00 am">11:00</option>
                                            <option value="12:00:00 pm">12:00</option>
                                            <option value = "1:00:00 pm">13:00</option>
                                        </select>
                                        <input type="hidden" id="custevent_scheduled_date" name="custevent_scheduled_date" placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="col-sm-9">
                                    <p class="form-message">*ALL FIELDS REQUIRED</p>
                                    <p class="form-message">YOU WILL RECIEVE A CONFORMATION EMAIL WITHIN 48 HOURS</p>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-bespoke-actions">
                                        <button type="submit" class="btn btn-gold">Send</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>