<ul data-slider class="home-image-slider-list clearfix">
     <li>
         <div class="home-slide-main-container">
            <a href="#search">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner1.png" alt=""/>
            </a>
         </div>

    </li>
    <li>
         <div class="home-slide-main-container">
            <a href="#search">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner2.jpg" alt=""/>
            </a>
         </div>
    </li>
    <li>
         <div class="home-slide-main-container">
            <a href="#search">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner3.jpg" alt=""/>
            </a>
         </div>
    </li>
</ul>


<script>
    jQuery('[data-slider]').bxSlider({
        controls: true,
        nextText:'',
        prevText:'',
        pause:'6000',
        speed:1000,
        infiniteLoop: true,
        responsive: true,
        auto:true
    });
</script>
<!-- first row -->
<div class="home-banner-main-cell-nth4 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/CLOTHING/KNITWEAR">
            <img src="/assets/cms-images/bottom1row1st.png" alt="">
        </a>
    </div>
</div>
<div class="home-banner-main-cell-nth4 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="#search">
            <img src="/assets/cms-images/bottom1row2nd.png" alt="">
        </a>
    </div>
</div>
<!-- first row -->

<!-- 2nd  row -->
<div class="home-banner-main-cell-nth0 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/NEW-IN-STOCK">
            <img src="/assets/cms-images/bottom2row1st.png" alt="">
        </a>
    </div>
</div>
<div class="home-banner-main-cell-nth1 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/search">
            <img src="/assets/cms-images/bottom2row2nd.png" alt="">
        </a>
    </div>
</div>
<div class="home-banner-main-cell-nth2 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/search">
            <img src="/assets/cms-images/bottom2row3rd.png" alt="">
        </a>
    </div>
</div>
<!-- 2nd  row -->

<!-- 3rd  row -->
<div class="home-banner-main-cell-nth4 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/NEW-IN-STOCK">
            <img src="/assets/cms-images/bottom3row1st.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth4 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/search">
            <img src="/assets/cms-images/bottom3row2nd.png" alt="">
        </a>
    </div>
</div>
<!-- 3rd  row -->

<!-- 4th  row -->
<div class="home-banner-main-cell-nth5">
    <div class="home-banner-main-cell-bg">
        <a href="#search">
            <img src="/assets/cms-images/bottom4row1st.png" alt="">
        </a>
        <p>..</p>
    </div>
</div>
<!-- 4th  row -->
<!-- 5th  row -->
<div class="home-banner-main-cell-nth6 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="http://www.instagram.com/newandlingwood/" target="_blank">
            <img src="/assets/cms-images/bottom1row6st.png" alt="">
        </a>
        <a href="http://www.facebook.com/newandlingwood/" target="_blank">
            <img src="/assets/cms-images/bottom1row7.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth7 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="#search">
            <img src="/assets/cms-images/bottom2row6nd.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth7 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="http://twitter.com/newlingwood1865" target="_blank">
            <img src="/assets/cms-images/bottom3row6nd.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth7 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="http://uk.pinterest.com/newandlingwood/" target="_blank">
            <img src="/assets/cms-images/bottom2row7.png" alt="">
        </a>
    </div>
</div>

<!-- 5th row -->