<ul data-slider class="home-image-slider-list clearfix">
     <li>
         <div class="home-slide-main-container">
            <a href="#search">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner1.png" alt=""/>
            </a>
         </div>

    </li>
    <li>
         <div class="home-slide-main-container">
            <a href="#search">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner2.jpg" alt=""/>
            </a>
         </div>
    </li>
    <li>
         <div class="home-slide-main-container">
            <a href="/eton-connection">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner3.jpg" alt=""/>
            </a>
         </div>
    </li>
    
    <!-- place holder for another slide 
    <li>
         <div class="home-slide-main-container">
            <a href="#search">
                <img class="hide-mobile" src="/assets/cms-images/HomeBanner2.jpg" alt=""/>
            </a>
         </div>
    </li>
    -->
</ul>


<script>
    jQuery('[data-slider]').bxSlider({
        controls: true,
        nextText:'',
        prevText:'',
        pause:'6000',
        speed:1000,
        infiniteLoop: true,
        responsive: true,
        auto:true
    });
</script>
<!-- first row -->
<div class="home-banner-main-cell-nth4 nopadding eton-connection-box">
    <div class="home-banner-main-cell-bg info-container">
        <a href="#">
            <img src="/assets/cms-images/bottom1row1st.png" alt="">
        
            <div class="info ">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h1 style ="color:#231f20;">IntroducingThe Butterfly Loafer</h1>
                                <p style ="color:#231f20;">An exclusive to New & Lingwooddesigned and developed in partnershipwith Poulsen Scone.</p>
                                <div class="shop-down">
                                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="home-banner-main-cell-nth4 nopadding eton-connection-box">
    <div class="home-banner-main-cell-bg info-container">
        <a href="#">
            <img src="/assets/cms-images/bottom1row2nd.png" alt="">
        
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h1>Extraordinary Pocket Square Collection</h1>
                                <div class="shop-down">
                                    <a href="/ACCESSORIES/POCKET-SQS-HANKS" class="btn btn-gold">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            </a>  
    </div>
</div>
<!-- first row -->

<!-- test 1st row -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/bottom1row1st.png" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation balck-text">
                                <h3>IntroducingThe Butterfly Loafer</h3>
                                <p>An exclusive to New & Lingwooddesigned and developed in partnershipwith Poulsen Scone.</p>
                                <div class="shop-down">
                                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/bottom1row2nd.png" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <h3>Extraordinary Pocket Square Collection</h3>
                                <p></p>
                                <div class="shop-down">
                                    <a href="/ACCESSORIES/POCKET-SQS-HANKS" class="btn btn-gold">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- test 1st row -->

<!-- 2nd  row -->
<div class="home-banner-main-cell-nth0 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/NEW-IN-STOCK">
            <img src="/assets/cms-images/bottom2row1st.png" alt="">
        </a>
    </div>
</div>
<div class="home-banner-main-cell-nth1 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/search">
            <img src="/assets/cms-images/bottom2row2nd.png" alt="">
        </a>
    </div>
</div>
<div class="home-banner-main-cell-nth2 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="/search">
            <img src="/assets/cms-images/bottom2row3rd.png" alt="">
        </a>
    </div>
</div>

<!-- test 2nd row -->
<div class="row">
    <div class="col-sm-4 eton-connection-box">
        <div class="gray-box">
            <div class="box-image">
                <a href="/search">
                    <img src="/assets/cms-images/bottom2row1st_v2.png" alt=""/>
                </a>
            </div>
            <h2>Roll Neck Jumper</h2>
            <a href="/search"> View Now</a>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="gray-box">
            <div class="box-image">
                <a href="/search">
                    <img src="/assets/cms-images/classic-poplin-double-cuff.jpg" alt=""/>
                </a>
            </div>
            <h2>Tailored Shirts</h2>
             <a href="/search"> View Now</a>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="gray-box">
            <div class="box-image">
                <a href="/search">
                    <img src="/assets/cms-images/bottom2row3rdt_v2.png" alt=""/>
                <a href="/search">
            </div>
            <h2>A Tie For Any Occasion</h2> 
             <a href="/search"> View Now</a>
        </div>
    </div>
</div>
<!-- test 2nd row -->
<!-- 2nd  row -->

<!-- 3rd  row -->
<div class="home-banner-main-cell-nth4 nopadding eton-connection-box">
    <div class="home-banner-main-cell-bg info-container">
        <a href="/NEW-IN-STOCK">
            <img src="/assets/cms-images/bottom3row1st.png" alt="">
        </a>
        <div class="info">
            <div class="holder">
                <div class="content">
                    <div class="wrap">
                        <div class="box-presentation">
                            <h1>Our Eton College Connection</h1>
                            <p>
                                New & Lingwood have been serving 
                                the scholars of Eton College for all their sartorial needs since 1865.
                            </p>
                            <div class="shop-down">
                                <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>

<div class="home-banner-main-cell-nth4 nopadding eton-connection-box">
    <div class="home-banner-main-cell-bg info-container">
        <a href="/search">
            <img src="/assets/cms-images/bottom3row2nd.png" alt="">
        </a>
        <div class="info">
            <div class="holder">
                <div class="content">
                    <div class="wrap">
                        <div class="box-presentation">
                            <h3 style ="color:#231f20;">Going to Henley?</h3>
                            <p style ="color:#231f20;">
                              Shop our Henley collection including
                               everything you need to know from
                               the dress code to the etiquette.
                            </p>
                            <div class="shop-down">
                                <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
<!-- 3rd  row -->

<!-- 3rd  test row -->
<div class="row">
    <div class="col-sm-6 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/bottom3row1st.png" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <a href="/SHOES/CLASSIC-SHOES">
                                    <h3>Our Eton College Connection</h3>
                                </a>
                                <p>New & Lingwood have been serving 
                                the scholars of Eton College for all their sartorial needs since 1865.</p>
                                <div class="shop-down">
                                    <a href="/SHOES/CLASSIC-SHOES" class="btn btn-gold">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/bottom3row2nd.png" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation balck-text">
                                <a href="/SHOES/CLASSIC-SHOES">
                                    <h3>Going to Henley?</h3>
                                </a>
                                <p>Shop our Henley collection including
                               everything you need to know from
                               the dress code to the etiquette.</p>
                                <div class="shop-down ">
                                    <a href="/ACCESSORIES/POCKET-SQS-HANKS" class="btn btn-gold">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 3rd  test row -->

<!-- 4th  row -->
<div class="home-banner-main-cell-nth5">
    <div class="home-banner-main-cell-bg">
        <a href="#search">
            <img src="/assets/cms-images/bottom4row1st.png" alt="">
        </a>
        <p>..</p>
    </div>
</div>
<!-- 4th  row -->

<!--  4th  test row -->
<div class="eton-connection-story-section">
    <div class="story-title">
        <div >
            <img src="/assets/cms-images/our-story-title.png" alt=""/>
        </div>
        Our Story</div>
    <p>New & Lingwood is the quintessential English gentlemen’s outfitter. It was founded<br>150 years ago to cater to the scholars of Eton College, since then we have grown exponentially.</p>
    <a href="#" class="btn btn-gold">VIEW OUR JOURNEY</a>
</div>
<!--  4th  test row -->

<!-- 5th  row -->
<div class="home-banner-main-cell-nth6 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="http://www.instagram.com/newandlingwood/" target="_blank">
            <img src="/assets/cms-images/bottom1row6st.png" alt="">
        </a>
        <a href="http://www.facebook.com/newandlingwood/" target="_blank">
            <img src="/assets/cms-images/bottom1row7.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth7 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="#search">
            <img src="/assets/cms-images/bottom2row6nd.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth7 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="http://twitter.com/newlingwood1865" target="_blank">
            <img src="/assets/cms-images/bottom3row6nd.png" alt="">
        </a>
    </div>
</div>

<div class="home-banner-main-cell-nth7 nopadding">
    <div class="home-banner-main-cell-bg">
        <a href="http://uk.pinterest.com/newandlingwood/" target="_blank">
            <img src="/assets/cms-images/bottom2row7.png" alt="">
        </a>
    </div>
</div>

<!-- 5th row -->

<!--  5th  test row -->
<div class="row social-section">
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">  
                <img src="/assets/cms-images/social-image-1.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <a href="http://www.instagram.com/newandlingwood/" target="_blank">
                                <div class="box-presentation">
                                    <div class="icon-image">
                                        <img src="/assets/cms-images/icon-instagram.png" alt=""/>
                                    </div>
                                    <h3>118 Eton High St</h3>
                                    <p>See inside our flagship store on Instagram.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="fit-image">               
                <img src="/assets/cms-images/social-image-2.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <a href="http://www.facebook.com/newandlingwood/" target="_blank">
                                <div class="box-presentation">
                                    <div class="icon-image">
                                        <img src="/assets/cms-images/icon-facebook.png" alt=""/>
                                    </div>
                                    <h3>The Eton Uniform</h3>
                                    <p>Need outfit advice, ask us on Facebook.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="fit-image">
            <img src="/assets/cms-images/social-image-3.jpg" alt=""/>
        </div>
        <div class="info">
            <div class="holder">
                <div class="content" style="vertical-align:bottom;padding-bottom: 20px;">
                    <div class="wrap">
                        <div class="box-presentation">                             
                        <a href="#search" class="btn btn-gold">VIEW OUR 2017 COLLECTION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="col-sm-4 eton-connection-box">
        <div class="info-container">
            <div class="fit-image">
                
                    <img src="/assets/cms-images/bottom3row6nd_v2.png" alt=""/>
                </a>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <a href="http://twitter.com/newlingwood1865" target="_blank">
                                <div class="box-presentation">
                                    <div class="icon-image">
                                        <img src="/assets/cms-images/icon-twitter.png" alt=""/>
                                    </div>
                                    <h3>Ongoing at Eton</h3>
                                    <p>Read our thoughts and views on Twitter.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="fit-image">
                <img src="/assets/cms-images/bottom2row7_v2.png" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <a href="http://uk.pinterest.com/newandlingwood/" target="_blank">
                                <div class="box-presentation">                                   
                                    <div class="icon-image">
                                        <img src="/assets/cms-images/icon-pinterest.png" alt=""/>
                                    </div>
                                    <h3>Product Collections</h3>
                                    <p>View and share our Eton collections on Pinterest.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  5th  test row -->