<div class="main-title">
    <h1>Meet The Team</h1>
</div>

<div class="col-sm-12 eton-connection-box ">
        <div class="info-container row">
            <div class = "autom-box">
                <div class="fit-image">
                    <img src="/assets/cms-images/Meet-the-team/Meet-the-team-header_v1.png" alt=""/>
                </div>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <div class="icon-image">
                                    <img src="/assets/cms-images/Meet-the-team/Lis_flower.png" alt=""/>
                                </div>
                                <h1>The Creative Team</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="row ">
       <div class="col-sm-6 box-cell" style="padding-left: 15px;">
            <div class="box gray-box">
                <div class ="cfrom"> 
                    <p><h3>Simon Maloney</h3></p>
                               
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quisutor
                    vehicula euismod. Maecenas Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas
                    convallis accumsan arcu, et ultrices felis luctus quis.</p>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim
                    etortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices
                    felis luctus quis.
                    </p>
                </div>
            </div>
        </div>
    <div class="col-sm-6 box-cell" style="padding-right: 15px;">
        <div class = "autom-box">
            <div style="background: url(/assets/cms-images/Meet-the-team/1st-row-right_v1.png);background-size: cover;">
                 <div class ="box gray-box" style="visibility:hidden;"> 
                    <div class ="cto">       
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>



<!-- 3 box row -->
<div class="row">
    <div class="col-sm-4 box-cell">
        <div style="background: url(/assets/cms-images/our-story/left-column.png);background-size: cover; ">
            <div style="visibility:hidden">
                <div class ="cto-2">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div class ="cfrom-2">
            <div class="eton-connection-story-section">
                <div class="story-title">
                    <div><img src="/assets/cms-images/our-story-title.png" alt=""/></div>
                    Meet The Team At New & Lingwood
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.
                </p>

                <p><a href="#" class="btn btn-gold">CUSTOMER SERVICES TEAM</a></p>
                <p><a href="#" class="btn btn-gold">CREATIVE TEAM</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div style="background: url(/assets/cms-images/our-story/rigth-column.png);background-size: cover; ">
            <div style="visibility:hidden">
                <div class ="cto-3">
                </div>   
            </div>
        </div>
    </div>
</div>


<!-- 3 box row -->

<div class="row ">
    <div class="col-sm-6 box-cell" style="padding-left: 15px;">
        <div class = "autom-box">
            <div style="background: url(/assets/cms-images/Meet-the-team/2nd-row-left_v1.png);background-size: cover;">
                 <div class ="box gray-box" style="visibility:hidden;"> 
                    <div class ="cto">       
                    </div>
                </div>
            </div>
       </div>
    </div>
   <div class="col-sm-6 box-cell"  style="padding-right: 15px;">
        <div class="box gray-box">
            <div class ="cfrom"> 
                <p><h3>Simon Maloney</h3></p>
                           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quisutor
                vehicula euismod. Maecenas Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas
                convallis accumsan arcu, et ultrices felis luctus quis.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim
                etortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices
                felis luctus quis.
                </p>
            </div>
        </div>
    </div>  
</div>

<div class="row ">
   <div class="col-sm-6 box-cell" style="padding-left: 15px;">
        <div class="box gray-box">
            <div class ="cfrom"> 
                <p><h3>Simon Maloney</h3></p>
                           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quisutor
                vehicula euismod. Maecenas Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas
                convallis accumsan arcu, et ultrices felis luctus quis.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim
                etortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices
                felis luctus quis.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 box-cell" style="padding-right: 15px;">
        <div class = "autom-box">
            <div style="background: url(/assets/cms-images/Meet-the-team/3rd-row-rigth.png);background-size: cover;);background-size: cover;">
                 <div class ="box gray-box" style="visibility:hidden;"> 
                    <div class ="cto">       
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="row ">
    <div class="col-sm-6 box-cell" style="padding-left: 15px;">
        <div class = "autom-box">
            <div style="background: url(/assets/cms-images/Meet-the-team/4th-row-left_v1.png);background-size: cover;">
                 <div class ="box gray-box" style="visibility:hidden;"> 
                    <div class ="cto-3">       
                    </div>
                </div>
            </div>
       </div>
    </div>
   <div class="col-sm-6 box-cell"  style="padding-right: 15px;">
        <div class="box gray-box">
            <div class ="cfrom-3"> 
                 <p><h3>Nicholas Fugler</h3></p>
                           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quisutor
                    vehicula euismod. Maecenas Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas
                    convallis accumsan arcu, et ultrices felis luctus quis.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim
                    etortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices
                    felis luctus quis.
                </p>
            </div>
        </div>
    </div>
    
</div>
<!-- long banner row-->
<div class="col-sm-12 eton-connection-box">
        <div class="info-container row">
            <div class="fit-image">
                <img src="/assets/cms-images/Meet-the-team/Meet-the-team-header_v1.png" alt=""/>
            </div>
            <div class="info">
                <div class="holder">
                    <div class="content">
                        <div class="wrap">
                            <div class="box-presentation">
                                <div class="icon-image">
                                    <img src="/assets/cms-images/Meet-the-team/Lis_flower.png" alt=""/>
                                </div>
                                <h1>The Customer Services Team</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- long banner row-->
<div class="row ">
   <div class="col-sm-6 box-cell" style="padding-left: 15px;">
        <div class="box gray-box">
            <div class ="cfrom-4"> 
                <p><h3>Simon Maloney</h3></p>
                           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quisutor
                vehicula euismod. Maecenas Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas
                convallis accumsan arcu, et ultrices felis luctus quis.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim
                etortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices
                felis luctus quis.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 box-cell" style="padding-right: 15px;">
        <div class = "autom-box">
            <div style="background: url(/assets/cms-images/Autumn-Winter/first-row-rigthv1.png);background-size: cover;);background-size: cover;">
                 <div class ="box gray-box" style="visibility:hidden;"> 
                    <div class ="cto-4">       
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="row ">
    <div class="col-sm-6 box-cell" style="padding-left: 15px;">
        <div class = "autom-box">
            <div style="background: url(/assets/cms-images/Meet-the-team/4th-row-left_v1.png);background-size: cover;">
                 <div class ="box gray-box" style="visibility:hidden;"> 
                    <div class ="cto-3">       
                    </div>
                </div>
            </div>
       </div>
    </div>
   <div class="col-sm-6 box-cell"  style="padding-right: 15px;">
        <div class="box gray-box">
            <div class ="cfrom-3"> 
                 <p><h3>Nicholas Fugler</h3></p>
                           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quisutor
                    vehicula euismod. Maecenas Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla quis enim eu tortor vehicula euismod. Maecenas
                    convallis accumsan arcu, et ultrices felis luctus quis.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim
                    etortor vehicula euismod. Maecenas convallis accumsan arcu, et ultrices
                    felis luctus quis.
                </p>
            </div>
        </div>
    </div>
    
</div>