<div class="main-title">
    <h1>Our Story</h1>
</div>
<div class="main-video" data-video-container>
    <img src="/assets/cms-images/our-story/our-story-tmain.png" alt=""/>
    <a href="#" data-action="show-video" data-video-url="https://player.vimeo.com/video/126520347" class="btn-video"><i class="icon-video"></i></a>
</div>
<div class="box">
    <h4 class="title">The Past</h4>
    <div class="row">
        <div class="col-sm-6">
            
            <p>In 1865 Miss Elisabeth New and Mr Samuel Lingwood founded the business which still bears their names, New & Lingwood. They subsequently married and laid the foundation on which the business still prides itself, nsurpassed quality of merchandise and truly personal service.</p>

            <p>The company was formed in Eton to serve the scholars of Eton College, the most famous of English Public Schools, and soon gained ocial status as outfitters to the College, a great honour for the firm. For over
            147 years New & Lingwood has served many thousands of Etonians, in many instances five or more generations of the same family, on the same site it has occupied since its foundation.</p>
        </div>
        <div class="col-sm-6">
            
            <p>This is a consequence of the high standards of quality and service that New & Lingwood have maintained. In 1922 New & Lingwood opened a shop in Jermyn Street and although these premises were destroyed in the blitz during the Second World War, we re-established our presence in the street shortly after the war, this time at number 53, on the corner of the Piccadilly Arcade. It is fair to say that today New & Lingwood is unique
            in London in being the most traditional of the small number of gentleman's outfitters supplying bespoke and ready-made shirts, hosiery and shoes of the highest quality.</p>

            <p>In 1972 the old and famous shoe and boot-making firm Poulsen Skone joined the Company extending the classic range of shoes.</p>
        </div>
    </div>
</div>
<!-- slider-->
<div class="row">
    <div class = "our-story">
        <div class="home-image-slider" style ="padding: 3px;">
            <ul data-slider class="home-image-slider-list clearfix">
                 <li>
                     <div class="home-slide-main-container">
                        <a href="#search">
                            <img class="hide-mobile" src="/assets/cms-images/our-story/slider_1.png" alt=""/>
                        </a>
                        <!--<div class="home-slide-caption">
                            <h2 class="home-slide-caption-title">SAMPLE HEADLINE</h2>
                            <p>Example descriptive text displayed on multiple lines.</p>
                        </div> -->
                     </div>
        
                </li>
                <li>
                     <div class="home-slide-main-container">
                        <a href="#search">
                            <img class="hide-mobile" src="/assets/cms-images/our-story/slider_2.png" alt=""/>
                        </a>
                     </div>
                </li>
                <li>
                     <div class="home-slide-main-container">
                        <a href="#search">
                            <img class="hide-mobile" src="/assets/cms-images/our-story/slider_3.png" alt=""/>
                        </a>
                     </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    jQuery('[data-slider]').bxSlider({
        controls: true,
        nextText:'',
        prevText:'',
        pause:'6000',
        speed:1000,
        infiniteLoop: true,
        responsive: true,
        auto:true
    });
</script>
<!-- new row-->
<div class="row ">
    <div>
       <div class="col-sm-6 box-cell ">
           <div class="autom-box">
                <div style="background: url(/assets/cms-images/our-story/store.png);background-size: cover; ">
                    <div class="box gray-box" style="visibility:hidden">
                        <div class ="cto">       
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 box-cell ">
            <div class="box gray-box">
                <div class ="cfrom">       
                    <p>Most recently one of the longest established and most respected English bespoke shirtmakers Bowring Arundel was added to the Company and has been incorporated into our Jermyn Street premises.</p>
                    
                    <p>New & Lingwood is of international reputation, serving a clientele of gentlemen of refinement and quiet good taste from all over the world. The traditions that the firm stands for are particularly appreciated in  United States of America, Australia, Japan, the Far East and of course Europe.
                    </p>
        
                    <p>The New & Lingwood retail establishments are well supported by our
                    workrooms where we make our own bespoke and ready-made shirts, the
                    finest quality piped pyjamas, and bespoke shoes and boots. These various
                    elements together make what New & Lingwood is today, the most traditional
                    of the English quality gentleman's outfitters.
                    </p>
                </div>  
            </div>
        </div>
    </div>
<!-- copy p-->    
<script>
jQuery(function(){
    var from = $('.cfrom').html();
    var from2 = $('.cfrom-2').html();
    var from3 = $('.cfrom-3').html();
    $('.cto').html(from);
    $('.cto-2').html(from2);
    $('.cto-3').html(from2);
    $('.cto-4').html(from3);
});
</script>
<!-- copy p -->



<!-- 3 box row -->
<div class="row">
    <div class="col-sm-4 box-cell">
        <div class="autom-box">
            <div style="background: url(/assets/cms-images/our-story/left-column.png);background-size: cover; ">
                <div style="visibility:hidden">
                    <div class ="cto-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div class ="cfrom-2">
            <div class="eton-connection-story-section">
                <div class="story-title">
                    <div><img src="/assets/cms-images/our-story-title.png" alt=""/></div>
                    Meet The Team At New & Lingwood
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis enim eu tortor vehicula euismod.
                </p>

                <p><a href="/contact-us" class="btn btn-gold">CUSTOMER SERVICES TEAM</a></p>
                <p><a href="/contact-us" class="btn btn-gold">CREATIVE TEAM</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 box-cell">
        <div class="autom-box">
            <div style="background: url(/assets/cms-images/our-story/rigth-column.png);background-size: cover; ">
                <div style="visibility:hidden">
                    <div class ="cto-3">
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- new row -->

<div class="row">  
    <div class="col-sm-6 box-cell">
        <div class="box gray-box">
            <div class ="cfrom-3"> 
                <p><h4>118 High Street, Eton</h4></p>
                           
                <p>Since 1865 New & Lingwood has proudly outfitted the students of Eton College. Our continuing commitment to that partnership can be seen in our newly refurbished store (118 High Street, Eton).</p>
                
                <p>From uniform essentials, house and society colours through to refined tailored attire, the store has something for gentlemen of all ages. Uniforms can be measured and prepared in either our Eton or London
                stores, at your convenience.
                </p>

                <p>Feel free to stop by our Eton store to meet our new manager, Jack Muggridge, or shoot us a line online if you have any questions.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 box-cell">
        <div class="autom-box">
            <div style="background: url(/assets/cms-images/eton-school-uniform.jpg);background-size: cover; ">
                <div class="box gray-box" style="visibility:hidden">
                    <div class ="cto-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

