<div class="main-title">
    <h3><img src="/assets/cms-images/icon-title-size-guide.jpg" alt=""/> Size Guide</h3>
</div>

<div class="tabs cms-vertical-tabs">

    <div class="row">
        <div class="col-sm-2 cms-vertical-tabs-col-left">
            <ul class="nav nav-tabs" role="tablist">

                 <li role="presentation" class="active">
                    <a href="#" data-target="#tab-shirts" aria-controls="tab-shirts" role="tab" data-toggle="tab">Shirts</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-coats" aria-controls="tab-coats" role="tab" data-toggle="tab">JACKETS</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-suits" aria-controls="tab-suits" role="tab" data-toggle="tab">Suits</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-trousers" aria-controls="tab-trousers" role="tab" data-toggle="tab">Trousers</a>
                </li>
               
                <li role="presentation">
                    <a href="#" data-target="#tab-knitwear" aria-controls="tab-knitwear" role="tab" data-toggle="tab">Knitwear</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-shoes" aria-controls="tab-shoes" role="tab" data-toggle="tab">Shoes</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-accessories" aria-controls="tab-accessories" role="tab" data-toggle="tab">Accessories</a>
                </li>
            </ul>
        </div>


        <div class="col-sm-10 cms-vertical-tabs-col-right">

            <div class="tab-content">
             <!-- Shirts cm -->
                <div role="tabpanel" class="tab-pane tab-shirts active" id="tab-shirts">

                    <div class="tab-title">
                        Classic Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches 
                                <a href="#" data-target="#tab-shirts-in" aria-controls="tab-shirts-in" role="tab" data-toggle="tab">Here
                                </a>
                            </p>

                            <p class="size-guide-table-message">View our collection of shirts <a href="/CLOTHING/SHIRTS">here</a></p>
                        </div>
                        <div class="col-sm-3">
                             <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> 
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches 
                                <a href="#" data-target="#tab-shirts-in" aria-controls="tab-shirts-in" role="tab" data-toggle="tab">Here
                                </a>
                            </p>

                            <p class="size-guide-table-message">View our collection of shirts <a href="/CLOTHING/SHIRTS">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>

                </div>
            <!-- Shirts cm -->
            <!-- Shirts in -->
                <div role="tabpanel" class="tab-pane tab-shirts" id="tab-shirts-in">

                    <div class="tab-title">
                        Classic Shirts in
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>45.1</td>
                                    <td>48</td>
                                    <td>48</td>
                                    <td>40.9</td>
                                    <td>51</td>
                                    <td>51</td>
                                    <td>54.5</td>
                                    <td>54.5</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>42.9</td>
                                    <td>45.7</td>
                                    <td>45.7</td>
                                    <td>48.4</td>
                                    <td>48.4</td>
                                    <td>51.6</td>
                                    <td>51.6</td>
                                    <td>54.7</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in inches you can change them to centimeters 
                                <a href="#" data-target="#tab-shirts" aria-controls="tab-shirts" role="tab" data-toggle="tab">Here
                                </a>
                            </p>

                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                          <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> 
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>45.1</td>
                                    <td>48</td>
                                    <td>48</td>
                                    <td>40.9</td>
                                    <td>51</td>
                                    <td>51</td>
                                    <td>54.5</td>
                                    <td>54.5</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>42.9</td>
                                    <td>45.7</td>
                                    <td>45.7</td>
                                    <td>48.4</td>
                                    <td>48.4</td>
                                    <td>51.6</td>
                                    <td>51.6</td>
                                    <td>54.7</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                    <td>34.3</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                    <td>34.6</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches 
                                <a href="#" data-target="#tab-shirts" aria-controls="tab-shirts" role="tab" data-toggle="tab">Here
                                </a>
                            </p>

                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>

                </div>
            <!-- Shirts in -->
            <!--jackets cm -->    
                <div role="tabpanel" class="tab-pane tab-coats" id="tab-coats">
                    <div class="tab-title">
                       JACKETS
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th>UK</th>
                                    <th>36</th>
                                    <th>38</th>
                                    <th>40</th>
                                    <th>42</th>
                                    <th>44</th>
                                    <th>46</th>
                                    <th>48</th>
                                    <th>50</th>
                                    <th>52</th>
                                    <th>54</th>
                                </tr>
                                <tr>
                                    <th>EU</th>
                                    <th>46</th>
                                    <th>48</th>
                                    <th>50</th>
                                    <th>52</th>
                                    <th>54</th>
                                    <th>56</th>
                                    <th>58</th>
                                    <th>60</th>
                                    <th>62</th>
                                    <th>64</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td >36</td>
                                    <td >38</td>
                                    <td >40</td>
                                    <td >42</td>
                                    <td >44</td>
                                    <td >46</td>
                                    <td >48</td>
                                    <td >50</td>
                                    <td >52</td>
                                    <td >54</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td >30</td>
                                    <td >32</td>
                                    <td >34</td>
                                    <td >36</td>
                                    <td >38</td>
                                    <td >40</td>
                                    <td >42</td>
                                    <td >44</td>
                                    <td >46</td>
                                    <td >48</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td >75.2</td>
                                    <td >76.2</td>
                                    <td >77.2</td>
                                    <td >78.2</td>
                                    <td >79.2</td>
                                    <td >80.2</td>
                                    <td >81.2</td>
                                    <td >82.2</td>
                                    <td >83.2</td>
                                    <td >84.2</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches 
                                <a href="#" data-target="#tab-coats-in" aria-controls="tab-coats-in" role="tab" data-toggle="tab">Here
                                </a>
                            </p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                          <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>
                </div>
        <!--jackets cm -->    
        <!--jackets in-->  
        <div role="tabpanel" class="tab-pane tab-coats active" id="tab-coats-in">
                    <div class="tab-title">
                       JACKETS iniii
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th>UK</th>
                                    <th>36</th>
                                    <th>38</th>
                                    <th>40</th>
                                    <th>42</th>
                                    <th>44</th>
                                    <th>46</th>
                                    <th>48</th>
                                    <th>50</th>
                                    <th>52</th>
                                    <th>54</th>
                                </tr>
                                <tr>
                                    <th>EU</th>
                                    <th>46</th>
                                    <th>48</th>
                                    <th>50</th>
                                    <th>52</th>
                                    <th>54</th>
                                    <th>56</th>
                                    <th>58</th>
                                    <th>60</th>
                                    <th>62</th>
                                    <th>64</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td >14.2</td>
                                    <td >15</td>
                                    <td >15.7</td>
                                    <td >16.5</td>
                                    <td >17.3</td>
                                    <td >18.1</td>
                                    <td >18.9</td>
                                    <td >19.7</td>
                                    <td >20.5</td>
                                    <td >21.3</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td >11.8</td>
                                    <td >12.6</td>
                                    <td >13.4</td>
                                    <td >14.2</td>
                                    <td >15</td>
                                    <td >15.7</td>
                                    <td >16.5</td>
                                    <td >17.3</td>
                                    <td >18.1</td>
                                    <td >18.9</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td >75.2</td>
                                    <td >76.2</td>
                                    <td >77.2</td>
                                    <td >78.2</td>
                                    <td >79.2</td>
                                    <td >80.2</td>
                                    <td >81.2</td>
                                    <td >82.2</td>
                                    <td >83.2</td>
                                    <td >84.2</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches 
                                <a href="#" data-target="#tab-coats" aria-controls="tab-coats" role="tab" data-toggle="tab">Here
                                </a>
                            </p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>
                </div>        
         <!--jackets in-->
        <!-- suites cm -->
                <div role="tabpanel" class="tab-pane tab-suits" id="tab-suits">
                    <div class="tab-title">
                        Classic Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                           <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <!-- suites cm -->
                <!-- trousers cm -->
                <div role="tabpanel" class="tab-pane tab-trousers" id="tab-trousers">
                    <div class="tab-title">
                        Classic Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                          <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <!-- trousers cm -->
               
                <!-- knitwea cm -->
                <div role="tabpanel" class="tab-pane tab-knitwear" id="tab-knitwear">
                    <div class="tab-title">
                        Classic Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                          <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <!-- knitwea cm -->
                <!-- shoes cm -->
                <div role="tabpanel" class="tab-pane tab-shoes" id="tab-shoes">
                    <div class="tab-title">
                        Classic Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                          <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>
                </div>
              <!-- shoes cm -->
              <!-- accessories cm -->
                <div role="tabpanel" class="tab-pane tab-accessories" id="tab-accessories">
                    <div class="tab-title">
                        Classic Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                         <!--  <img src="/assets/cms-images/classic-shirts.jpg" alt=""/> -->
                        </div>
                    </div>

                    <div class="tab-title">
                        Tailored Shirts
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <table class="table size-guide-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>14½</th>
                                    <th>15</th>
                                    <th>15½ </th>
                                    <th>16</th>
                                    <th>16½</th>
                                    <th>17</th>
                                    <th>17½</th>
                                    <th>18</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="td-label">Chest</td>
                                    <td>114½</td>
                                    <td>122</td>
                                    <td>122</td>
                                    <td>104</td>
                                    <td>129½</td>
                                    <td>129½</td>
                                    <td>138½</td>
                                    <td>138½</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Waist</td>
                                    <td>109</td>
                                    <td>116</td>
                                    <td>116</td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td>131</td>
                                    <td>131</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Black Length <span>Nape To Hem</span></td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td class="td-label">Sleeve Length</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                    <td>88</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="size-guide-table-message">Measurements in centimetres you can change them to inches <a href="#">here</a></p>
                            <p class="size-guide-table-message">View our collection of shirts <a href="#">here</a></p>
                        </div>
                        <div class="col-sm-3">
                            <img src="/assets/cms-images/tailored-shirts.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="main-title no-border">
    <h3>Find Your Measurement</h3>
    <spam>Find Your Measurement</spam>
</div>

<div class="tabs cms-vertical-tabs">

    <div class="row">
        <div class="col-sm-2 cms-vertical-tabs-col-left">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#" data-target="#tab-collar" aria-controls="tab-collar" role="tab" data-toggle="tab">Collar</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-shoulder" aria-controls="tab-shoulder" role="tab" data-toggle="tab">Shoulder width</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-chest" aria-controls="tab-chest" role="tab" data-toggle="tab">Chest circumference</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-back" aria-controls="tab-back" role="tab" data-toggle="tab">Back length</a>
                </li>
                <li role="presentation">
                    <a href="#" data-target="#tab-sleeve" aria-controls="tab-sleeve" role="tab" data-toggle="tab">Sleeve length</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 cms-vertical-tabs-col-right">

            <div class="tab-content">
        <!-- accessories cm -->
        <!-- collar cm -->
                <div role="tabpanel" class="tab-pane tab-collar active" id="tab-collar">
                    <div class="collar-section">
                        <div class="title">
                            Measure Your Self
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Measure around the base of your neck where the shirt`s collar would normally sit. Allow enough room for one or two  nger tips (depending on how loose you like your collar to  t) to be inserted comfortably between the tape measure and your neck.</p>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                <img src="/assets/cms-images/measure-your-self.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="measure-section">
                        <div class="title">
                            Measure An Old Shirt
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Unbutton the shirt and lay flat.<br>
                                    Measure the length from button to buttonhole.
                                </p>
                                <p>Compare these product measurements<br>
                                    to a similar garment you already own
                                </p>
                                <p>Take all measurements from the<br>
                                    outside, with the garment lying flat
                                </p>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                <img src="/assets/cms-images/measure-an-old-shirt.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- collar cm -->
                <!-- shoulder cm -->
                <div role="tabpanel" class="tab-pane tab-shoulder" id="tab-shoulder">
                    Shoulder width
                </div>
                <!-- shoulder cm -->
                <!-- chest cm -->
                <div role="tabpanel" class="tab-pane tab-chest" id="tab-chest">
                    Chest circumference
                </div>
                <!-- chest cm -->
                <!-- back cm -->
                <div role="tabpanel" class="tab-pane tab-back" id="tab-back">
                    Back length
                </div>
               <!-- back cm -->
               <!-- sleeve cm -->
                <div role="tabpanel" class="tab-pane tab-sleeve" id="tab-sleeve">
                    Sleeve length
                </div>
                <!-- sleeve cm -->
            </div>

        </div>
    </div>

</div>

<div class="size-guide-bottom-section">
    <div class="title">
        NEED MORE INFORMATION?
    </div>
    <div class="sub-title">
        CONTACT CUSTOMER SERVICES FOR INFORMATION ON ANY OF OUR PRODUCTS:
    </div>
    <p>CALL US ON: 00000000000 |  EMAIL CUSTOMER CARE</p>
</div>