/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Add space between header and content except in home page, item listing
#content {
    padding-top: $sc-margin-base * 8;

    .home-page, .facets-facet-browse {
        margin-top: -$sc-margin-base * 8;
    }
}

/* CMS CONTENT */
.cms-content-text {
    padding: $sc-padding-lv2 0;
}

.banner-breadcrumb-top {
    @media (min-width: $screen-md-min) {
        padding-top: $sc-main-nav-height + $sc-theme-secondary-menu-height;
    }

    .theme-has-static-header & {
        padding-top: 0;
    }
}
