/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/*
MERCHANDISING ZONE ITEM
Default merchandising template styling merchzone_default.txt
*/
.cms-content-merchzone {
    .merchandising-zone {
        padding-left: 0;
        padding-right: 0;
    }
    .bx-viewport {
        height: auto !important;
    }
    aside {
        @extend .container-fluid;
        padding-top: $sc-padding-base * 10;
        padding-bottom: $sc-padding-lv4;
        @media (min-width: $screen-md-min) {
            padding-bottom: $sc-padding-base * 8;
        }
    }
    .row-fluid {
        @extend .row;
    }
    .span4 {
        @extend .col-sm-4;
        padding-left: 0;
        padding-right: 1px;
    }
    .span3 {
        @extend .col-sm-3;
        padding-left: 0;
        padding-right: 1px;
    }
    .item-cell {
        text-align: center;
    }
    .thumbnail {}
    h5 {
        font-weight: normal;
        font-size: 15px;
        padding: $sc-padding-lv2;
        a {
            color: $sc-color-theme;
        }
        a:hover,
        a:focus {
            color: $sc-color-link-hover;
        }
    }
    .item-cell-price { // use this class if adding price to template
        font-size: 18px;
        padding-bottom: $sc-padding-lv2;
    }
    .btn {}
}
