/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* MISC SOLUTION MODULES STYLES */
/* Hashtag Gallery Module Styles */
#hashtag-gallery {
    @extend .container-fluid;
}

/* LookBook Module Styles */
.look-title,
.look-divider-desktop {
    display: none;
}
.look-subtitle {
    margin-top: 30px;
}
/* Look Books Items Styles */
.itemdetails-lookitems-header {
    text-align: center;
}

/* EFFICIENCIES STORE LOCATOR */
.storelocator-container,
.stores-store-locator-details-container {
    width: 100%;
    margin: $sc-margin-lv2 0;
    padding: 0;
}

.store-locator-search-buttons-container-geolocalization {
    .store-locator-search-button-current {
        @extend .button-tertiary;
    }
}

/* Infinite Scroll */
.infinite-scroll-top {
    background: $sc-color-theme;
}

.infinite-scroll-top-icon {
    color: $sc-color-tertiary;
    position: relative;
    top: 12px;
    padding-left: $sc-padding-lv3 !important;
}

/* Back In Stock Module Styles */
.back-in-stock-notification-placeholder {
    .back-in-stock-notification-show-form-button {
        @extend .button-secondary;
        font-size: $sc-font-size-l;
        font-weight:$sc-font-weight-bold;
        width: 100%;
        @media (min-width: $screen-lg-min) {
            width: calc(70% - 5px);
        }
    }
    .back-in-stock-notification-form-wrapper {
        @media (min-width: $screen-lg-min) {
            width: calc(70% - 5px);
        }
    }
}

/* Blog */
.blog-details-divider-desktop {
    display: block;
    margin: 25px 0;
    clear: both;
    height: 1px;
}

/* Size Chart */
.item-details-size-chart-link {
    display: inline-block;
    margin: 0 0 $sc-margin-lv3;
}
