/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.profile-update-password-button-back {
    @extend .button-back;
}

.profile-update-password-button-back-icon {
    @extend .button-back-icon;
}

.profile-update-password-form-label {
    display: inline-block;
}

.profile-update-password-form-group-label-required {
    @extend .input-required;
}

.profile-update-password {
    @extend .address-edit;
}

.profile-update-password-form-title {}
.profile-update-password-form-area {}

.profile-update-password-form {
    margin-top: $sc-margin-lv3;
}

.profile-update-password-form-group,
.profile-update-password-form-actions {
    margin-top: $sc-margin-lv4;
}

.profile-update-password-form-group-label {}

.profile-update-password-form-group-label-required {
}

.profile-update-password-form-group-input {
    @extend .input-large
}

.profile-update-password-form-actions-update {
    @extend .button-primary;
    @extend .button-medium;
}

.profile-update-password-form-actions-reset {
    @extend .button-tertiary;
    @extend .button-medium;
    @extend .button-positioning-stack2next;
}

.profile-update-password-group-form-controls{}