/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.profile-change-email-button-back {
    @extend .button-back;
}

.profile-change-email-button-back-icon {
    @extend .button-back-icon;
}

.profile-change-email-form-label {
    display: inline-block;
}

.profile-change-email-form-group-label-required {
    @extend .input-required;
}

.profile-change-email {
    @extend .address-edit;
}

.profile-change-email-form-title {}
.profile-change-email-form-area {}

.profile-change-email-form {
    margin-top: $sc-margin-lv3;
}

.profile-change-email-form-group,
.profile-change-email-form-actions {
    @extend .control-group;
}

.profile-change-email-form-group-label {}

.profile-change-email-form-group-label-required {
}

.profile-change-email-form-group-input {
    @extend .input-large
}

.profile-change-email-form-actions-change {
    @extend .button-primary;
    @extend .button-medium;
}

.profile-change-email-group-form-controls{}

.profile-change-email-form-info-block{}
