{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<p class="cart-summary-gift-certificate-cell">
	<span class="cart-summary-gift-certificate-cell-value">-{{model.giftcertificate.amountapplied_formatted}}</span>
	<span title="{{model.giftcertificate.code}}"><span data-type="backbone.collection.view.cell"></span></span>
</p>


{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
