<div>
    <div class="contact-us-content">
        <div class="contact-us-form-controls-group">
            <h1>{{successTitle}}</h1>
            <br />
            <p>{{successMessage}}</p>
        </div>
    </div>
</div>