/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.return-authorization-detail-item-comments-row{
}

.return-authorization-detail-item-comments-column{
	@extend .col-sm-8;
	margin-top:$sc-margin-lv2;
}