/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.invoice-date-overdue{
	@extend .sc-value;
	color: $sc-color-error;
}

.invoice-date-overdue-icon{
	margin-left: $sc-margin-lv1;
	@extend .fa;
	@extend %fa-flag;
	color: $sc-color-error;
}

.invoice-date-due{
	@extend .sc-value;
}

.invoice-date-legend{
	@extend small;
	display: block;
}