{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="home-cms">
	<!-- Top header banner -->
	<section class="home-cms-page-banner-top">
		{{translate 'Use promo code <span class="highlight">SCADEMO</span> for <span class="highlight">30%</span> off your purchase'}}
	</section>

	<!--Main Banner -->
	<section class="home-cms-page-main" data-cms-area="home_main" data-cms-area-filters="path"></section>

	<!--Banner / Promo-->
	<section class="home-cms-page-banner-bottom-content">
		<div class="home-cms-page-banner-bottom" data-cms-area="home_banner_1" data-cms-area-filters="path"></div>

		<div class="home-cms-page-banner-bottom" data-cms-area="home_banner_2" data-cms-area-filters="path"></div>

		<div class="home-cms-page-banner-bottom" data-cms-area="home_banner_3" data-cms-area-filters="path"></div>

		<div class="home-cms-page-banner-bottom-main" data-cms-area="item_list_banner_bottom" data-cms-area-filters="path"></div>
	</section>

	<!--Merchandising zone-->
	<section class="home-cms-page-merchandising" data-cms-area="home_bottom" data-cms-area-filters="path"></section>
</div>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
