/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.transaction-line-views-selected-option {
}
.transaction-line-views-selected-option-label {
    margin-bottom: $sc-margin-lv2;
    @extend .sc-label;
}
.transaction-line-views-selected-option-value {
    margin-bottom: $sc-margin-lv2;
    @extend .sc-value;
}
