/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.transaction-line-views-cell-selectable-actionable-navigable {
	padding-top: $sc-padding-lv3;
	padding-bottom: $sc-padding-lv3;
}
.transaction-line-views-cell-selectable-actionable-navigable-row:hover {
	background-color: $sc-color-theme-background;
}

.transaction-line-views-cell-selectable-actionable-navigable-row:active {
	background-color: $sc-color-theme-background;
}

.transaction-line-views-cell-selectable-actionable-navigable-table {
	@extend .table-flex-item-actionable-navigable-selectable;

	td {
		// vertical-align: middle;
		line-height: 1.8;
	}
}

.transaction-line-views-cell-selectable-actionable-navigable-select {
	@extend .table-flex-tdfirst;

	text-align: left;
	width: 40px;
	padding-left: 0;

	input{
		margin: 0;
	}

	@media (min-width: $screen-sm-min) {
		text-align: center;
	}
}

.transaction-line-views-cell-selectable-actionable-navigable-thumbnail {
	@extend .table-flex-tdfirst;
	padding-right: $sc-padding-lv5;
	width: $img-small + $sc-padding-lv5;

	@media (min-width: $screen-sm-min) {
		width: $img-medium + $sc-padding-lv5;
	}
}

.transaction-line-views-cell-selectable-actionable-navigable-thumbnail-image {
	width: $img-small;

	@media (min-width: $screen-sm-min) {
		width: auto;
	}

}



.transaction-line-views-cell-selectable-actionable-navigable-details{
	vertical-align: top;
}

.transaction-line-views-cell-selectable-actionable-navigable-extras {
	@media (min-width: $screen-sm-min){
		text-align: left;
	}
}

.transaction-line-views-cell-selectable-actionable-navigable-actions {
	@extend .table-flex-tdlast;

	@media (min-width: $screen-sm-min){
		width: 30%;
	}
}


.transaction-line-views-cell-selectable-actionable-navigable-name {
	a{
		@extend .small-title-navigable;
	}
}
.transaction-line-views-cell-selectable-actionable-navigable-price {}
.transaction-line-views-cell-selectable-actionable-navigable-options {}

.transaction-line-views-cell-selectable-actionable-navigable-row.selected {
	background-color: $sc-color-theme-background;
}