/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.transaction-line-views-tax {

	@extend .transaction-line-views-cell-actionable-amount;
	
	.transaction-line-views-tax-label {
		@extend .sc-label;
	}
	.transaction-line-views-tax-amount-value,
	.transaction-line-views-tax-rate-value {
		@extend .sc-value
	}
	
} 