/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.transaction-line-views-cell-selectable{
	@extend .table-flex-item-selectable;
	th{
		font-weight:$sc-font-weight-normal;
		padding-bottom:$sc-padding-lv3;
		color:$sc-color-theme-900;
		font-size:$sc-font-size-m;
	}
}

.transaction-line-views-cell-selectable-item-selector{
	@extend .table-flex-tdfirst;
	@extend .column-type-select;
	padding:$sc-padding-lv3 0;
}

.transaction-line-views-cell-selectable-item-image{
	@extend .table-flex-tdfirst;
	@extend .column-type-image;
	padding:$sc-padding-lv3 0;
	img {
		width:100%;
	}
}

.transaction-line-views-cell-selectable-item-details{
	width:100%;
	padding-top:$sc-padding-lv3;
	@media(min-width: $screen-lg-min){
		width:30%;
	}
}

.transaction-line-views-cell-selectable-item-displayname {
	@extend .medium-title-viewonly;
	display: block;
	width: 100%;
}

.transaction-line-views-cell-selectable-item-qty{
	@extend .table-flex-middle-data;
	width:100%;
	text-align:left;
	font-size:$sc-font-size-m;
	@media (min-width: $screen-lg-min){
		width:25%;
		text-align:right;
	}
}

.transaction-line-views-cell-selectable-item-unit-price{
	@extend .table-flex-middle-data;
	text-align:left;
	font-size:$sc-font-size-m;

	@media (min-width: $screen-lg-min){
		width:15%;
		text-align:right;
	}
}

.transaction-line-views-cell-selectable-item-unit-price-label {
	@extend .sc-label;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.transaction-line-views-cell-selectable-item-unit-price-value {
	@extend .sc-value;
}

.transaction-line-views-cell-selectable-item-amount{
	@extend .table-flex-middle-data;
	@extend .table-flex-middle-last;
	@extend .column-type-number;
	padding-bottom: $sc-padding-lv3;
	text-align:left;
	font-size:$sc-font-size-m;

	@media(min-width: $screen-lg-min){
		width:15%;
		text-align:right;
	}
}

.transaction-line-views-cell-selectable-item-amount-label {
	@extend .sc-label;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.transaction-line-views-cell-selectable-item-amount-value {
	@extend .sc-value;
}

.transaction-line-views-cell-selectable-col-reason{
	@extend .table-flex-tdlast;
	@extend .column-type-number;
}

.transaction-line-views-cell-selectable-visible-phone{
	@extend .sc-label;
	display:inline;
	@media (min-width: $screen-lg-min){
		display:none;
	}
}

.transaction-line-views-cell-selectable-item-displayname-viewonly{
	@extend .medium-title-viewonly;
}

.transaction-line-views-cell-selectable-multishipto-line-selected{
	background: $sc-color-theme-background;
}
.transaction-line-views-cell-selectable-stock {}