/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-details-options-selector-pusher-button  {
	@extend .push-button-primary;
	margin-top: $sc-margin-lv5;
	margin-bottom: $sc-margin-lv3;
	font-weight: $sc-font-weight-semibold;
	position: relative;

	& > span {
		font-weight: $sc-font-weight-normal;
		text-transform: capitalize;
	}

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}

}
.product-details-options-selector-pusher-validation {
	display:block;
	[data-validation-error="block"] {
		margin-top:$sc-margin-lv3;
	}

	@media (min-width: $screen-sm-min){
      display:none;
  	}
}