/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-details-add-to-product-list-button{}

.product-details-add-to-product-list-loading {
	color:$sc-color-secondary;
	text-align: center;
    line-height: 60px;
    margin-top: 10px;
}

.product-details-add-to-product-list-control {}