/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.product-details-quantity-options-title {
	text-transform: uppercase;
	margin-bottom: $sc-margin-lv2;
	display: block;
}
.product-details-quantity-options {
	margin-top:20px;
	clear:both;

	[data-validation-error="block"] {
		margin-top: $sc-margin-lv2;
	}
}

.product-details-quantity-options-title {
	@extend h4;
	margin-bottom: $sc-margin-base;
	display: block;
}

.product-details-quantity-options-title-help {
	clear: both;
	display: block;
	font-weight:$sc-font-weight-light;
	margin: $sc-margin-lv2 0;
}

.product-details-quantity-add {
	@extend .quantity-input-button-add;
}

.product-details-quantity-remove {
	@extend .quantity-input-button-remove;
}

.product-details-quantity-value {
    @extend .quantity-input;
    padding:$sc-margin-lv2 $sc-padding-lv3 $sc-margin-lv2 $sc-padding-lv3 !important;
    width: 90px;
    min-width: 90px;
    text-align: right;
    display: inline-block;
    color: $sc-color-quantity-value;
    background-color: $sc-neutral-shade-0 !important; 
    border:1px solid $sc-color-theme !important;
}