/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-msr-enablelink-module {
	margin-bottom: $sc-margin-lv2;

	@media (min-width: $screen-sm-min){
		border-top: 1px solid $sc-color-theme-border-light;
		padding-top: $sc-padding-lv1;
	}
}
.order-wizard-msr-enablelink-module-link {
	margin: 0 0 $sc-margin-lv3;
	display: inline-block;
}

.order-wizard-msr-enablelink-module-link-icon {
	@extend .sc-tooltip;
}