/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-msr-package-details-quantity {}
.order-wizard-msr-package-details-quantity-count {}

.order-wizard-msr-package-details-quantity-count-label {
	@extend .sc-label;
}

.order-wizard-msr-package-details-quantity-count-value {
	@extend .sc-value;
}

.order-wizard-msr-package-details-quantity-amount {
}

.order-wizard-msr-package-details-quantity-amount-label {
	@extend .sc-label;
}

.order-wizard-msr-package-details-quantity-amount-value {
	@extend .sc-value;
}

.order-wizard-msr-package-details-quantity-crossed {
	@extend .old-price;
}