/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/*
MERCHANDISING ZONE ITEM
Default merchandising template styling merchzone_default.txt
*/
.cms-content-merchzone {
    aside {
        @extend .container-fluid;
        padding: $sc-padding-lv2 0;
    }
    .row-fluid {
        @extend .row;
    }
    %col {
        position: relative;
        min-height: 1px;
        float: left;
        margin: 0 $sc-padding-lv2 $sc-padding-lv4 $sc-padding-lv2;
        @extend .box;
        width: calc(50% - $sc-padding-lv4); //width minus side margins
    }
    .span4 {
        @extend %col;
        @media (min-width: $screen-md-min) {
            width: calc(33% - $sc-padding-lv4); //width minus side margins
        }
    }
    .span3 {
        @extend %col;
        @media (min-width: $screen-md-min) {
            width: calc(25% - $sc-padding-lv4); //width minus side margins
        }
    }
    .item-cell {
        text-align: center;
        padding-top: $sc-padding-lv2;
    }
    .thumbnail {
        margin-bottom: $sc-margin-lv2;
    }
    h5 {
        font-weight: normal;
        font-size: $sc-font-size-l;
        padding: $sc-padding-lv3 0 $sc-padding-lv1;
        border-top: $sc-theme-border-light;
    }
    .item-cell-price { // use this class if adding price to template
        font-size: $sc-font-size-m;
        padding-bottom: $sc-padding-lv2;
        color: $sc-color-copy;
    }
    .btn {
        @extend .button-secondary;
        @extend .button-small;
    }
}
