/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* MISC SOLUTION MODULES STYLES */
/* Landing Page Module Styles */
.contact-us-landing-page-container {
    background-color: $sc-neutral-shade-0;
}
.contact-us-landing-page-container,
.about-us-container {
    padding-top: $sc-padding-lv3;
}

/* Back In Stock Module Styles */
.back-in-stock-notification-placeholder {
    .back-in-stock-notification-show-form-button {
        @extend .button-secondary;
        padding: $sc-padding-lv4;
        font-size: $sc-font-size-l;
        font-weight:$sc-font-weight-bold;
        width: 100%;
    }
}

/* Blog */
.blog-details-divider-desktop {
    display: block;
    margin: $sc-margin-lv5 0;
    clear: both;
    height: 1px;
}

/* Infinite Scroll */
.infinite-scroll-top {
    background: $sc-color-theme;
    bottom: $sc-margin-lv4 + 15;
    @include border-radius($sc-theme-border-radius);
}

.infinite-scroll-top-icon {
    color: $sc-neutral-shade-0;
    position: relative;
    top: 10px;
}


.productcompare-dashboard,
.contact-us-container,
.guest-order-status-layout-container,
.look-layout-container,
.lookbook-layout-container,
.blog-main {
    @extend .content-background;
}

/* Size Chart */
.item-details-size-chart-link {
    display: inline-block;
    margin: $sc-margin-lv4 0 0;
}
