/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Product Slider */
%product-slider {
    @extend .large-title;
    text-align: center;
    font-size: 2.13em;
}

/* Box styling */
/* Box around content, slider products, related items, recently viewed, pdp */
.box {
    background-color: $sc-neutral-shade-0;
    @include border-radius($sc-theme-border-radius);
    //@include box-shadow(0 6px 12px transparentize(black, 1-0.05));
}

/* Summit specific spacing and color */
.content-background {
    padding-left: $sc-theme-mobile-padding;
    padding-right: $sc-theme-mobile-padding;
    padding-top: $sc-padding-lv3;
    background-color: $sc-neutral-shade-0;
    border-radius: 0 0 $sc-theme-border-radius $sc-theme-border-radius;

    @media (min-width: $screen-md-min) {
        padding-left: $sc-theme-desktop-padding;
        padding-right: $sc-theme-desktop-padding;
    }
}
