/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.about-us-container {
	@extend .container;
	@extend .box !optional;
	padding-bottom: $sc-padding-lv7;

	@media (min-width: $screen-md-min) {
		padding-left: $sc-padding-lv7;
		padding-right: $sc-padding-lv7;
	}
}

.about-us-header {
	margin-bottom: $sc-padding-lv4;
}

.about-us-header-image {
	margin-top: $sc-padding-lv3;
}

.about-us-header-cms {
	margin-top: $sc-padding-lv2;
}

.about-us-content {}

.about-us-content p {
	margin-bottom: $sc-padding-lv2;
}
