$gold: #bea066;
$borderDark: #071933;
$bgGray: #f1f1f2;
$bgGray2: #e6e7e8;
$title: #231f20;

.form-container {
  background: $bgGray;
  padding: 40px 0;
  > h3,
  > p {
    text-align: center;
    margin-bottom: 15px;
  }

  input {
    border: 0;
    border-bottom: 2px solid $gold;
    padding: 10px 0 6px;
    background: none;
    margin-bottom: 30px;
    font-size: 16px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
  }

  #scheduled_date {
    border: 1px solid $gold;
  }

  .form-legend {
    margin-top: 15px;
  }

  .form-legend,
  .form-message {
    color: $gold;
  }

  .btn-gold {
    min-width: 100px;
  }

  .form-image {
    margin-left: 30px;
  }
}