$gold: #bea066;
$borderDark: #071933;
$bgGray: #f1f1f2;
$bgGray2: #e6e7e8;
$title: #231f20;

.fit-image {
    img {
        display: block;
        width: 100%;

    }
}

.btn-video {
    display: block;
    width: 90px;
    height: 90px;
    border: 3px solid $gold;
    border-radius: 100%;
    background: #fff;

    .icon-video {
        display: block;
        position: relative;

        &:before {
            width: 0;
            height: 0;
            display: block;
            border: 15px solid $gold;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-width: 34px;
            margin-top: 27px;
            margin-left: 28px;
            content: "";
        }

        &:after {
            display: block;
            border: 10px solid #fff;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-width: 25px;
            position: absolute;
            left: 31px;
            top: 5px;
            content: "";
        }
    }
}

.btn-gold {
    background: $gold;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    width: 80%;
   
}


[data-video-container] {
    position: relative;
    overflow: hidden;

    .btn-video {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -45px;
        margin-top: -45px;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        @include translate3d(0, 100%, 0);
        @include transition(all 250ms ease-out 100ms);

        &.visible {
            opacity: 1;
            @include translate3d(0, 0, 0);
            @include transition(all 250ms ease-out 100ms);
        }
    }
}

.main-title {
    text-align: center;
    border-bottom: 2px solid $borderDark;
    padding-bottom: 30px;
    margin-bottom: 30px;

    h1 {
        color: $title;
        margin: 0;
        font-weight: 400;
    }

    img {
        vertical-align: middle;
    }
}

.box-cell {
    padding: 4px;

    //&:first-child {
    //    padding-left: 15px;
    //}
    //
    //&:last-child {
    //    padding-right: 10px;
    //}
}

.box {
    padding: 40px;

    .title,
    p {
        margin-bottom: 20px
    }

    .step-title {
        color: $gold;
        border-bottom: 2px solid $gold;
        display: inline-block;
        padding: 20px 40px;
        margin-bottom: 20px;
    }

    .box-image {
        margin-bottom: 12px;
    }
}

.gray-box {
    background: $bgGray;
    text-align: center;
    min-height: 400px;
}

.cms-horizontal-tabs,
.cms-vertical-tabs {
    .nav-tabs {
        text-align: center;
        li {
            padding: 10px 20px;
            display: inline-block;
            text-transform: uppercase;
            background: $gold;

            a {
                color: #fff;
            }

            &.active {
                background: $bgGray;

                a {
                    color: $gold;
                }
            }
        }
    }

    .tab-content {
        background: $bgGray;
        padding: 60px 100px;

        .tab-pane {
            display: none;
            &.active {
                display: block;
            }
        }

        .tab-section {
            margin-bottom: 60px;
        }

        h4 {
            margin-bottom: 30px;
            text-align: center;
        }

        p, ul {
            margin-bottom: 30px;
        }

        ul {
            li {
                list-style: disc;
                list-style-position: inside;

            }
        }

        .table {
            border: 2px solid $gold;

            th,
            td {
                padding-top: 12px;
                padding-bottom: 12px;
                border: 1px solid $gold;
                text-align: center;
            }

            th {
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom-width: 2px;
                color: $title;
            }
        }

        .cookies-table {
            th {
                color: $title;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            td {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .tab-delivery {
        text-align: center;
    }
}

.cms-vertical-tabs {
    .nav-tabs {
        li {
            display: block;
            margin-bottom: 10px;

            &.active {
                margin-right: -8px;
            }
        }
    }

    .tab-content {
        padding: 40px 60px;

        .tab-title {
            border-bottom: 2px solid $borderDark;
            padding-bottom: 5px;
        }

        .size-guide-table {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 0;

            th,td {
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-bottom: 1px dashed $borderDark;
            }

            .td-label {
                text-align: left;
                span {
                    display: block;
                    font-size: 10px;
                }
            }
        }

        .size-guide-table-message {
            margin: 0;
            text-transform: uppercase;
            a {
                color: $title;
                border-bottom: 1px solid $borderDark;
            }

            &:last-child {
                margin-bottom: 15px;
            }
        }
    }
}

.box-presentation {
    h3,h2,h1 {
        color: $title;

        &:after {
            content: "";
            display: block;
            padding-top: 15px;
            border-bottom: 1px solid $title;
            margin-bottom: 15px;
            margin-left: 60px;
            margin-right: 60px;
        }
        :hover{
            opacity: 0.7;    
            filter: alpha(opacity=70); /* For IE8 and earlier */
        }
    }
    p{
        display:none;
    }
    @media (min-width: $screen-sm-min){
        p {
            display: block;
        }
    }
}

.eton-connection-box {

    .gray-box {
        background: $bgGray2;
        min-height: 340px;
    }

    .box-image {
        padding-top: 15px;
        padding-bottom: 35px;
        a :hover {
         opacity: 0.7;    
         filter: alpha(opacity=70); /* For IE8 and earlier */
        }
    }

    .fit-image + .fit-image {
        padding-top: 4px;
    }
    

    @media (min-width: $screen-sm-min){
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 6px;

        &:first-child {
            padding-left: 15px;

            .wrap {
                float: right;
            }
        }
        &:last-child {
            padding-right: 15px;

            .wrap {
                float: left;
            }
        }
    }

    .info-container {
        position: relative;
    }
    
    .info {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        .holder {
            display: table;
            width: 100%;
            height: 100%;
        }
        .content {
            display: table-cell;
            vertical-align: middle;
        }
        .wrap {
            @media (min-width: $screen-sm-min){
            width: 60%;
            }           
            text-align: center;
            padding: 0 35px;
        }
        h3,h2,h1 {
            color: #fff;

            &:after {
                border-bottom: 1px solid #fff;
            }
        }
        p {
            color: #fff;
        }
    }

    .balck-text{
        h3,h2,h1 {
            color: #000 !important;

            &:after {
                border-bottom: 1px solid #000 !important;
            }
        }
        p {
            color: #000 !important;
        }
    }
    

    :hover .shop-down {
    @media (min-width: $screen-md-min){
    //added for slid up test
        bottom: -40px;
        
      }
      bottom: 0;

    }

    
    overflow: hidden; 
}

.eton-school-uniform-box {

    .box-presentation {
        margin-top: 100px;
    }

    .box-image {
        margin-top: 50px;
    }

}

.eton-connection-story-section {

    margin: 6px 0 0;
    background: url("/assets/cms-images/bg.jpg") #e6e7e8;
    text-align: center;
    padding: 30px 0;

    .story-title {
        width: 130px;
        margin: 0 auto;

        > div {
            margin-bottom: 15px;
        }

        &:after {
            content:"";
            display: block;
            padding-top: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $title;
        }

    }

    p {
        margin-bottom: 15px;
    }
    
    .btn-gold {
        max-width: 250px
    }
    
}

.social-section {
    .info-container + .info-container {
        padding-top: 4px;
        
    }

    .eton-connection-box .info .wrap {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .icon-image {
        margin-bottom: 15px;
    }
    .holder {
        :hover { 
            background-color: #131312;
            opacity: 0.7;    
            filter: alpha(opacity=70); /* For IE8 and earlier */
        }
    }

}


.cms-vertical-tabs-col-left {
    padding-right: 4px;
}

.cms-vertical-tabs-col-right {
    padding-left: 4px;
}

.collar-section {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid $borderDark;
}

.size-guide-bottom-section {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
        margin-bottom: 10px;
    }
}
.shop-down{
  //added for slid up test
  @media (min-width: $screen-sm-min){
    position: relative;
    bottom: -193px;
    transition: all 0.5s ease;
    }
    position: relative;
    bottom: 0px;
    
}


.eton-box-size{
    display: inline-block;
    min-height: 400px;
    width: 100%;
    .cfrom-3{
    width: 102%;
    padding-top: 20%;
    } 
    .shop-down{
    padding-top: 50%;
    text-align: center;
    bottom:-300px
    }
    
}
.autom-box{
 background-color: #000;
    :hover{
        opacity: 0.7;    
        filter: alpha(opacity=70); /* For IE8 and earlier */
    }
}
.suits-autom-box{
 background-color: #000;
    :hover{
        opacity: 0.7;    
        filter: alpha(opacity=70); /* For IE8 and earlier */
        background-color: #000;
    }
}
.our-story{
    .home-image-slider {
        .bx-wrapper {
        img {
            max-width: 1164px !important;
            }
        }
    }  
}
.meet-the-team{
    &:last-child {
        .wrap {
            float: none;
            width: auto;
        }
    }
        .box-presentation{
        h1 {          
            &:after {
                border-bottom: none;
            }
        }
    }
}

.eaton-hotSpots{
        blockquote {
        position: relative;
        display: none;
        border-radius: 8px;
        padding: 8px;
        text-align: center;
        line-height: 1.5em;
        color: #fff;
        background-color: rgba(0,0,0,0.7);
        overflow: visible;
        z-index: 99
    }
    blockquote .notch {
        position: absolute;
        padding: 0;
        width: 0;
        height: 0;
    }
    blockquote .notch-top {
        top: -10px;
        left: 50%;
        margin-left: -10px;
        border-top: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(0,0,0,0.7);
        border-left: 10px solid transparent;
    }
    blockquote .notch-right {
        top: 50%;
        right: -10px;
        margin-top: -10px;
        border-top: 10px solid transparent;
        border-right: 0;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgba(0,0,0,0.7);
    }
    blockquote .notch-bottom {
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        border-top: 10px solid rgba(0,0,0,0.7);
        border-right: 10px solid transparent;
        border-bottom: 0;
        border-left: 10px solid transparent;
    }
    blockquote .notch-left {
        top: 50%;
        left: -10px;
        margin-top: -10px;
        border-top: 10px solid transparent;
        border-right: 10px solid rgba(0,0,0,0.7);
        border-bottom: 10px solid transparent;
        border-left: 0;
    }
    img {
        display: block;
        width: 100%;
    }
    .hotspot-demo-1-left {
        position: relative;
        
    }
    .spots {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .spot {
        position: absolute;
        text-align: center;
        line-height: 32px;
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        width: 32px;
        height: 32px;
        border: 1px solid #bea166;
        border-radius: 16px;
        background-color: #bea166;
    }
    .spot:hover {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #spot-01, #spot-02, #spot-03 {
        display: inline-block;
        min-width: 250px;
    }   
    #spot-01 {
        position: absolute;
        top: 65%;
        left: 78.5%;
        width: 35%;
    }
    #spot-01:hover > blockquote {
        display: block;
        top: 20px;
        left: -31%;
        width: 35%;
    }
    #spot-02 {
        position: absolute;
        top: 27%;
        left: 53.5%;
        width: 35%;
    }
    #spot-02:hover > blockquote {
        display: block;
        top: 36px;
        left: -13%;
        width: 35%;
    }
    #spot-03 {
        position: absolute;
        top: 46%;
        left: 14%;
        width: 35%;
    }
    #spot-03:hover > blockquote {
        display: block;
        top: -16px;
        left: 18px;
        width: 35%;
    }
}

