/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.header-simplified-header{
	height: $sc-theme-secondary-menu-height;
	background-color: $sc-theme-main-nav-color;
}

.header-simplified-header-logo{
	text-align: center;
	padding: 20px;
	.header-logo-image{
		width: auto;
	}
}
