/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.header-logo {
	display: block;
	// line-height: $sc-main-nav-height;
	line-height: 39px;
	height: $sc-main-nav-height;
	width: 90%;
	margin: 0 auto;

	@media (min-width: $screen-sm-min) {
		width: auto;
		margin:0px;
	}
}

.header-logo-image {
	width: auto;
	vertical-align: middle;
}

.header-logo-sitename{}
