/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.header-logo {
	display: block;
	line-height: $sc-main-nav-height;
	height: $sc-main-nav-height;
	width: 150px;
	margin-left:-$sc-margin-lv2;

	/*@media (max-width: $screen-xs-min) {
		max-width: 100%;
	}*/

	@media (min-width: $screen-sm-min) {
		width: 160px;
		margin:0px;
	}
}

.header-logo-image {
	/*width: 90%;
	max-width: 115px;*/
	max-width: 150%;
	vertical-align: middle;

	@media (min-width: $screen-md-min) {
		width: auto;
	}
}

.header-logo-sitename {}
