/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */
/* Variables are in variables > _qs-variables.scss */

.header-message {
	padding: 0;
	background-color: $sc-color-theme-background;
	text-align:center;

	.global-views-message {
		@extend .container;
		margin-bottom:0px;
		@media (min-width: $screen-md-min) {
			padding:$sc-padding-lv3;
			margin-left:-$sc-margin-lv6;
			margin-right:-$sc-margin-lv6;
		}
	}
}

.header-main-wrapper {
	position: relative;
	background-color: $sc-theme-nav-color;
	background-position-y: -55px;
  background-size: cover;
}

.header-main-nav {
	@extend .container;
	min-height: $sc-main-nav-height;
	padding-left: 0;
	padding-right: 0;
	@media (min-width: $screen-md-min){
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 10px;

	@media (min-width: $screen-md-min) {
		padding-left: 0;
		padding-right: 0;
	}
	.wrapheader{
			@media (min-width: $screen-md-min){
				margin-left: 50px;
				margin-right:50px;
			}
	}
}

.header-content {
	@extend .clearfix;
}
///////////////////////////////////////////////////////////////
//header logo

.header-logo-wrapper {
	float: left;
}

@media (max-width: $screen-xs-min) {
	.header-logo {
		max-width: 95px;
	}
}
.et-info{
		z-index: 1001;
    position: absolute;
    top: 0;
    left: 50px;
    margin-right: 13px;
    line-height: 1em;
    display: block;
    padding-bottom: .75em;
    float: left;
    padding-top: .75em;
    font-weight: 600;
		color:#fff
}
///////////////////////////////////////////////////////////////
//header sidebar toggle
.header-sidebar-toggle-wrapper {
	margin-top: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-bottom: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-right: $sc-margin-lv3;
	margin-left: 10px;
	float: left;

	@media(min-width: $screen-md-min) {
		display: none;
	}
}

.header-sidebar-toggle {
	background: $sc-theme-nav-color;
	width: $sc-target-size;
	height: $sc-target-size;
	text-align:center;
	margin-left:-$sc-margin-lv2;
}

.header-sidebar-toggle-icon {
	@extend .fa;
	@extend %fa-bars;
	color: $sc-theme-color;
	font-size: 24px;
}

///////////////////////////////////////////////////////////////
//main nav positioning

.header-right-menu {
	display:flex;
	float: right;
	margin-top: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-bottom: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
}

.header-menu-profile,
.header-menu-quote,
.header-menu-quickorder,
.header-menu-settings {
	float: left;
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.header-menu-storelocator {
    float: left;
}

.header-menu-settings {
	position: relative;
}

.header-menu-settings-dropdown-title {
	margin-bottom: $sc-margin-lv2;
}

.header-menu-cart {
	float: left;
	position: relative;

	@media (min-width: $screen-md-min) {
		margin-left: $sc-margin-lv4;
	}
}
.header-menu-search-icon,
.header-menu-searchmobile-icon {
	@extend .fa;
	@extend %fa-search;
}

.header-menu-searchmobile-icon{
	color: #8bc400;//$sc-theme-color;
	font-size: $sc-font-size-xxl;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
}

.header-menu-searchmobile {
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

%header-link {
	font-family: $sc-theme-secondary-font;
	//text-transform: uppercase;
	font-size: $sc-font-size-xs;
	display: block;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;
	color: $sc-theme-header-link-color !important;
	text-align: center;
	position: relative;
	background-color: transparent;
}

%header-link:hover, %header-link:focus {
	color: $sc-theme-header-link-color-hover !important;
}
%header-link:active {
	color: $sc-theme-header-link-color-hover !important;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link,
.storelocator-accesspoints-headerlink-link,
.requestquote-accesspoints-headerlink-link,
.quickorder-accesspoints-headerlink-link {
	@extend %header-link;
}

.quickorder-accesspoints-headerlink-link {
	.header-sidebar-menu-wrapper & {
		@media (max-width: $screen-md-min) {
			text-align: left;
			line-height: normal;
			color: $sc-theme-nav-color !important;
		}
	}
	@media (min-width: $screen-sm-min) {
		display: inline;
	}
}

.storelocator-accesspoints-headerlink-link,
.requestquote-accesspoints-headerlink-link,
.header-subheader-settings-link {
	color: $sc-theme-header-link-color !important; //force it!
	&:hover {
		color: $sc-theme-header-link-color-hover !important;
	}
}

.requestquote-accesspoints-headerlink-link {
	display: inline;
}

.header-menu-searchmobile-link {
	overflow: hidden;
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
	overflow: hidden;
	color: $sc-color-link;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;

	@media(min-width: $screen-md-min) {
		background-color: #000;//$sc-color-link;
		color: #8bc400;//$sc-neutral-shade-0 !important;
		min-width: 95px;
		height: 55px;
		//line-height: 75px;
		margin-top: 0;
		@include border-radius(50px);
		border: 1px solid #8bc400;
	}

	&:hover,
	&:focus {
		@media(min-width: $screen-md-min) {
			color: $sc-neutral-shade-0 !important;
			background-color: $sc-color-link-hover;
		}
	}
}

.header-menu-cart-link-enabled {
	.header-menu-cart-icon{
		color: #8bc400;//$sc-theme-cart-icon-color;
	}
}

.header-menu-cart-legend {
	padding: 0 $sc-padding-lv3 0 0;
	//float:right;
	display: none;

	@media(min-width: $screen-md-min) {
		display: inline;
		padding: 0 $sc-padding-lv2 0 0;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	color: $sc-theme-cart-icon-color;
	font-size: $sc-font-size-xxl;
	line-height: 30px;
	min-width: 30px;
	@media(min-width: $screen-md-min) {
		font-size: $sc-font-size-xl;
	}
}

.header-menu-settings-icon {
	font-size: $sc-font-size-xl;
	@extend .fa;
	@extend %fa-globe;
}

.header-menu-settings-carret {
	margin-left: $sc-margin-lv1;
	@extend .fa;
	@extend %fa-angle-down;
}

///////////////////////////////////////////////////////////////
//secondary nav styles

.header-secondary-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: - $sc-sidebar-size;
	width: $sc-sidebar-size;
	background-color: $sc-theme-nav-bgr-color;
	// z-index: 1000;

	@media (min-width: $screen-md-min) {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: $sc-main-nav-height;
	}
}


///////////////////////////////////////////////////////////////
//header settings

.header-menu-settings-dropdown {
	display: none;
	position: absolute;
	z-index: 1001;
	background: $sc-theme-nav-bgr-color;
	padding: $sc-padding-lv6;
	left: -130px;
	box-shadow: 0 6px 12px transparentize($sc-neutral-shade-600, 1-0.175);
	@include border-radius($sc-theme-border-radius);
	width: 335px;

	&:before {
		position: absolute;
		top: -7px;
		right: 165px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-theme-color-lightest;
		border-left: 7px solid transparent;
		border-bottom-color: transparentize($sc-neutral-shade-600, 1-0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 166px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-theme-nav-bgr-color;
		border-left: 6px solid transparent;
		content: '';
	}
}

.open .header-menu-settings-dropdown {
	display: block;
}
.header-site-search {
	display: none;
	background-color: $sc-theme-nav-bgr-color;
	width: 100%;
	@media (min-width: $screen-md-min) {
		margin-left: auto;
		margin-right: auto;
	}
}
.header-menu-cart-dropdown{}
.header-sidebar-overlay{}

.header-subheader {
	background: $sc-color-theme-background;
	display:none;
	text-align:right;
	font-size:$sc-font-size-m;
	color: $sc-color-secondary;
	//border-top:1px solid $sc-color-theme-border-light;
	//border-bottom:1px solid $sc-color-theme-border-light;
	@media(min-width: $screen-sm-min) {
		display: block;
	}
}

.header-subheader-container {
	//@extend .container;
	//padding-right:$sc-padding-lv6;
}

.header-subheader-options {
	display: none;
	@media(min-width: $screen-sm-min) {
		display: block;
	}

	li {
		display:inline;
		padding-left:$sc-padding-lv3;
	}
}

.header-subheader-settings-link {
	display:inline;
	color:$sc-color-secondary;
}

.header-subheader-settings {
	position:relative;
}

.header-menu-locator-mobile {
	display:block;
	@media(min-width: $screen-sm-min) {
		display: none;
	}
}
.header-content{
		.cta{
			@media (min-width: $screen-md-min){
			width: 20%;
			float: left;
			margin-left: 25%;
			margin-top: 14px;
			margin-bottom: 14px;
			line-height: 2.3;
			img{
				float: left;
				margin: 0 12px 0 0;
			}
			p {
				font-size: 15px;
				color: #fff;
				font-weight: bold;
				line-height: 15px;
				margin: 4px 0 0 0;
			}
			a {
				text-decoration: none;
				color: #fff;
				font-size: 13px;
			}
			@media(min-width: $screen-sm-min) {
				display: block;
			}
			display: grid;
		}
			display:none;
	}
}
/*basket nave */
.basket-nav {
		z-index: 1001;
		position: relative;
		float:right;
    top: -5px;
    right: 50px;
		display: none;
		@media(min-width: $screen-sm-min) {
			  display:inherit;
		}
		ul{
	    height: 10px;
		}
	 ul li {
    display: inline-block;
		 a {
		    padding: 1px 10px;
		    color: #b7b7b7;
		    text-transform: uppercase;
		    display: block;
		    font-size: .8em;
		}

	}
}
