/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Summit Theme */

.cart-item-summary-item-list-actionable-qty{
	@extend .transaction-line-views-cell-actionable-qty !optional;
}

.cart-item-summary-item-list-actionable-qty-form{
}

.cart-item-summary-item-list-actionable-container-qty {
	margin-bottom: $sc-margin-lv2;

	.cart-item-summary-item-list-actionable-label-qty {

		display: block;
		vertical-align: middle;
		//color: $sc-color-copy-dark;
		margin-bottom:$sc-margin-lv2;
		//font-weight: 600;

		@media (min-width: $screen-md-min) {
			display: table-cell;
		}
	}
	.cart-item-summary-item-list-actionable-input-qty {

		display: block;
		vertical-align: middle;
		overflow: hidden;
		@media (min-width: $screen-md-min) {
				display: table-cell;;
				padding-left: 20px;
		}
	}
}

.cart-item-summary-item-list-actionable-label-qty{
	@extend .transaction-line-views-cell-actionable-label-qty;
}

.cart-item-summary-item-list-actionable-input-qty{
	@extend .transaction-line-views-cell-actionable-input-qty;
}

.cart-item-summary-item-list-actionable-amount{
	@extend .transaction-line-views-cell-actionable-amount;
}

.cart-item-summary-item-list-actionable-amount-label{
	@extend .transaction-line-views-cell-actionable-amount-label;
}

.cart-item-summary-item-view-old-price{
	@extend .transaction-line-views-price-old;
}

.cart-item-summary-amount-value{
	@extend .middle-price-primary;
}

.cart-item-summary-quantity-title-help{
	clear: both;
	margin-top: $sc-margin-lv1;
	display: block;
	font-weight:$sc-font-weight-light;
}

.cart-item-summary-quantity-add,
.cart-item-summary-quantity-remove {
	//@extend .quantity-input-button-add;
	@extend .button-secondary;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.cart-item-summary-quantity-remove {
	//@extend .quantity-input-button-remove;
}

.cart-item-summary-quantity-value {
 	//@extend .quantity-input;
	padding:$sc-margin-lv2 $sc-margin-lv3 $sc-margin-lv2 $sc-margin-lv3;
 	width: 90px;
 	text-align: right;
	border: 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

.cart-item-summary-promocodes .cart-promocode-list-item-container{
	@extend .transaction-line-views-cell-actionable-amount-label;
	padding-left: 0;
}

.cart-item-summary-promocodes .cart-promocode-list-item-code-value {
	@extend .sc-value;
}
