/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.cart{
	@extend .container;
}

.cart-title{
	margin-bottom:$sc-margin-lv4;
	padding-bottom:$sc-padding-lv2;
	border-bottom:1px solid $sc-color-theme-border;

	@media (min-width: $screen-sm-min) {
		margin-bottom:$sc-margin-lv8;
	}
}

.cart-title-details-count{
	display:block;
	color: $sc-color-copy;
	text-transform: capitalize;

	@media(min-width: $screen-sm-min){
		display:inline-block;
	}
}

.cart-body{
	@extend .row;
	margin-bottom: $sc-margin-base * 12;
	border-bottom:1px solid $sc-color-theme-border;
    @media(min-width: $screen-sm-min){
        margin-left: 0;
        margin-right: 0;
        padding-bottom: $sc-padding-base * 12;
    }
}

.cart-left{
	@extend .col-sm-7;
	@extend .col-lg-8;
    @media(min-width: $screen-sm-min){
        margin-left: -15px;
        margin-right: -15px;
    }
}

.cart-left {
	.items-views-selected-option-color-tile{

	}

	.items-views-selected-option-picker{
		display: none;
	}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
	}
}
.cart-right{
	@extend .col-sm-5;
	@extend .col-lg-4;
    @media(min-width: $screen-sm-min){
        float: right;
        padding-right: 0;
    }
}

.button-proceed-checkout{
	@extend .button-large;
	@extend .button-generic;
	@extend .button-primary;
}

.btn-paypal-express {
  text-align: center;
  margin-top: $sc-margin-lv3;
}
// sticky
.cart-proceed-to-checkout-container {
	margin-bottom: $sc-margin-lv4;
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}
.cart-proceed-to-checkout {
	@extend .button-proceed-checkout;
}

.button-saveforlater{
	@extend .push-button-primary;
	margin-bottom: $sc-margin-lv8;
}

.button-saveforlater-addtocart{
	@extend .button-large;
	@extend .button-primary;
	display: block;
	margin-bottom: $sc-margin-lv2;
}

.button-saveforlater-remove{
	@extend .button-small;
	@extend .button-tertiary;
	display: block;
	margin-bottom: $sc-margin-lv8;
}

.saveforlater-actions{
	clear:both;
	display:block;
    margin-top: 10px;
}

.saveforlater-cell{
	@extend .col-xs-12;
	@extend .col-sm-3;
}

.cart-savedforlater [data-pusher]{
	background:$sc-pusher-bg;
}

.product-list-details-later-col{
	padding-right:$sc-padding-lv3;
}

// .product-list-details-later-macro-details span.spinner > .sub, .product-list-details-later-macro-details span.spinner > .add{
//     float: left;
//     width: 41px;
//     height: 41px;
//     text-align: center;
//     line-height: 41px;
//     color: $sc-color-tertiary;
//     background: $sc-color-span-spinner-add-or-sub;
//     border-right: 0;
//     cursor: pointer;
//     transition: 0.1s linear;
//     -o-transition: 0.1s linear;
//     -ms-transition: 0.1s linear;
//     -moz-transition: 0.1s linear;
//     -webkit-transition: 0.1s linear;
//     margin-right: 4px;
//     @media(min-width: $screen-sm-min){
// 		display:none;
// 	}
// }

// .item-views-cell-actionable-table span.spinner > .sub, .item-views-cell-actionable-table span.spinner > .add{
//     float: left;
//     width: 41px;
//     height: 41px;
//     text-align: center;
//     line-height: 41px;
//     color: $sc-color-tertiary;
//     background: $sc-color-span-spinner-add-or-sub;
//     border-right: 0;
//     cursor: pointer;
//     transition: 0.1s linear;
//     -o-transition: 0.1s linear;
//     -ms-transition: 0.1s linear;
//     -moz-transition: 0.1s linear;
//     -webkit-transition: 0.1s linear;
//     margin-right: 4px;
//     @media(min-width: $screen-sm-min){
// 		display:none;
// 	}
// }

.button-saveforlater-addtocart{
	display:inline-block;
	width:auto;
}

.cart-body-empty-title {}
.cart-body-empty-info {
	margin-bottom:$sc-margin-lv8;
}