/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.cart-item-summary-item-list-actionable-qty{
	@extend .transaction-line-views-cell-actionable-qty;
}

.cart-item-summary-item-list-actionable-qty-form{}

.cart-item-summary-item-list-actionable-container-qty {
	margin-bottom: $sc-margin-lv2;

	.cart-item-summary-item-list-actionable-label-qty {

		display: block;
		vertical-align: middle;
		color: $sc-color-copy;
		margin-bottom:$sc-margin-lv2;
		font-weight: $sc-font-weight-bold;

		@media (min-width: $screen-md-min) {
			//display: table-cell;
			margin: 0 0 $sc-margin-base;
		}
	}
	.cart-item-summary-item-list-actionable-input-qty {

		display: block;
		vertical-align: middle;
		overflow: hidden;
		@media (min-width: $screen-md-min) {
				display: table-cell;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
}

.cart-item-summary-item-list-actionable-label-qty{
	@extend .transaction-line-views-cell-actionable-label-qty;
}

.cart-item-summary-item-list-actionable-input-qty{
	@extend .transaction-line-views-cell-actionable-input-qty;
}

.cart-item-summary-item-list-actionable-amount{
	@extend .transaction-line-views-cell-actionable-amount;
}

.cart-item-summary-item-list-actionable-amount-label{
	@extend .transaction-line-views-cell-actionable-amount-label;
}

.cart-item-summary-item-view-old-price{
	@extend .transaction-line-views-price-old;
}

.cart-item-summary-amount-value{}

.cart-item-summary-quantity-title-help{
	clear: both;
	margin-top: $sc-margin-base;
	display: block;
	font-weight:$sc-font-weight-light;
}

.cart-item-summary-quantity-add, .cart-item-summary-quantity-remove{
	@extend .button-secondary;
	background-color:lighten($sc-color-theme, 20%);
	border:1px solid lighten($sc-color-theme, 20%);;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.cart-item-summary-quantity-value {
 	padding:$sc-margin-lv2 $sc-padding-lv3 $sc-margin-lv2 $sc-padding-lv3;
 	//width: 90px;
 	text-align: right;
	background-color: $sc-neutral-shade-0;
	border: 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	color: $sc-color-theme-dark;
	@media (min-width: $screen-md-min) {
		border: 2px solid $sc-color-theme-dark;
	}
}

.cart-item-summary-promocodes .cart-promocode-list-item-container{
	@extend .transaction-line-views-cell-actionable-amount-label;
	padding-left: 0;
}

.cart-item-summary-promocodes .cart-promocode-list-item-code-value {
	@extend .sc-value;
}