/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.cart-detailed{
	@extend .cart;

	& .transaction-line-views-selected-option-color-label-text,
	& .cart-item-summary-item-list-actionable-label-qty{
		color: $sc-color-copy;
		font-weight: $sc-font-weight-bold;
	}

	& .cart-item-summary-item-list-actionable-amount-label,
	& .cart-item-summary-amount-value {
		color: $sc-color-copy;
		font-weight: $sc-font-weight-bold;
		@media (min-width: $screen-md-min) {
			color: $sc-color-theme-dark;
			font-size: $sc-font-size-xs;
		}
	}

	& .transaction-line-views-selected-option {
		.transaction-line-views-selected-option-label{
			color: $sc-color-copy;
			font-weight: $sc-font-weight-bold;
		}
	}
	& .cart-summary-grid .cart-summary-expander-head-toggle {
		border-bottom: 0;
	}
}

.cart-detailed-title{
	@extend .cart-title;
}

.cart-detailed-title-details-count{
	@extend .cart-title-details-count;
	@extend .middle-price;
}

.cart-detailed-confirm-message{}

.cart-detailed-right{
	@extend .cart-right;
	margin-top: $sc-margin-lv4;
	@media (min-width: $screen-md-min) {
		margin-top:  $sc-margin-lv3;
	}
}

.cart-detailed-body{
	@extend .cart-body;
}

.cart-detailed-left{
	@extend .cart-left;
}

.cart-detailed-savedforlater{
    @extend .cart-savedforlater;
}

.cart-detailed-proceed-to-checkout-container{
	@extend .cart-proceed-to-checkout-container;
}

.cart-detailed-proceed-to-checkout{
	@extend .cart-proceed-to-checkout;
}

.cart-detailed-body-empty-info{
	@extend .cart-body-empty-info;
}

.cart-detailed-row-fluid{
	@extend .row;
}

.cart-detailed-item-view-cell-actionable-table{
	@extend .transaction-line-views-cell-actionable-table;
  	border-collapse: collapse;

	.transaction-line-views-cell-actionable-table-middle,
	.transaction-line-views-cell-actionable-table-first,
	.transaction-line-views-cell-actionable-table-summary {
    	padding-bottom: 0;

		@media (min-width: $screen-md-min) {
			padding-bottom: $sc-padding-lv2;
		}
	}

	.transaction-line-views-cell-actionable-table-last {
    	padding-bottom: $sc-margin-lv4;

		@media (min-width: $screen-md-min) {
			padding-bottom: $sc-padding-lv2;
		}
	}
}

.cart-detailed-view-header{}
.cart-detailed-footer{}
.cart-detailed-header{}
.cart-detailed-body-empty{}
.cart-detailed-body-empty-title{}
.cart-detailed-recently-viewed{}
.cart-detailed-related{}
.cart-detailed-correlated{}