/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.pickup-in-store-option {
    display: block;
    width: 100%;
    margin-bottom: $sc-margin-lv4;
}

.pickup-in-store-option {

    .pickup-in-store-option-column {
        display: table-cell;
        vertical-align: top;

        &:first-child {
            padding-right: $sc-padding-lv2;
        }

        @media (max-width: $screen-xs) {
          max-width: 90%;
        }
    }

    .pickup-in-store-option-column label,
    .pickup-in-store-option-column p {
        margin-bottom: 0;
    }
}

.pickup-in-store-divider-desktop {
    margin: $sc-padding-lv4 0;
    height: 1px;
    background-color: $sc-color-theme-300;
    clear: both
}

.pickup-in-store-select-store-label {
    color: $sc-color-copy-light;
}

.pickup-in-store-option-status-message {
    @extend .message-info;
}
.pickup-in-store-option-status-message-out {
    @extend .message-error;
    @extend .stock-info-out;
}

.pickup-in-store-option-status-message-icon{
  @extend .fa;
  @extend %fa-info-circle;
  margin-right: $sc-margin-lv1;
}

.pickup-in-store-option-pickup-status {}

.pickup-in-store-option-status-available {
    color: $sc-color-success;
}

.pickup-in-store-option-status-not-available {
    color: $sc-color-error;
}

.pickup-in-store-option-status-pre-order {
    color: $sc-color-theme-400;
}

.pickup-in-store-option-pickup-label-free{
  color: $sc-color-success;
}


.pickup-in-store-view-location-data {
  border-radius: 0;
  border-color: $sc-color-link;
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.176));
  padding: $sc-padding-lv2;
}

.pickup-in-store-view-location-data-link {
    color: $sc-color-link;
    cursor: pointer;
}

.pickup-in-store-view-location-data-link, .pickup-in-store-option .dropdown {
  display: inline-block;
}

.pickup-in-store-dropdown {
    @extend .dropdown;
}

.pickup-in-store-dropdown-menu {
    @extend .dropdown-menu;
    right: 0;
    left: auto;
    min-width: 250px;

    @media (max-width: $screen-sm-max) {
      left: 0;
      right: auto;
    }
}

.pickup-in-store-icon-angle-down {
    @extend .icon-angle-down;
}

.pickup-in-store-select-store-modal .global-views-modal {
    @extend .modal-lg;
    max-height: calc(100% - $sc-margin-lv2*3);
}

.pickup-in-store-select-store-modal .global-views-modal-content-header {
    margin-bottom: 0;
}

.pickup-in-store-store-selected-details-get-directions-button,
.pickup-in-store-store-selected-details-change-store-button  {
    @extend .button-tertiary;
    @extend .button-small;
    margin-top: $sc-margin-lv2;
}

.pickup-in-store-store-selected-details-get-directions-button {
    margin-right: $sc-margin-lv2;
}

.pickup-in-store-option-pickup-label {}

.pickup-in-store-option-pickup-label.disabled
{
    color: $sc-color-copy-light;
}

.pickup-in-store-select-store-location-name {}
.pickup-in-store-change-store-link {}
.pickup-in-store-select-store-link {}
.pickup-in-store-store-selected-details-buttons {}
.pickup-in-store-select-location {}
.pickup-in-store-after-select-location {}
.pickup-in-store-option-ship-status {}


.pickup-in-store-options {
@media (max-width: $screen-xs-max) {
        margin-top: $sc-margin-lv4;
    }
}

.pickup-in-store-view-location-data .locator-venue-details-container *{
    font-size: $sc-font-size-s;
    line-height: 1.6;
}