/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.pickup-in-store-location-info {

    padding: $sc-padding-lv1;

    div h5 {
        color: $sc-neutral-shade-600;
        font-weight: bold;
    }
}

.pickup-in-store-location-info-container{
    div{
        margin-bottom: $sc-margin-lv2;
    }

    .pickup-in-store-location-info-container-additional-info{
        color: $sc-color-success;
    }
}

.pickup-in-store-location-info-buttons{
    button{
        margin: $sc-margin-lv1 0;
    }
}

.pickup-in-store-location-info-get-directions-button {
    @extend .button-tertiary;
    @extend .button-small;
}

.pickup-in-store-location-info-change-store-button {
    @extend .button-tertiary;
    @extend .button-small;
}

.pickup-in-store-location-info-container-address {}
.pickup-in-store-location-info-container-open-hours {}
.pickup-in-store-location-info-container-open-hours-list {}
