/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.item-relations-related-item{
	height: 250px;
	width: 228px;
}


.item-relations-related-item-thumbnail{
	width:100%;
	overflow:hidden;
	display: block;
	min-height: $img-large;
	img	{
		max-width: none;
		width: 100%;
		height: auto;
	}
}


.item-relations-related-item-title{
	@extend .small-title-navigable;
	text-align:center;
	font-weight:normal;
	text-transform:capitalize;
	margin-bottom:$sc-margin-lv2;
	display:block;
	position:relative;
	overflow: hidden;
}


.item-relations-related-item-price{
	@extend .small-price;
	margin-bottom:$sc-margin-lv2;
	position:relative;
}

.item-relations-related-item-rate{
	margin-bottom:$sc-margin-lv2;
	display: inline-block;
	text-align:center;
	.global-views-star-rating{
		width:92px;
		margin:auto;
	}
}