/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Bridge Theme

.facets-faceted-navigation-results{
	padding-top: $sc-padding-lv4;
	padding-left: $sc-padding-lv3;
	padding-right: $sc-padding-lv3;

	font-size: $sc-font-size-base;

	@media (min-width: $screen-lg-min){
		display: none;
	}
}

.facets-faceted-navigation-title-alt {
	color: $sc-color-primary;
}

.facets-faceted-navigation-facet-group {
	padding: $sc-padding-lv2 $sc-padding-lv3;
	overflow: hidden;
	@media (min-width: $screen-md-min) {
		padding-left: 0;
	}
}

.facets-faceted-navigation-title {
	display: none;

	@media (min-width: $screen-md-min) {
		font-size: $sc-font-size-xxl;
		font-weight: $sc-font-weight-semibold;
		text-align: left;
		display: block;
		padding: 1px $sc-padding-lv3 $sc-padding-lv3 0;
		max-width: 225px;
	}
}

.facets-faceted-navigation-category-wrapper {}

.facets-faceted-navigation-facets-clear {
	@extend .button-tertiary;
	@extend .button-small;
	width: initial;
	position: absolute;
	top: 0;
	right: 0;
	margin: $sc-margin-lv4;

	@media (min-width: $screen-md-min) {
		position: initial;
		display: inline-block;
		margin-left: $sc-margin-lv3;
	}
}

.facets-faceted-navigation-facets-clear-icon {
	@extend .facets-faceted-navigation-facet-option-circle;
}
.facets-faceted-navigation-facet-group-expander:hover {
	text-decoration: none;
}

.facets-faceted-navigation-facet-group-title {
	font-size: $sc-font-size-base;
	color: $sc-color-link;
	@media (min-width: $screen-md-min) {
		max-width: 210px;
		overflow: hidden;
	}
}

.facets-faceted-navigation-facet-group-expander {
	display:block;
	padding-top: $sc-padding-lv2;
}

.facets-faceted-navigation-facet-group-expander-icon {
	float: right;
	color: $sc-color-link;
	font-size: $sc-navigation-icon-size;
	margin-top: -3px;
	@extend .icon-angle-up;
	@include transition-transform(300ms ease);
}

.collapsed .facets-faceted-navigation-facet-group-expander-icon{
	@include rotate(180deg);
}

.facets-faceted-navigation-facet-option {
	@extend small;
	color: $sc-color-copy;
	padding: $sc-padding-lv2 0;
	display: block;
}

.facets-faceted-navigation-facet-option:hover {}

.facets-faceted-navigation-facet-option.option-active {
	color: $sc-color-secondary;
	font-weight: $sc-font-weight-normal;
}

.facets-faceted-navigation-facet-option-circle {
	// @extend .single-select-icon-close;
	@extend .icon-base;
	@extend %fa-times-circle;
	color: $sc-color-theme;
	margin-left: $sc-margin-base;
	cursor: pointer;
}


.facets-faceted-navigation-content .sc-pusher-header{
	margin:0;
}
