/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-cartitems-module {
    @extend .box-column;
    border-top: none;
    margin: 0 -15px $sc-margin-lv4 -15px;
    padding: 0;
    @media (min-width: $screen-sm-min) {
        margin: 0 0 $sc-margin-lv4;
    }
}

#wizard-step-content-right {
	& .order-wizard-cartitems-module-ship {
		@extend .order-wizard-cartitems-module;
	}
	& .order-wizard-submitbutton-container {
        padding: $sc-padding-lv3;
        margin-bottom: 0;
        background-color: $sc-color-theme-background;
		border: 1px solid $sc-color-theme;
		border-top: none;
	}
	& .order-wizard-termsandconditions-module-top-summary {
		margin-bottom:0;
	}
}

.order-wizard-cartitems-module-accordion-head{
	@extend .accordion-head;
}
.order-wizard-cartitems-module-accordion-head-toggle{
	@extend .accordion-head-toggle;
	border: none;
}
.order-wizard-cartitems-module-ship-accordion-head-toggle {
    border: none;
    
    &.order-wizard-cartitems-module-ship-accordion-primary {
        color: $sc-color-theme-dark;

        .order-wizard-cartitems-module-ship-accordion-toggle-icon {
            color: inherit;
        }
    }
}
.order-wizard-cartitems-module-ship-dropdown {
	padding: 0;
}
.order-wizard-cartitems-module-ship-accordion-toggle-icon {
	right: 15px;
}
.order-wizard-cartitems-module-ship-products-scroll {
	& .transaction-line-views-price-lead {
		@extend .middle-price;
		@extend .medium-title;
	}
}
.order-wizard-cartitems-module-accordion-toggle-icon{
	@extend .accordion-toggle-icon;
}
.order-wizard-cartitems-module-accordion-body{
	@extend .accordion-body;

	.item-view-cell-navigable-item-image{
		padding-left: 0;
		width: 25%;
	}
	.item-views-cell-navigable-item-quantity-label,
	.item-views-cell-navigable-item-unit-price-label,
	.item-views-cell-navigable-item-amount-label,
	.item-views-cell-navigable-item-quantity-label {
		display: inline-block;
		@media (min-width: $screen-md-min){
			display: none;
		}
	}
}

.lg2sm-first.order-wizard-cartitems-module-table {
	table-layout: fixed;

	.item-views-cell-navigable-item-quantity-label,
	.item-views-cell-navigable-item-unit-price-label,
	.item-views-cell-navigable-item-amount-label,
	.item-views-cell-navigable-item-quantity-label {
		display: inline;
	}

	.item-views-cell-navigable-item-quantity .item-views-cell-navigable-item-quantity-value {
		display: inline-block;
		text-align: left;
	}
}

.order-wizard-cartitems-module-accordion-container{
	padding: 0;
}
.order-wizard-cartitems-module-accordion-container-table-header {
	display: none;
	@media (min-width: $screen-md-min) {
		display: table-header-group;
		width: 100%;
	}
}
.order-wizard-cartitems-module-accordion-container-table-header-image {
	@extend .item-view-cell-navigable-item-image;
	font-size: $sc-font-size-base;
	font-weight: $sc-font-weight-semibold;
}
.order-wizard-cartitems-module-accordion-container-table-header-details {
	color:$sc-color-theme;
	font-size: $sc-font-size-base;
	font-weight: $sc-font-weight-semibold;
}
.order-wizard-cartitems-module-accordion-container-table-header-quantity,
.order-wizard-cartitems-module-accordion-container-table-header-totalprice,
.order-wizard-cartitems-module-accordion-container-table-header-amount {
	text-align: right;
}


.order-wizard-cartitems-module-shipment-table{
	@extend .table-flex-item-navigable;
}
.lg2sm-first.order-wizard-cartitems-module-table{
	.item-views-cell-navigable-item-unit-price,
	.item-views-cell-navigable-item-quantity,
	.item-views-cell-navigable-amount {
		text-align: left;
	}
}
.order-wizard-cartitems-module-edit-cart-label{
	margin: 0;
	padding: 0 0 $sc-padding-base * 4;
	border-bottom: none;
}
.order-wizard-cartitems-module-edit-cart-link{
	font-size:$sc-font-size-base;
}

.order-wizard-cartitems-module-products-scroll{
	@media (min-width: $screen-sm-min){
		max-height:570px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.item-view-cell-navigable-item-quantity-label {
		display: inline-block;
	}
}
.order-wizard-cartitems-module-table{
	@extend .table-flex-item-navigable;
}