/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.error-management-page-not-found {
	padding: 0 !important;
	// margin-top: -34px; // used to overlap breadcrumbs
	// margin-top: -166px;
	margin-top: -40px;

	@media (min-width: $screen-md-max) {
		margin-top: -166px;
	}
}

.error-management-page-not-found-main-banner {}

.error-management-page-not-found-content {}

.error-management-page-not-found-header {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-bottom: 60.25%;
	text-align: center;

	@media (max-width: $screen-sm-min) and (orientation: landscape) {
		padding-bottom: 75.25%;
	}

	@media (max-width: $screen-sm-min) and (orientation: portrait) {
		padding-bottom: 100.25%;
	}
}

.error-management-page-not-found-caption {
	position: absolute;
	width: 500px;
	text-align: center;
	padding: $sc-padding-base * 10;
	background: $sc-theme-home-cta-background-color;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;

	@media (max-width: $screen-xs-min) {
		width: 300px;
		padding: $sc-padding-lv4;
	}

	@media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
		padding: $sc-padding-base * 10 $sc-padding-base * 6;
	}

	.error-management-page-not-found-title {
		h1 {
			margin-left: 20px;
			margin-right: 20px;
			font-size: $sc-theme-carousel-title-size;
			color: $sc-color-tertiary;
			font-weight: $sc-font-weight-light;
			@media (min-width: $screen-md-min) {
				margin-left: 0;
				margin-right: 0;
				font-size: $sc-theme-carousel-title-size;
				line-height: $sc-theme-carousel-title-size;
				padding-bottom: $sc-padding-base;

				span {
					font-size: $sc-font-size-xxl;
					line-height: 1;
					display: block;
				}
			}
		}
	}

	.error-management-page-not-found-text {
		display: block;
		margin-bottom: 0;
		color: $sc-theme-home-cta-link-color;
		text-transform: uppercase;
	}

	.error-management-page-not-found-button-container {
		padding-left: $sc-padding-lv4;
		padding-right: $sc-padding-lv4;
		margin-top: $sc-margin-lv4;
	}

	.error-management-page-not-found-button {
		@extend .button-secondary;
		@extend .button-small;
		box-shadow: 1px 1px 1px #333;
		@media (min-width: $screen-xs-min) {
			width: auto;
			position: relative;
		}
	}
}
