/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Flyout
//
// A flyout is a contextual popup that is used to temporarily show details related to what the user is currently doing.
// Flyouts can be used to show options or controls in response to a user tap or click.
// A flyout is always dismissed when the user taps outside of it or re-taps on the element that triggered the flyout.
//
// Markup:
// <div class="sc-flyout">
//   <button class="sc-flyout-control" data-toggle="dropdown">
//     Button
//     <i class="sc-flyout-toggle-icon"></i>
//   </button>
//   <div class="sc-flyout-content">
//     <p>A flyout is a contextual popup that is used to temporarily show details related to what the user is currently doing.</p>
//   </div>
// </div>
//
// Styleguide 3.2

.sc-flyout {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.sc-flyout-control {
	@extend .button-small;
	color: $sc-color-button-tertiary;
	padding: 0 $sc-padding-lv3;
	font-weight: $sc-font-weight-semibold;
	border: 1px solid $sc-color-theme-border-light;
	height: $sc-target-size;
	line-height: $sc-target-size;
	text-align: center;
	cursor: pointer;
	background: white;
	border-radius: $sc-border-radius;

	&:hover {
		color: $sc-color-button-tertiary-hover;
		text-decoration: none;

		&:disabled{
			opacity: 0.6;
			color: $sc-color-button-tertiary;
		}
	}

	&:focus {
		color: $sc-color-button-tertiary;
		outline: none;

		&:hover{
			color: $sc-color-button-tertiary-hover;
		}
	}

	&:active{
		color: $sc-color-button-tertiary-active;
	}

	&:disabled {
		opacity: 0.6;
		cursor: default;
	}
}

.sc-flyout-toggle-icon {
	@extend .fa;
	@extend %fa-angle-down;
	float: right;
	height: $sc-target-size;
	line-height: $sc-target-size;
	font-size: $sc-font-size-l;
	color: $sc-color-secondary;
	margin-left: $sc-margin-lv2;
	@include transition (transform $sc-animation-base-duration ease);
}

.sc-flyout-content {
	@extend .dropdown-menu;
	@include transition (opacity $sc-animation-base-duration ease);

	display: none;
	opacity: 0;
	border: 1px solid $sc-color-theme-border-light;
	box-shadow: 0 6px 6px transparentize($sc-neutral-shade-600, 1-0.175);
	left: 0;
	padding: $sc-padding-lv3;
	margin-top: 7px;
	background: $sc-neutral-shade-0;
	position:absolute;
	z-index:1;

	&:before {
		position: absolute;
		top: -7px;
		left: 14px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-color-theme-border-light;
		border-left: 7px solid transparent;
		border-bottom-color: transparentize($sc-neutral-shade-600, 1-0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		left: 15px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-neutral-shade-0;
		border-left: 6px solid transparent;
		content: '';
	}
}

.open .sc-flyout-content {
	display: block;
	opacity: 1;
}

.open .sc-flyout-control {
	@extend .button-tertiary:hover;
}

.open .sc-flyout-toggle-icon {
	@include rotate(180deg);
}

.sc-flyout-bg {
	background: $sc-neutral-shade-900;
	opacity: 0.1;
	height: 100%;
	width: 100%;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=10);

    @media (min-width: $screen-sm-min) {
    	display: none;
    }
}