/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Information box
//
// Markup:
// <div class="information-box">
// 	<div class="information-box-body">Body</div>
// 	<div class="information-box-summary">Summary</div>
// <div/>
//
// Styleguide 3.9

.information-box {
	width: 100%;
	border: 1px solid $sc-color-theme-border-light;
	background-color: $sc-neutral-shade-0;
}

.information-box-body {
	padding: $sc-padding-lv3;

	@media (min-width: $screen-sm-min) {
		padding: $sc-padding-lv4;
	}
}

.information-box-summary {
	padding: $sc-padding-lv2 $sc-padding-lv3;
	border-top: 1px solid $sc-color-theme-border-light;
	background-color: $sc-color-theme-background;

	@media (min-width: $screen-sm-min) {
		padding: $sc-padding-lv2 $sc-padding-lv4;
	}
}