{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<a href="#stores" class="{{#if hasClass}} {{className}} {{else}}storelocator-accesspoints-headerlink-link{{/if}}" data-touchpoint="{{touchpoint}}" data-hashtag="#stores" title="{{translate 'Store Locator'}}">
	<i class="storelocator-accesspoints-headerlink-link-icon"> </i>
	<span class="storelocator-accesspoints-headerlink-link-text"> {{translate title}}</span>
</a>



{{!----
Use the following context variables when customizing this template: 
	
	title (String)
	hasClass (Boolean)
	touchpoint (String)

----}}
