/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/* Edited for Horizon Theme */

.cart-item-summary-item-list-actionable-qty{
}

.cart-item-summary-item-list-actionable-qty-form{
}

.cart-item-summary-item-list-actionable-container-qty {
	margin-bottom: 10px;

	.cart-item-summary-item-list-actionable-label-qty {

		display: block;
		vertical-align: middle;
		color: $sc-color-copy-dark;
		margin-bottom:$sc-margin-lv2;
		font-weight: 600;

		@media (min-width: $screen-md-min) {
			display: table-cell;
		}
	}
	.cart-item-summary-item-list-actionable-input-qty {

		display: block;
		vertical-align: middle;
		overflow: hidden;
		@media (min-width: $screen-md-min) {
				display: table-cell;;
				padding-left: 20px;
		}
	}
}

.cart-item-summary-item-list-actionable-label-qty{
	@extend .transaction-line-views-cell-actionable-label-qty;
}

.cart-item-summary-item-list-actionable-input-qty{
	@extend .transaction-line-views-cell-actionable-input-qty;
}

.cart-item-summary-item-list-actionable-amount{
	@extend .transaction-line-views-cell-actionable-amount;
}

.cart-item-summary-item-list-actionable-amount-label{
	@extend .transaction-line-views-cell-actionable-amount-label;
}

.cart-item-summary-item-view-old-price{
	@extend .transaction-line-views-price-old;
}

.cart-item-summary-amount-value{
}

.cart-item-summary-quantity-title-help{
	clear: both;
	margin-top: $sc-margin-lv1;
	display: block;
	font-weight:$sc-font-weight-light;
}

.cart-item-summary-quantity-add {
	@extend .quantity-input-button-add;
}

.cart-item-summary-quantity-remove {
	@extend .quantity-input-button-remove;
}

.cart-item-summary-quantity-value {
 	@extend .quantity-input;
	background-color: $sc-theme-color-quantity-value !important;
    border: 0 !important;
    padding-right: $sc-padding-lv3;
    @media (min-width: $screen-md-min) {
        padding-right: 0;
    }
}

.cart-item-summary-promocodes .cart-promocode-list-item-container{
	@extend .transaction-line-views-cell-actionable-amount-label;
	padding-left: 0;
}

.cart-item-summary-promocodes .cart-promocode-list-item-code-value {
	@extend .sc-value;
}
