/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.cart-title{
	margin-bottom:$sc-margin-lv4;
	padding-bottom:$sc-padding-lv2;
	border-bottom:1px solid $sc-color-theme-border-light;

	@media (min-width: $screen-sm-min) {
		margin-bottom:$sc-margin-lv8;
	}
}

.cart-title-details-count{
	display: block;
	color:$sc-color-primary;
	text-transform: capitalize;

	@media(min-width: $screen-sm-min){
		display:inline-block;
	}
}

.cart-body{
	@extend .row;
	margin-bottom:$sc-margin-lv5;
    padding-bottom:$sc-padding-lv2;
    border-bottom:1px solid $sc-color-theme-border;
}

.cart-left{
	@extend .col-sm-7;
	@extend .col-lg-8;
}

.cart-left {
	.items-views-selected-option-color-tile{

	}

	.items-views-selected-option-picker{
		display: none;
	}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
	}
}

.cart-right{
	@extend .col-sm-5;
	@extend .col-lg-4;
}

.cart-empty{
	@extend .col-sm-12;
	@extend .col-lg-9;
}

.button-proceed-checkout{
	@extend .button-large;
	@extend .button-generic;
	@extend .button-primary;
}

.btn-paypal-express {
  text-align: center;
  margin-top: $sc-margin-lv3;
}
// sticky
.cart-proceed-to-checkout-container {
	margin-bottom: $sc-margin-lv4;
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}
.cart-proceed-to-checkout {
	@extend .button-proceed-checkout;
}


.button-saveforlater-addtocart{
	@extend .button-large;
	@extend .button-primary;
	display: block;
	margin-bottom: $sc-margin-lv2;
}

.button-saveforlater-remove{
	@extend .button-small;
	@extend .button-tertiary;
	display: block;
	margin-bottom: $sc-margin-lv8;
}

.saveforlater-actions{
	clear:both;
	display:block;
}

.saveforlater-cell{
	@extend .col-xs-12;
	@extend .col-sm-3;
}

.cart-savedforlater [data-pusher]{
    // background:$sc-neutral-shade-0;
    background: $sc-color-tertiary;
}

.product-list-details-later-col{
	padding-right:$sc-padding-lv3;
}

.button-saveforlater-addtocart{
	display:inline-block;
	width:auto;
}

.cart-body-empty-title {}
.cart-body-empty-info {
	margin-bottom:$sc-margin-lv8;
}

/* CART ITEM ACTIONS */
.cart-item-actions-links a:first-child {
    padding-left: 0;
}
