{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}


<li class="store-locator-list-all-store-col" data-id="{{storeId}}">
		<a class="store-locator-list-all-store-name" data-touchpoint="{{touchpoint}}"  data-toggle="show-in-pusher" data-hashtag="stores/details/{{storeId}}" href="stores/details/{{storeId}}">{{name}}</a>
</li>





{{!----
Use the following context variables when customizing this template: 
	
	name (String)
	storeId (String)
	touchpoint (String)

----}}
