/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.facets-item-list-display-selector{
	@extend .icon-button;
    @extend .icon-button-controls;

    border: none;
	background-color: $sc-theme-color-background;
	margin-bottom: 1px;

	&.active {
		color: $sc-color-quaternary;
        background-color: $sc-theme-color-background;
		border: none;

		i {
			color: $sc-color-quaternary;
		}
	}

	@media (max-width: $screen-md-min) {
		margin: 0;
		flex-direction: row;
        margin-left: $sc-margin-base;
	}
}

//hide active on mobile
.facets-item-list-display-selector.active{
	// display:none;

	@media (min-width: $screen-sm-min){
		display: inline-block;
	}
}

//dispaly the grid icon
.facets-item-list-display-selector-grid{
	display:none;

	@media (min-width: $screen-sm-min ){
		display: inline-block;
	}
}
