/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.facets-item-list-show-label {
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.facets-item-list-show-selector {
    @extend .list-header-filter-input;
    border: none;
    background-color: $sc-theme-color-background !important;
    margin-top: 8px;

    @media (min-width: $screen-md-min) {
        margin-top: 0;
        margin-right: $sc-margin-lv2;
    }

    @media (max-width: $screen-md-min) {
        margin-bottom: $sc-margin-lv2;
    }
}
