/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.facets-facet-browse {
	width: 100%;
}

// .facets-facet-browse-breadcrum {
// 	@extend .breadcrumb;
// }

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Category

.facets-facet-browse-category {
	@extend .clearfix;
}

.facets-facet-browse-category-cells-container {
    @extend .container;
    padding-top: 20px;
    @media (min-width: $screen-md-min) {
        padding-top: 60px;
    }
}
.facets-facet-browse-category-cells {
    @extend .row;

}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header
.facets-facet-browse-header {
	@extend .clearfix;
	@extend .col-sm-12;

    @media (max-width: $screen-md-min) {
        border-bottom: 1px solid $sc-color-theme-600;
        padding: 20px 15px 15px 15px;
        padding: $sc-padding-lv4 $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv3;
        float: none;
    }
}

.facets-facet-browse-title {
	@extend .list-header-title-ahead;
    display: none;
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.facets-facet-browse-title-alt {
    color: $sc-color-primary;
}

.facets-facet-browse-list-header {
	@extend .list-header;
}

.facets-facet-browse-list-header-actions {
    @extend .list-header-actions;

    @media (max-width: $screen-md-min) {
        margin: 0;
    }
}

.facets-facet-browse-list-header-expander {
    @extend .list-header-expander;

    @media (max-width: $screen-md-min) {
        float: left;
    }
}

.facets-facet-browse-list-header-expander-button {
	@extend .list-header-expander-button;
}

.facets-facet-browse-list-header-expander-icon {
	@extend .list-header-expander-icon;
}

.facets-facet-browse-list-header-filters {
	@extend .list-header-filters;
}

.facets-facet-browse-list-header-filters-wrapper {
    @extend .list-header-filters-wrapper;
    background-color: transparent;
    border: none;
}

.facets-facet-browse-list-header-filters-row {
	@extend .list-header-filters-row;
}

.facets-facet-browse-list-header-filter-column {
    @extend .list-header-filter-column;

    @media (max-width: $screen-md-min) {
        width: 100%;
    }
}

.facets-facet-browse-list-header-filter-facets {
	@extend .list-header-filter-facets;
}

.facets-facet-browse-list-header-filter-facets-icon {
    @extend .list-header-filter-facets-icon;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header main content layout

.facets-facet-browse-content,
.facets-facet-browse-empty-items {
	@extend .clearfix;
}

.facets-facet-browse-empty-items {
    margin: $sc-margin-lv3;
}

.facets-facet-browse-facets-sidebar
{
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.facets-faceted-navigation-item-cateogry
{
	padding-right: $sc-padding-lv3;
}

.facets-faceted-navigation-item-cateogry .facets-faceted-navigation-item-facet-group-expander-icon
{
	line-height: 66px + $sc-padding-lv6;
}

.facets-facet-browse-facets {
	@extend .col-md-3;
	@include box-shadow(0 0 6px $sc-color-secondary);
	padding: 0;
	background-color: $sc-neutral-shade-0;
	overflow-x:hidden;

	@media (min-width: $screen-md-min) {
        //@extend .col-md-12; //causes error
        width: 100%;
		@include box-shadow(none);
		overflow:visible;
		// padding-right: $sc-padding-lv3;
		background-color:transparent;
	}
}

.facets-facet-browse-facets[data-pusher="sc-pushable-md"] .sc-pusher-header {
  margin-left: 0px;
}

.facets-facet-browse-results {
	@extend .col-md-12;
    padding: 0;

    .facets-empty {
        @extend .container;
        text-align: center;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Items

.facets-facet-browse-items .backbone-collection-view-row {
	margin-bottom: $sc-margin-lv4;

	//the margin is only for the first backbone-collection-view-row
	.backbone-collection-view-row {
		margin-bottom: 0;
	}
}

.facets-facet-browse-items .item-view-stock-msg-description {
	margin-top:0;
}

.facets-facet-browse-narrowedby {
	padding-top: $sc-padding-lv3;
	padding-bottom: $sc-padding-lv3;
	text-transform: capitalize;
	line-height: 35px;

    @media (min-width:$screen-md-min) {
        padding: 0 $sc-padding-lv3;
    }
}

.facets-facet-browse-items {
    @extend .container-fluid;

	.item-cell-price {
		margin-bottom: $sc-margin-lv2;
	}

	.item-cell-image {
		max-width: 100%;
		max-height: 100%;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Pagination

.facets-facet-browse-pagination {
	float: right;
	margin-bottom: $sc-margin-lv8 + $sc-target-size;
}

.facets-faceted-navigation-facets-clear {
    display: none !important;
}

// Left
.facets_faceted_navigation_container {
    width: 100%;
}

.facets-faceted-navigation-item-color-facet-group,
.facets-faceted-navigation-item-range-facet-group,
.facets-faceted-navigation-item-facet-group {
    @extend .col-xs-12;
    @extend .col-md-2;

    padding: 0 0 10px 0 !important;
    margin-right: $sc-margin-lv2;

    @media (min-width: $screen-md-min) {
        min-width: 160px;
        width: auto;
    }
}

.facets-faceted-navigation-item-color-facet-group-expander,
.facets-faceted-navigation-item-facet-group-expander,
.facets-faceted-navigation-item-range-facet-group-expander {
    @extend .list-header-filter-input;
    border: none;
    background-color: $sc-theme-color-background !important;
    padding: 10px 30px 10px 10px;
    font-weight: $sc-font-weight-normal;
    font-family: inherit;
    width: 100% !important;

    .facets-faceted-navigation-item-color-facet-group-title,
    .facets-faceted-navigation-item-facet-group-title,
    .facets-faceted-navigation-item-range-facet-group-title {
        padding: 0 20px 0 10px;
        font-weight: normal;
        font-family: inherit;
    }

    .facets-faceted-navigation-item-color-facet-group-expander-icon,
    .facets-faceted-navigation-item-facet-group-expander-icon,
    .facets-faceted-navigation-item-range-facet-group-expander-icon {
        margin: 4px 8px;
    }

    &.collapsed {
        background-color: $sc-theme-color-background;
        color: $sc-color-copy-dark;

        .facets-faceted-navigation-item-color-facet-group-expander-icon,
        .facets-faceted-navigation-item-facet-group-expander-icon,
        .facets-faceted-navigation-item-range-facet-group-expander-icon {
            margin-top: 6px;
        }

        .facets-faceted-navigation-item-color-facet-group-title,
        .facets-faceted-navigation-item-facet-group-title,
        .facets-faceted-navigation-item-range-facet-group-title {
        }
    }
}

.facets-faceted-navigation-data-view {
    @extend .row-fluid !optional;
}
