/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.facets-facets-display-narrowedby-title{
    text-transform: capitalize;
    padding-left: $sc-padding-lv3;

    @media (min-width: $screen-md-min){
        padding-right: $sc-margin-lv2;
        padding-left: 0;
    }
}

.facets-facets-display-filter {
	@extend small;
	color: $sc-color-secondary;
	margin-left: $sc-margin-lv2;
    display: inline-block;

    @media (min-width: $screen-md-min){
        margin-left: 0;
        margin-right: $sc-margin-lv2;
    }
}

.facets-facets-display-filter-delete-icon {
	@extend .icon-base;
	@extend %fa-times-circle;

	position: relative;
	top: 2px;
	color: $sc-color-secondary;
	margin-left: $sc-margin-lv1;
}

.facets-facets-display-clear-wrapper{
    margin-top: $sc-margin-lv1;

	@media (min-width: $screen-md-min){
		display: inline-none;
	}
}

.facets-facets-display-clear {
    // @extend .filter-generic;
    @extend .button-small;

    @media (min-width: $screen-md-min){
        font-size:$sc-font-size-m;
        margin-left: 0;
        margin-right: $sc-margin-lv2;
        display: inline-block;
        color: $sc-color-theme-600;
        border: none;
        padding-left: 0;
        padding-bottom: 12px;

        &:hover {
            color: $sc-color-theme;
            background: transparent;
        }
    }
}

.facets-facets-display-clear-icon {
	@extend .facets-faceted-navigation-facet-option-circle;
}
