/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Edited for Horizon Theme

.facets-faceted-navigation {
	@extend .clearfix;
	@extend .col-sm-12;
}

.facets-faceted-navigation-results{
	padding-top: $sc-padding-lv4;
	padding-left: $sc-padding-lv3;
	padding-right: $sc-padding-lv3;

    font-size: $sc-font-size-base;
    font-weight: $sc-font-weight-normal;

    float: initial;
    min-width: 130px;

    clear: both;

	@media (min-width: $screen-md-min){
        padding-left: $sc-padding-lv2;
		display: none;
    }

    @media (max-width: $screen-md-min){
		display: inline-block !important;
		padding-left: 0;
		padding-bottom: $sc-padding-lv3;
	}
}

.facets-faceted-navigation-title-alt {
	color: $sc-color-primary;
}

.facets-faceted-navigation-facet-group {
	padding: $sc-padding-lv2 $sc-padding-lv3;
}

.facets-faceted-navigation-title {

	@media (min-width: $screen-md-min) {
		font-size: $sc-font-size-xxl;
		font-weight: $sc-font-weight-semibold;
		text-align: left;
		clear: both;
		display: inline-block;
		padding: $sc-padding-lv3;
		padding-bottom: $sc-padding-base;
		padding-left: 0;
		width: 160px;
	}
}

.facets-faceted-navigation-category-wrapper {}

.facets-faceted-navigation-facets-clear {
	@extend .button-tertiary !optional;
	@extend .button-small;
	width: initial;
	position: absolute;
	top: 0;
	right: 0;
	margin: $sc-margin-lv4;

	@media (min-width: $screen-md-min) {
		position: initial;
		display: inline-block;
		margin-left: $sc-margin-lv3;
	}
}

.facets-faceted-navigation-facets-clear-icon {
	@extend .facets-faceted-navigation-facet-option-circle;
}
.facets-faceted-navigation-facet-group-expander:hover {
	text-decoration: none;
}

.facets-faceted-navigation-facet-group-title {
    font-size: $sc-font-size-base;
    @media (min-width: $screen-md-min) {
		max-width: 210px;
		overflow: hidden;
	}
}

.facets-faceted-navigation-facet-group-expander {
	display:block;
	padding: $sc-padding-lv2 0;
}

.facets-faceted-navigation-facet-group-expander-icon {
	float: right;
	color: $sc-color-copy;
	font-size: $sc-navigation-icon-size;
	// margin-top: -3px;
	@extend .icon-angle-up;
    @include transition-transform(300ms ease);

    //border-left: 1px solid white;
    //border-right: none;
    line-height: $sc-target-size;
    padding: 0 $sc-padding-base 0 $sc-padding-lv2;
    margin-top: -$sc-padding-lv2 !important;
}

.collapsed .facets-faceted-navigation-facet-group-expander-icon{
    @include rotate(180deg);

    //border-right: 1px solid white;
    //border-left: none;
    padding: 0 $sc-padding-lv2 0 $sc-padding-base;
}

/*  */
.facets-faceted-navigation-facet-option {
    // @extend .single-select-option;
    @extend small;
	color: $sc-color-copy;
	padding: $sc-padding-lv2 0;
	display: block;
}

.facets-faceted-navigation-facet-option:hover {
	text-decoration: none;
}

.facets-faceted-navigation-facet-option.option-active {
	color: $sc-color-theme-600
}

.facets-faceted-navigation-facet-option-circle {
    // @extend .single-select-icon-close;
    @extend .icon-base;
	@extend %fa-times-circle;
	color: $sc-color-theme-600;
	margin-left: $sc-margin-base;
	cursor: pointer;
}
/* */

.facets-faceted-navigation-content .sc-pusher-header{
	margin:0;
}
