/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.store-locator-list-all-main {
	@extend .container;

	h2 {
		padding-bottom:$sc-padding-lv3;
		padding-top:$sc-padding-lv3;
		border-bottom:1px solid $sc-color-theme-border-light;
		margin-bottom:$sc-margin-lv3;
	}

	.global-views-pagination {
		margin-bottom:$sc-margin-lv4;
	}
}

.store-locator-list-all-container {
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-gap: 0;
	width: 100%;
	@media (min-width: $screen-sm-min){
		column-count: 4;
		-moz-column-count: 4;
		-webkit-column-count: 4;
	}
}
