/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.store-locator-list-all-store-col {
	display: inline-block;
	width: 100%;
	height: 15px;
	color: white;
	line-height: 15px;
	padding-bottom:$sc-padding-lv5;
}

.store-locator-list-all-store-name {
	display:block;
	padding-bottom:$sc-padding-lv2;
}

