/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.store-locator-search {  }

.store-locator-search-search-view {

}


.store-locator-search-button-container {
	display:block;
	margin-bottom:$sc-margin-lv4;
	margin-top:$sc-margin-lv4;
}

.store-locator-search-button-current {
	@extend .button-medium;
	@extend .button-tertiary;
	@extend .button-generic;
	background-color:$sc-neutral-shade-0;
}

.store-locator-search-button-current.active {
	@extend .pill-button-active;
}

.store-locator-search-button-find {
	@extend .button-medium;
	@extend .button-primary;
	@extend .button-generic;
}

.store-locator-search-geolocation {
	margin-bottom:$sc-margin-lv2;
}

.store-locator-search-geolocation-message-warning {
	@extend .message-warning;
	margin-bottom: $sc-margin-lv2;
	margin-top: $sc-margin-lv2;
	display: none;
}


.store-locator-search-input-autocomplete {
	margin-bottom:$sc-margin-lv4;
}

.store-locator-search-buttons-container {
	@extend .row;
}

.store-locator-search-buttons-container-find {
	@extend .col-xs-12;
	margin-bottom:$sc-margin-lv1;
}

.store-locator-search-buttons-container-geolocalization {
	@extend .col-xs-12;
}

.store-locator-search-buttons-container-or {
	@extend .col-xs-12;
	text-align:center;
	margin-bottom:$sc-margin-lv4;
	color:$sc-color-copy-light;
	border-bottom:1px solid $sc-color-copy-light;
	span {
		background:$sc-neutral-shade-0;
		padding:0 $sc-padding-lv1;
		position:relative;
		top:7px;
	}
}

.store-locator-search-buttons-container-or-wrap {
	padding-left:$sc-padding-lv3;
	padding-right:$sc-padding-lv3;
}


.store-locator-search-button-after-find {
    @extend .button-secondary;
}

.store-locator-search-group {}

.store-locator-search-group-label {}

.store-locator-search-group-form-controls {}

.store-locator-search-group-form-controls p[data-validation-error="block"] {
	margin-bottom: $sc-margin-lv2;
}

.store-locator-search-enter-location {}

.store-locator-search-button-current-icon {
	@extend .icon-map-marker;
}