<div class="size-chart-content">
    <div class="size-chart-text">
        <h4>Measuring Guide</h4>
        <p>To choose the correct size for you, measure your body as follows:</p>
        <h5>Chest</h5>
        <p>Measure a loop under your child's armpits, passing the tape across the fullest part of the chest and around the shoulder blades.</p>
        <h5>Waist</h5>
        <p>Measure a loop just above your child's hip bone, around the natural waistline.</p>
        <h5>Torso</h5>
        <p>Measure a loop from your child's shoulder, at the base of the neck, down the front of the body to the crotch and back up the other side.</p>
    </div>
    <div class="size-chart-image">
        <img src="/images/sizecharts/girlsdresses.png" alt="Girl's Dresses" />
    </div>
</div>

<div class="size-chart-measurements">
    <h4>Measurements (inches)</h4>

    <div class="size-chart-table-wrapper">
        <table class="size-chart-table">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Waist</th>
                    <th>Chest</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>33 - 36</td>
                    <td>20</td>
                    <td>19.75</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>36 - 39</td>
                    <td>20.5</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>39 - 42</td>
                    <td>21</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>42 - 45</td>
                    <td>21.5</td>
                    <td>23</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Measurements (cms)</h4>

    <div class="size-chart-table-responsive">
        <table class="size-chart-table">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Waist</th>
                    <th>Chest</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>84 - 91.5</td>
                    <td>51</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>91.5 - 99</td>
                    <td>52</td>
                    <td>53.5</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>99 - 106</td>
                    <td>53.5</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>106 - 114</td>
                    <td>54.5</td>
                    <td>58.5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>